[2020-10-07 06:57] pjunlin commented on #314
[testjsonschema.zip](https://github.com/tdegrunt/jsonschema/files/5338716/testjsonschema.zip)
I upload a very simple project for you to test, just run npm i   and npm run build
And it fails with

$ npm run build

node_modules/jsonschema/lib/index.d.ts:98:27 - error TS2304: Cannot find name 'function'.

98     preValidateProperty?: function;
[code]

[2020-10-07 06:59] zsgalusz commented on #314
`function` is not valid typescript in the type definition there, it should be capitalised `Function`

[2020-10-07 08:02] awwright commented on #314
@pjunlin @zsgalusz This should be fixed in 1.2.10, c820ba82ed84fb2366903560c40e9f524425f2bc

Could you consider submitting a PR to add a test for this bug? I'm not sure where to start.

[2020-10-07 10:58] 3nvi opened #315 "`const` possibly has a wrong typing"
Hey there,

Thanks for all your work  and for being responsive.

I think I've spotted a small bug with the typings. Namely, I see that [`const` is typed as `any[]`](https://github.com/tdegrunt/jsonschema/commit/872935b4a856a0f69d0363d5f52e1c47789725d5) although the v6 draft states that a `const` [is a single value](https://json-schema.org/understanding-json-schema/reference/generic.html#constant-v

[2020-10-07 23:13] awwright opened #316 "Tests for TypeScript interface"
Right now, there's no tests that exercise the [TypeScript interface](https://github.com/tdegrunt/jsonschema/blob/master/lib/index.d.ts). Figure out how to publish tests for this interface, to prevent breakage.

See also: #314 #165 #194 and lots of others

[2020-10-07 23:14] awwright commented on #314
I'm going to close this out because the bugfix is published. Please see #316 for adding tests.

[2020-10-07 23:14] #314 closed

[2020-10-07 23:17] awwright commented on #315
@3nvi Yes that's right, nice catch.

I just made af3215433e4ce29146593fd18c44ea045a0498f2 to fix this, let me know if that looks correct.

If you know a good way to write tests for the TypeScript definitions, by all means please file a PR.

[2020-10-07 23:17] #315 closed

[2020-10-08 05:32] 3nvi commented on #315
That looks perfect, thank you! Is  there a chance of a patch release in the coming days?

P.S. Unfortunately, I don't know of a  way to properly validate TS. Perhaps by comparing & cross-validating with the typings from `ajv` you can get some additional re-assurance

[2020-10-08 05:39] awwright commented on #315
@3nvi One or two days, probably.

[2020-10-09 00:47] awwright commented on #60
This should be fixed in 326e43eeaee5b667ad06fcf368350ae9cef9fb1c:

* Undefined values in "properties" and "patternProperties" should be handled the same as no value
* Null values will throw a better error

[2020-10-09 00:47] #60 closed

[2020-10-09 04:13] awwright commented on #269
The example should work now, as of 67a04603514b451da7ce86ce3c98afedf19dabd3

[2020-10-09 04:13] #269 closed

[2020-10-09 21:29] awwright commented on #220
This should be fixed in 27cc3a5239e1922ce61f2880d5ec96b592e819b2

[2020-10-09 21:29] #220 closed

[2020-10-12 20:48] reneklootwijk opened #317 "Determine value of readonly annotation"
Is there an easy way to determine the value of the readonly annotation for a specific property specified in the schema?

[2020-10-12 21:03] awwright commented on #200
Implemented in 817a367d7318892d5e9154eb933f54460086dfe3

[2020-10-12 21:03] #200 closed

[2020-10-12 21:07] awwright commented on #317
The library doesn't offer any way to read annotations specifically, however you can use a [rewrite hook](../../jsonschema#rewrite-hook) to do effectively the same thing. I would read the `schema` argument for schemas that contain a `readOnly` property, then store those `instance` values somewhere.

[2020-10-14 10:20] reneklootwijk commented on #317
Thanks, that worked although I would have liked an easier way.

[2020-10-14 23:19] awwright opened #318 "Annotations API"
Provide a mechanism to collect annotations on instances. For example, "title" and "description". The result should be similar to a list of validation errors; including the schema & keyword setting the annotation, the instance, the property path to the instance, and the value of the annotation.

[2020-10-14 23:31] awwright commented on #317
Better support for annotations is on the roadmap, and I opened #318 for this.

I'm closing this out since the problem seems to be solved. Please drop a comment or open an issue, if you have any further comments or suggestions.

[2020-10-14 23:31] #317 closed

[2020-10-14 23:33] awwright opened #319 "$id keyword"
"id" is now also called "$id" because it's considered a "core" keyword.

[2020-10-14 23:46] awwright commented on #252
I pushed five new tags corresponding to when the package.json was updated. Note, there was no `1.2.1` release for some reason.

[2020-10-14 23:46] #252 closed

[2020-10-15 00:02] awwright commented on #319
This should be implemented in e2f78b7332e7da0f732efd95c5563462a962b74e but the final test will be in implementing #289.

[2020-10-15 00:02] #319 closed

[2020-10-15 00:20] awwright commented on #274
Fixed in b5a0b81236d4b42c27c99168c79faaa3a29ff7fd

[2020-10-15 00:20] #274 closed

[2020-10-15 02:29] awwright commented on #250
This code sample works for me as of e2f78b7332e7da0f732efd95c5563462a962b74e and will be available in the next release (minor release).

[2020-10-15 02:29] #250 closed

[2020-10-15 02:30] awwright commented on #319
Related: #250

[2020-10-15 05:51] awwright commented on #307
Implemented in 53d91402b0a9944cba8c2967a932237578d48a34

[2020-10-15 05:51] #307 closed

[2020-10-15 18:13] gandalfzyq opened #320 "Reuqired field no longer allows null"
In version 1.2.10,
`validate` allow null when a field is set as required.

In version 1.2.11,
`validate` no longer allows null when a field is set as required.

Is this expected?

[2020-10-15 19:58] awwright commented on #18
Loading <https://bundle.run/jsonschema@1.2.11> in a script tag appears to work without any modifications. It creates a `jsonschema` global variable.

[2020-10-16 00:29] awwright commented on #320
Hi @gandalfzyq, can you please provide a code sample, with expected and actual output?

[2020-10-16 00:38] awwright commented on #310
Implemented in 7c33d761818384eba3b581fcd0a0cd21a30108d7 with the "path" property.

[2020-10-16 00:38] #310 closed

[2020-10-16 14:28] gandalfzyq commented on #320
Hi @awwright , to be more accurate,
in 1.2.10,
[code]

This will not throw an exception. But in 1.2.11, I got the
![image](https://user-images.githubusercontent.com/3908062/96270990-56c40800-0f9a-11eb-86cd-198b6cf58a1c.png)

[2020-10-16 19:52] awwright commented on #320
@gandalfzyq Using a literal `null` for "type" is unsupported, and did not work consistently. Use the string `"null"` instead, this is the standard form expected by JSON Schema.

[2020-10-16 20:09] gandalfzyq commented on #320
Ah ok, thanks!

[2020-10-16 20:09] #320 closed

[2020-10-17 07:09] awwright commented on #105
I'm going to close this as a duplicate of #264, which should solve this issue. Please drop a comment if there's anything missing in that issue.

[2020-10-17 07:09] #105 closed

[2020-10-20 01:45] awwright commented on #312
This is implemented as of 5a8649de5270854d888221e01274b501827b6702

[2020-10-20 01:45] #312 closed

[2020-10-20 22:57] awwright commented on #264
Gonna bump this up to the next minor (feature) release, it will be enabled with the `throwFirst` and `throwAll` options.

[2020-10-20 23:38] awwright commented on #264
This is implemented in 85836efd1b95751674ec820ee62767a7a6632571

[2020-10-20 23:38] #264 closed

[2020-10-22 19:57] goyney opened #322 "Release Notes/CHANGELOG?"
Where does this project publish its release notes or CHANGELOGs? We've recently tried updating from `1.2.6` to `1.4.0`, which should be a non-breaking upgrade as per semver, but it breaks everything. Unfortunately, I cannot find your list of changes to determine if we need to change code on our end or report a bug.

Thank you!

[2020-10-22 20:00] awwright commented on #322
@goyney See the milestones, https://github.com/tdegrunt/jsonschema/milestones?state=closed

However, there should be no breaking changes for valid JSON Schema objects. Please file an issue so I can take a look at it.

[2020-10-22 20:11] goyney commented on #322
I've walked back versions: `1.4.0`, `1.3.0`, `1.2.11`, `1.2.10`, `1.2.9`, and `1.2.8`. The `1.2.7` version worked again. As I said before, we were on `1.2.6`.

Therefore, the break happened in the `1.2.7` to `1.2.8` update. There errors we seeing on `1.2.8` and higher look something like:

[code]

Before I try to create a smaller reproduction case, is there anything you know of that changed around

[2020-10-22 20:17] awwright commented on #322
@goyney Something's calling Validator#validate with a `schema` that's not a valid JSON Schema. Previously, an even more cryptic error would be thrown (often along the lines of `TypeError: Cannot read property 'id' of undefined`), but it's possible in some cases it would just do nothing.

[2020-10-22 20:20] goyney commented on #322
Thank you. These errors were caught by our unit test suite. If it's possible that some cases it would do nothing, that might make sense if our mock data isn't valid schemas to begin with. We'll check that out and if we find something more out of the ordinary, I will open a separate issue with more details.

[2020-10-22 20:20] #322 closed

[2020-10-22 20:23] awwright commented on #322
Yeah, if you can find the value for `schema` that wasn't throwing before, then by all means.

I don't know if there's much I'll be able to do about it, we only claim to support valid a JSON Schema.

However, I'm adding better argument checking and errors, instead of silently ignoring values that are nonsensical. I'm holding most of those for v2.

[2020-10-22 23:50] awwright commented on #273
@SebastianG77 By the way, if/then/else and numeric exclusiveMinimum/exclusiveMaximum from draft-7 are now supported as of 1.3.0. Full support will be available in the next major (breaking) version.

[2020-10-23 08:17] SebastianG77 commented on #273
Thanks for letting me know. I recently had a quick peek at your git history and have already seen you implemented something in this regard. Good to see you are putting effort into enhancing this module and adding new features, as this still is my preferred JSON validator :)

[2020-10-23 19:51] awwright opened #323 "draft-6 support ("contains" keyword)"
- [x] "contains"
- [x] draft-6 test suite
- [ ] "idn-email" format
- [ ] "idn-hostname" format
- [ ] "iri" format
- [ ] "iri-reference" format
- [ ] "json-pointer" format
- [ ] "relative-json-pointer" format
- [ ] "uri-template" format

See also:

"exclusiveMinimum"/"exclusiveMaximum" — implemented in 1.3.0
"if"/"then"/"else" — implemented in 1.3.0

[2020-10-23 20:26] awwright commented on #323
Implemented in 763431b48a1c6dca88160a750d0a43180fd606e7, 82e0ca06047544567698102ed6933aed2f269bd9

[2020-11-17 23:56] kyrandita opened #325 "Pattern handling breaks when passing patterns with flags"
Recently updated to 1.3.0, the bug seems to have been introduced in 1.2.7 relating to commit https://github.com/tdegrunt/jsonschema/commit/35db08dac87a627f6e0ebcaaf72c15bfb4cf3fde (thanks to issue https://github.com/tdegrunt/jsonschema/issues/311 for finding this for me)

The issue is that when passing an existing regex pattern `/abc/i` (matches 'abc', 'ABC' and various combinations) the existing

[2020-11-18 00:02] kyrandita commented on #325
although realistically you could move the entire try/catch inside this else block since it's only to provide backup behavior if your forcing the `u` flag breaks things on string patterns

[2020-11-18 06:18] spydercavern opened #326 "Circular Dependency Warnings in latest Node v14.15.1"
Hi,
I have recently updated the node version to v14.15.1, but with this upgrade, i see a lot of warnings like below from json schema project. I currently use the 1.4.0 version of jsonschema in the project.
Node Version  v14.15.1
jsonschema 1.4.0

Warning logs-
(node:55774) Warning: Accessing non-existent property 'not' of module exports inside circular dependency
    at emitCircularRequireWarning

[2020-11-18 17:32] awwright commented on #325
Passing a RegExp literal is not currently supported (it's not described anywhere, and there's no test for it).

But this is a reasonable feature request, I'll take a look.

[2020-11-18 18:18] kyrandita commented on #325
examples/all.js line 207 (last updated in 2016) is passing a RegExp literal, although not using flags to be sure... Though this was implemented long enough ago initially that I can't be sure it wasn't just "try and see if it works" on our side... in either case thank you for considering this :)

[2020-11-18 21:56] awwright commented on #326
I'm not seeing any errors like this. Can you provide an example of what you're doing to see this? Is it possible to write a test?

[2020-11-19 16:59] ahtokca opened #327 "false positive on enum validation"
First of all thanks for very convenient module to validate the schema.

I found a false positive when validating enums. I made a jest test for you.

[code]
 I use node 14.0.0. and 1.4.0 of jsonschema and I expect the test to pass by having `validate` to produce an error

[2020-11-19 17:03] ahtokca commented on #327
another case of false positive I found is 'string vs object'

[code]

[2020-11-19 17:16] awwright commented on #327
Hi @ahtokca, thanks for providing a code sample.

Try this first: https://github.com/tdegrunt/jsonschema#fail-on-unknown-keywords

Take a closer look at this part of the code:

[code]

The "properties" keyword expects an object of schemas. You are defining a "claim" property, but the schema it defines uses an unknown keyword, "status". This unknown keyword is ignored. You probably want to use a "p

[2020-11-19 17:28] ahtokca commented on #327
Thanks for quick reply. BTW I figured out. My schema is invalid. it should be
[code]

issue can be closed

[2020-11-19 17:29] #327 closed

[2020-11-20 09:52] XeniaSiskaki opened #328 ""patternProperties" regex not validating properly"
I'm using the `patterProperties` to validate some keys but it's not validating as expected. It seems to successfully validate all keys even if they are invalid.

I have the following snippet to reproduce the issue:

[code]
According to the `patternProperties` regex the string shouldn't be allowed to start with a numeric.

regex101 seems to also agree
![Screenshot from 2020-11-20 10-48-28](https://

[2020-11-20 09:56] XeniaSiskaki commented on #328
Seems like I messed up the schema, closing for now

[2020-11-20 09:56] #328 closed

[2020-12-03 11:51] hassaniqbalKhan opened #329 "Schema Validation Error Body"
I am trying to validate json schema for the api response but on failure, I am unable to figure out the root cause of failure. I have attached the screenshot of the error. I need complete error for which the validation is failing.
<img width="633" alt="Screenshot 2020-12-03 at 4 48 25 PM" src="https://user-images.githubusercontent.com/73834788/101014374-9c0eba00-3587-11eb-8bda-a05cad16e92e.png">

[2020-12-03 18:54] awwright commented on #329
I can't tell what's going on here by this alone, but you should be able to debug the error, look at the property that is failing, and then figure out what the value is and what it's supposed to be.

[2021-01-14 15:29] asc-it-minds opened #332 "skipAttributes does not seem to work?"
#### Current behaviour
Trying to use skipAttributes does not seem to skip the validation of a certain key.

Looking at the below code, the key ```gender``` is still validated.

[code]
The validation is false, but I want it to skip the validation of "gender" so that the above validationResult would be valid.
#### Desired behaviour
Want to be able to skip validation of certain keys.

[2021-01-24 09:39] vujovicigor commented on #262
Add custom format function:
`const Validator = require('jsonschema').Validator;
let uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-5][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$/i
Validator.prototype.customFormats.uuid = function(input) {
  return uuidRegex.test(input)
};`

Usage:
`{
      "type": "string",
      "format": "uuid"
}`

[2021-01-26 12:04] zoellner commented on #318
would this enable the following use case:

I'd like to validate an object against a schema (created from an OpenAPI schema) but depending on the use case, ignore the required if the `readOnly` attribute is set. E.g. an API payload to create an object would not require the id in the example below since that is added later by the database.

Payload
[code]

Schema
[code]

I'd like to validate this an

[2021-01-30 22:33] craigphicks opened #333 "Design question about custom validation functions"
I would guess the canonical way to implement a schema-specific  validation function is as follows:

[code]

I couldn't find anything on Stack Exchange approach the topic, and nothing in the man pages here.
Is it ok?

[2021-01-31 07:10] craigphicks opened #334 "Not one example of a recursive schema in man page or examples."
I recommend you include one tiny example of a recursive schema as doubtless others will look for the same thing.

[2021-01-31 20:08] craigphicks commented on #333
Not an essential issue.  Closing.

[2021-01-31 20:08] #333 closed

[2021-01-31 20:08] craigphicks commented on #334
Not an essential issue.  Closing.

[2021-01-31 20:08] #334 closed

[2021-02-07 02:07] awwright commented on #326
@spydercavern I cannot reproduce this. Would you be able write a minimal test that will produce this error?

[2021-02-07 02:14] awwright commented on #329
@hasansaghir The [validation result](https://github.com/tdegrunt/jsonschema#results) should include sufficient information to debug what's going on here. In particular, the `property` or `path` properties should tell you the particular instance that is failing.

If you have a particular suggestion on how the error reporting can be improved, please feel free to open a new issue.

[2021-02-07 02:14] #329 closed

[2021-02-07 02:19] awwright commented on #332
The `skipAttributes` configuration specifies _schema keywords_ to be ignored. The keyword can only be entirely ignored, you can't (for example) tell the "properties" keyword to ignore certain properties and validate others.

If you would like to ignore errors affecting a particular instance, I would suggest:

1. Filter the errors list, e.g. `result.errors.filter(function(v){ return v.path.indexOf(

[2021-02-07 04:10] awwright commented on #325
@kyrandita Can you please post a code sample that you think should work, but doesn't? This seems to work for me:

[code]

[2021-02-07 04:14] awwright commented on #221
I'm going to move this to v2 since people probably mine the validation messages, and that gives some additional freedom to fix related things.

[2021-02-08 09:18] asc-it-minds commented on #332
Thank you for the clarification and suggestion.

[2021-02-08 09:18] #332 closed

[2021-02-15 13:18] conde2 opened #336 "alpha-numeric format not working"
Hello I just noticed that the alpha-numeric format is not working, here is an example:
I want to add multiple formats thats why I'm using allOf,

[code]

[2021-02-15 13:22] conde2 commented on #336
I just notice that it should be alphanumeric instead of alpha-numeric

I think would be good to update the examples/all.js

https://github.com/tdegrunt/jsonschema/blob/03ca6827027fcc9bf75afa14cf11220bf9e4e67c/examples/all.js#L214

[2021-02-15 14:26] conde2 commented on #336
Another documentation error I found is that

var res = validate(undefined, {type: 'string'}, {required: true});

But my compiler complains, because it is not specified in Options interface

[code]

[2021-02-21 19:42] surajprsd opened #337 "Help in validation Json against schema"
Hi, I am trying to validate my Json against my Json schema to check if my json has the mandatory fields or not using json schema package.

Below is the code sample. I am assuming the schema is incorrect, if yes please guide on how I can correct this. Thanks in advice.

[code]

[2021-02-21 19:58] surajprsd commented on #337
Appreciate your help in this ! I am new with schemas and would be great if you can modify the above to show validation result which shows a mandatory field missing like filename under files or mandatory version/sequence tag is missing in the json

[2021-02-22 08:53] cnsdato opened #338 "Validation error "instance is not allowed to have the additional property "default"" when using "additionalProperties": false,"
When using the `"additionalProperties": false` on an object type the validator throw an error:
`instance is not allowed to have the additional property "default"`
How could this be prevented?

[2021-02-22 08:56] tdegrunt commented on #338
This is not really the place to ask questions - ask them here instead: https://stackoverflow.com/questions/tagged/jsonschema
That being said: without seeing the instance this is hard to answer, but I'm guessing property default is not in your schema.

[2021-02-22 08:56] #338 closed

[2021-02-22 08:58] tdegrunt commented on #337
This is not really the place to ask questions - see https://stackoverflow.com/questions/tagged/jsonschema

[2021-02-22 08:58] #337 closed

[2021-02-22 09:19] surajprsd commented on #337
have already asked but couldn't get my answer on stack overflow

[2021-02-23 10:25] surajprsd opened #339 "Not validating all elements in the array"
From the below Json I was trying to validate all the objects under files array but it seems to only check the initial files[0] only but not the subsequent files[1]

Below is the code where files[1].filename is missing yet not caught during validation.

    var Validator = require('jsonschema').Validator;
    var v = new Validator();

    var schema = {
        "type": "object",
        "properties

[2021-02-24 05:20] surajprsd commented on #339
have asked this question on stack overflow as well with a bounty :
https://stackoverflow.com/questions/66272447/json-schema-validation-against-json-object-using-javascript/

[2021-02-25 15:50] adrian-kriegel opened #340 "'propertyNames' does not exist in type 'Schema'"
The type definition of `Schema` seems incomplete as `propertyNames` is missing. Does the library support `propertyNames`?

[2021-02-25 15:54] awwright commented on #340
It should be landed as of 1.3.0.

Unfortunately I don't really know of any good way to test a TypeScript definition, so sometimes it gets missed.

[2021-02-25 16:05] adrian-kriegel commented on #340
In theory, you could create a json-schema from the typescript definitions and compare it to the json-schema-schema, if that makes sense...

[2021-03-22 13:31] epamroskoshinsky opened #341 "Mistake in RegExp format date-time"
"name": "jsonschema",
"version": "1.4.0",

I have noticed, that the valid date-time format represented by the value "2021-03-18T18:00:00+0000" generate a validation error. Probably, this variant will be correct:

[code]
...

[2021-06-04 07:34] andylizi commented on #18
For those who are interested in solutions other than browserify, here's an workaround I'm using for my project.

Create a local npm package named something like `url-shim` with following files:

****index.js****
[code]

****package.json****
[code]

Then run `npm install url@./url-shim`. Note that IE [is not supported](https://caniuse.com/url) without another polyfill for the `URL` class.

By the w

[2021-06-04 14:56] remcohaszing opened #342 "Add base object"
I would like to be able to use another object than the schema as a base object. Currently this requires iterating over the entire root object and calling `addSchema` for each schema found.

For example when using OpenAPI:

[code]

This example is simplified. In reality JSON schemas may occur in many places inside an OpenAPI document.

[2021-06-09 14:05] noisypants opened #343 "CustomProperty validate function type should allow for returning 'undefined' or 'void'"
Hello.
I'm trying to use `CustomProperty` in a typescript application.  The index.d.ts file seems to be missing `undefined` or `null` from the return type of the validator function?  Makes it difficult to write a custom validator in typescript without that, as it keeps complaining that the function i write can't be assigned to a `CustomProperty`.

I am going to see if i can workaround this issue i

[2021-06-22 21:43] dpralon opened #344 "maximum call stack size exceeded when having a lot of errors"
If I have a lot of errors when validating an array with a lot of documents, the function ValidatorResult.prototype.importErrors in helpers.js crashes when doing : Array.prototype.push.apply(this.errors, res.errors) because apply will push as many parameters as the number of elements in the res.errors array, on the stack, hence the exception.
This line can be replaced with : this.errors = this.erro

[2021-07-08 18:04] gabssnake opened #348 "`Symbol` does not trigger error with `additionalProperties: false`"
Hi there, thank you for your good work !

It seems `additionalProperties` which have a `Symbol` key do not throw with `throwError`.

What am I doing wrong? Is this expected behavior?

[code]

[2021-07-30 09:33] xerosugar opened #349 "Reports wrong type: "is not of a type(s) [object Object]""
[code]
When the wrong type is used and validated with UsesString like `const result = validator.validate(1, UsesString.getSchema());`
The error message becomes: `is not of a type(s) [object Object]` when you expect it to be `is not of a type(s) string`.

[2021-07-30 18:41] awwright commented on #349
What is the behavior that you expect?

You're providing an object as the value for the "type" keyword, which gets cast to a string. Since that string `[object Object]` is not one of the known types, it fails.

[2021-08-02 09:16] xerosugar commented on #349
I wanted the type to be read from the String class, so I guess I should've done this instead: `type: String.getSchema().type`.

[2021-08-02 18:23] awwright commented on #349
@xerosugar If there's nothing left here to solve then please close this out. Otherwise please provide an example of the expected behavior.

[2021-08-02 19:20] #349 closed

[2021-08-27 05:18] dancecoder opened #350 "Multiple type options are not working as expected"
in the documentation it is mentioned multiple type options are possible:
[code]
It is very nice feature. However when i've tried to use it I've got type error:
[code]
Tested with package version 1.4.0

[2021-10-13 19:43] kschaefe opened #352 "Need release; many formats are missing"
Quite a few string formats were added after the 1.4.0 release.  We need a new release for these.

[2021-10-16 20:58] kussmaul opened #353 "add schema.examples (new in draft 6)"
JSON Schema draft 6 adds an `examples` array "to provide an array of examples that validate against the schema":
https://json-schema.org/understanding-json-schema/reference/generic.html#annotations

Please add `Schema.examples`, and perhaps `validateExamples(schema)` to validate each example against the schema, similar to this code from my Jasmine tests.

      type      Schema    = JsonSchema.Sch

[2021-11-30 11:03] sdurandeu commented on #322
Hi @goyney. Were you able to get to the bottom of this? We are experiencing the same issue and any pointers towards what to look would be very useful! Thanks!

[2021-12-03 18:37] littleKitchen opened #355 "How to set throwAll?"
When I try to do like this :

var result = v.validate(json, MessageSchema,{throwAll:true})

I can get the following result from the console:

![1](https://user-images.githubusercontent.com/55852668/144654365-9ac26ded-b3c1-4876-b2d3-c122ce0a42d1.png)

If I remove "{throwAll:true}"
The ValidatorResult like this:
![2](https://user-images.githubusercontent.com/55852668/144654765-84328669-1c85-4c3d-bf1

[2021-12-04 02:33] awwright commented on #322
@sdurandeu Do you have more information you can share? Do you know which values of `schema` it is that causes troubles?

[2021-12-08 11:31] sdurandeu commented on #322
Hi @awwright. Yes, we got to the bottom of this. The issue is that we were calling the validator like this, passing a string with the schema name as in the last time:

[code]

This was working before `1.2.6`, but maybe by sheer luck? Then this check here was added which caused this same code to throw: https://github.com/tdegrunt/jsonschema/blob/master/lib/validator.js#L109

So, we've modified it t

[2021-12-14 23:11] xp4xbox opened #356 "Base URI does not work."
The jsonschema returns no such schema with correct base.

`SchemaError: no such schema #/$defs/slot located in <file:///C:/Users/nhawrysh/Documents/catena/schemata/ogp.schema.json>`

[code]

[2021-12-22 12:54] ThibaudAV opened #357 "Validate throw error with `additionalProperties: true`"
If I set additionalProperties to true I get this error during validation:
[code]
If I understand correctly additionalProperties should never be `true` but only `false | Schema ` right ?

Source : https://github.com/tdegrunt/jsonschema/issues/57#issuecomment-50962408
Code : https://github.com/tdegrunt/jsonschema/blob/6f6512981327c20802852fa32fa3dd4f315f7ce1/lib/attribute.js#L303
Types : https://git

[2021-12-23 00:24] awwright commented on #357
@ThibaudAV Can you please provide some example code with the expected and actual output?

As far as I know, the validator passes the relevant tests, but I need to see the exact context.

[2022-01-03 08:29] Roni-Ravin opened #358 "JSON Schema for a list of objects that must contain one of three default props"
Hello, I need help...
How can I prepare JSON Schema for a list of objects that must contain one of three default props (1,77,90), e.g:

VALID:
[
{"provider_metadata_id": 1},
{"provider_metadata_id": 77},
{"provider_metadata_id": 90}
]
VALID:
[
{"provider_metadata_id": 77},
{"provider_metadata_id": 44}
]
VALID:
[
{"provider_metadata_id": 7884},
{"provider_metadata_id": 4564},
{"provider_metadata_id

[2022-01-04 20:41] awwright commented on #358
@Roni-Ravin This is for development of this particular library, for help writing schemas, check out the support resources at https://json-schema.org/

That said, you're probably looking for the "anyOf" keyword, something like

[code]

[2022-01-04 20:41] #358 closed

[2022-01-28 05:48] awwright commented on #356
Can you please provide the code that's producing this?

[2022-03-01 21:43] makdataproj opened #360 "Getting an Error with Schema <'+ourBase+'> already exists with different definition"
throw new Error('Schema <'+ourBase+'> already exists with different definition');;

There are two fields that have multiple same entries for $id but it is giving the error message above.  However it validates fine on other json schema tools.

Example:

 "externalReference": {
          "hashes": {
            "$id": "#/properties/hashes",
            "type": "array",
            "items": {"$ref":

[2022-03-01 22:40] awwright commented on #360
Can you please provide running code, and describe the expected output and actual output?

The example you posted has two sub-schemas that specify an id of `#/properties/hashes`, but both have slightly different definitions (the "description" is different). Although the validation behavior is the same in this case, the two schemas could potentially be defined with different behavior. The error is p

[2022-03-01 23:10] makdataproj commented on #360
The expected output is that it should be successfully validated.   Ill give you an example of both the json and the schema.

Schema

`{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "$id": "http://cyclonedx.org/schema/bom-1.3.schema.json",
    "type": "object",
    "title": "CycloneDX Software Bill-of-Material Specification",
    "$comment" : "CycloneDX JSON schema is published und

[2022-03-01 23:11] makdataproj commented on #360
JSON:

`{
    "bomFormat":"CycloneDX",
    "specVersion":"1.3",
    "serialNumber":"urn:uuid:185978ef-18d7-421b-add9-03fa1eef2e08",
    "version":1,
    "metadata":{
      "timestamp":"2022-02-22T12:36:04Z",
      "tools":[
        {
          "vendor":"Fortress Information Security",
          "name":"Fortress Labs"
        }
      ],
      "component":{
        "type":"library",
        "bom-ref

[2022-03-01 23:25] makdataproj commented on #360
JSON:

{
    "bomFormat":"CycloneDX",
    "specVersion":"1.3",
    "serialNumber":"urn:uuid:185978ef-18d7-421b-add9-03fa1eef2e08",
    "version":1,
    "metadata":{
      "timestamp":"2022-02-22T12:36:04Z",
      "tools":[
        {
          "vendor":"Fortress Information Security",
          "name":"Fortress Labs"
        }
      ],
      "component":{
        "type":"library",
        "bom-ref"

[2022-03-02 02:50] makdataproj commented on #360
Sorry one other thing is we are not allowed to modify the schema.  When we use an online json schema validator it works perfectly fine.

[2022-03-02 03:14] awwright commented on #360
@makdataproj Unfortunately, looking at the full schema you posted, it has ambiguous behavior. Not only is `#/properties/hashes` defined twice, but it's not technically legal to define an "$id" containing a `/`: a "$ref" with a slash points to a schema located at the named JSON property, not a schema with the given `$id`.

There's no standard behavior on how to handle a schema that re-defines an ex

[2022-03-02 03:15] awwright commented on #360
If you link me to the online validator you're using, I can check it out for you.

[2022-03-02 03:18] makdataproj commented on #360
Used https://www.jsonschemavalidator.net/

Added the same schema and the json I posted to validate.

[2022-03-04 19:46] makdataproj commented on #360
I am getting an issue with this schema as well, if you could please check what the possible issues are and why it's not working with jsonschema:

{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "type": "object",
    "title": "CycloneDX Software Bill of Materials Standard",
    "$comment" : "CycloneDX JSON schema is published under the terms of the Apache License 2.0.",
    "require

[2022-03-07 01:04] awwright commented on #360
@makdataproj That post is too long for me to know where to start. Can you please post a code example, along with expected and actual output? It would be best if you can make the example as small as possible.

[2022-03-07 05:49] makdataproj commented on #360
Please see attached the error I am getting.  I dont know if it is the schema: https://github.com/CycloneDX/specification/blob/master/schema/bom-1.4.schema.json or the if the json: https://pastebin.com/pfsv4BDe is not valid?  Just want to make sure it is not the schema.

This is the code snippet for the validation:
const jsonvalidator = (file, schemafile) => {
  console.log(file + " " + schemafile)

[2022-03-07 19:57] nathan-fiscaletti opened #361 "Create an object from a schema?"
Is there a way to create an object from a schema?

I'm effectively trying to compare two schemas. These might have references to other schemas as they are stored in two completely different locations. But my goal is to ensure that the schema generated via one method is exactly identical to a schema generated by another method.

I'm using this for input/output validation on a JSON related network e

[2022-03-08 01:48] awwright commented on #361
So you want to know if two schemas describe the same set of valid JSON documents? That the sets of JSON documents that are valid according to the schemas are identical?

If the two schemas specify the same set of instances with different keywords, this might be impossible to answer in the general.

If the keywords are the same but the IDs are different, then this is merely a graph equality problem

[2022-03-08 02:33] nathan-fiscaletti commented on #361
@awwright I think it would theoretically be possible if you could compile a schema from the base schema and all of it's referenced schema into a single JSON object describing the entire schema. (basically just replace the references to other schemas with the schemas themselves).

As far as this goes, I'm asking if there's a way to take a schema and generate an object that would be valid for that p

[2022-03-08 05:19] awwright commented on #361
Something like this would work, but you would need to detect recursion.

You would also want to ignore some annotation-only keywords like "description".

This is supposed to be the purpose of the "default" keyword, although technically the default doesn't need to be valid against its own schema. Maybe this is OK.

There's also "coercion" where a minimal number of changes are made to turn an invali

[2022-03-08 05:19] awwright commented on #361
However, see https://github.com/tdegrunt/jsonschema#pre-property-validation-hook for some additional guidance on this.

[2022-03-08 07:30] nathan-fiscaletti commented on #361
What I've come up with so far for this is as follows:
[code]

Using the following schemas:
[code]

The following:

[code]

Produces this output:
[code]

If I remove comment out one of the Schemas, like bellow:
[code]

I will get the following output:
[code]

---

I'm sure i'm missing quite a bit here. But I feel like this is at least a starting point?

[2022-03-30 16:53] zoellner opened #362 "Rewrite doesn't always work"
I want to rewrite values based on the custom format.
This only works in some cases. See example below.
Expected output is
[code]

Actual output is
[code]

[code]

[2022-04-12 23:10] zoellner commented on #318
Came across this again. In case anyone else is looking into this. My workaround for now is as follows:

1. Use preValidateProperty function to modify the `required` array
[code]

2. Wrap schema and data since `preValidateProperty` is not called for the toplevel schema
[code]

[2022-05-10 00:36] #344 closed

[2022-05-18 13:08] ri0ter opened #365 "Add source of the error"
It would be nice to include source of an error referring to schema.
So for e.g. in following schema it would be easy to say where it came from:
[code]
At the moment, the schema will tell you that the problem is with the length of the value `foo`, but it's hard to tell which rule triggered actual error.

[2022-05-18 16:29] awwright commented on #365
@ri0ter `ValidationError#name` is the property you're looking for. e.g.

[code]

[2022-05-18 19:12] ri0ter commented on #365
Not really, for the schema I mentioned in my first message, with input:
[code]
I get 3 errors:
[code]

As you can see you cannot differentiate what's the source of first and last error.

[2022-05-19 01:21] awwright commented on #365
Can you please describe the exact information you're expecting?

Maybe you're looking for the "path" property? An empty array indicates an error in the root. The "foo" item indicates it is within that property in the instance.

[2022-05-19 07:48] ri0ter commented on #365
Well, the path property describes the instance and subschema is not telling me where it came from, I could try to match the subschema, but that would require deep compare and doesn't guarantee me what I search for.
What I would expect is something like the path, but related to schema. Referring to my example it would be:`["property", "foo"]`, `["allOf"]` and `["allOf","property", "foo"]`.

[2022-05-19 20:05] awwright commented on #365
@ri0ter Ok, that makes sense. Let's call this property "schemaPath" and have it work similar to "path".

The best you can do right now is you can use strict equality `===` to determine if the schema that produced the error is some schema that you have a reference to. For example, you could try:

[code]

[2022-05-27 10:23] bingcoder opened #366 "v1.4.1 not support chrome 49"
v1.4.1 add regexp /^^("(?:[!#-\[\]-\u{10FFFF}]|\\[\t -\u{10FFFF}])...$/u not support **chrome 49**

[code]

Whether to abandon support for Chrome 49?

Thanks

[2022-05-27 15:30] awwright commented on #366
@bingcoder Please provide the error.

Chrome 49 is old, I'm not sure how I would test back that far.

[2022-06-29 12:26] ayonix commented on #366
We have the same problem, but in IE11 (Outlook unfortunately still uses IE to render add-ins in some many configurations).

The error is just `SyntaxError in regular expression`, apparently because IE/the old Chrome don't support /u for regexes.
In the IE dev-console `/1/u.test("1")` has the same error as simple test.

[2022-07-01 01:07] awwright commented on #366
Since this is potentially an easy fix I'll take a look at it... It might be possible to rewrite this so it uses surrogate pairs.

@bingcoder @ayonix If you change it so it reads:

[code]

Does that work for you?

[2022-07-01 06:55] ayonix commented on #366
That regex alone seems to work, in 1.4.1 are more issues for IE though.
When i replace the regex with yours, the next complaint of it is: `SCRIPT5021: Invalid range in character set` which seems to be the `[~-\u{10FFFF}]` in `iri-reference`.
Also there are more /u flags on regexes: `iri-reference`,`uri-template`,`json-pointer`,`relative-json-pointer` and maybe something else I've missed.
Thanks fo

[2022-07-02 04:36] mamadfar opened #367 "Cannot find module 'url'"
After I deploy my project ( react => v17 ), when I try to move that page which I used jsonschema, I get this error
"Cannot find module 'url'".
For fixed this I had to install url package manually in the project.
But this is a temporary way.
Can you fix this ?

[2022-07-03 11:22] xbw19975 commented on #367
简直 bull shit，写代码不考虑不在node环境下的吗，如果说只能运行在node环境，请在文档里标名。

[2022-07-06 22:00] att14 commented on #316
Another alternative might be to use the types from https://www.npmjs.com/package/@types/json-schema instead of trying to roll a new one here.

`JsonSchema4` type is compatible with this library, but `JsonSchema7` is not.

[2022-07-07 02:55] awwright commented on #316
Users have been quite vocal that they use the TypeScript types file for code completion and other things... it shouldn't impact usage at runtime AFAIK.

[2022-07-07 03:57] att14 commented on #316
It doesn't, but you have to add `// @ts-ignore` everywhere that you use something the type doesn't support.

[2022-07-14 19:35] ferdodo commented on #18
[code]

Hello, esbuild fails to bundle with the 'browser' target because part of the code tries to require node's url module.

[2022-07-14 19:40] ferdodo commented on #18
I believe you can now do `const myUrl = new URL("http://example.org")` in either browser or Node.js, without having to require the 'url' module.

Not sure if this can help in your case.

[2022-07-15 00:58] awwright commented on #18
@ferdodo Unfortunately the browser URL object isn't compatible with the Node.js URL (it accepts too many invalid URI and does some things incompatible with a real URI)... but shouldn't your build tool be able to bundle the Node.js url library or a compatible one?

I know Browserify does this.

[2022-07-15 08:16] geotom commented on #367
Same here: Had to add "url" to my packages, and then in the code where i use it I had to import as well before calling the validation (import * as url from "url"). Otherwise the validation throws an error that `urilib.resolve` is not a method

[2022-07-15 21:55] ferdodo commented on #18
At first glance it doesn't make sense because url is a native module.

But based on this package https://www.npmjs.com/package/url It seems that browserify doesn't actually bundle node.js native package, but a package with the same name which is actually portable to multiple environments.

![image](https://user-images.githubusercontent.com/2821066/179315594-6d0d4345-979c-4317-9770-2d5d3e0c71a2.png

[2022-07-29 15:45] ChocolateLoverRaj opened #368 "TypeScript readonly arrays?"
In the TypeScript types every array is not `any[]`. This shows an error when I use readonly arrays in a `Schema` object. I'm guessing a schema doesn't get modified by `validate`, so should the types actually use `readonly any[]`?

I can make a pull request with the changes if this change is approved.

[2022-08-12 19:16] aMacDawg opened #369 "How to enforce `enum` validation on a specific property?"
Use-case: a property `channelType` can only expect the enums 'youtube' and 'twitch', any other values to the `channelType` key should return a validation error.

JSON Schema snippet:

[code]

sample code:

[code]

Actual outcome: the channelType value could equal anything else ('facebook', 'sesame-street') and the validator will **not** return an error as expected

According to this [stackoverflow

[2022-08-12 19:25] aMacDawg commented on #369
Ok, I had to do word salad with my own question, but found another [stackoverflow post](https://stackoverflow.com/questions/26532137/jsonschema-multiple-values-for-string-property) that got closer to what I was trying to get at - validation on a `string` field as opposed to validation on an `array` field which is what the `enum` approach seems to be for.

tl;dr - this works:
[code]

Closing this 🎉

[2022-08-12 19:25] #369 closed

[2022-08-20 16:31] urdarinda opened #370 "Date as custom type"
Hi,
I wanted to understand why date is a type that is supported out of the box while the json spec does lists it only as a `format` to string. It should not be a types on its own

In [this](https://github.com/tdegrunt/jsonschema/issues/169), we also mention that date is not a type but a format

[2022-08-20 19:58] urdarinda commented on #370
https://github.com/tdegrunt/jsonschema/blob/master/lib/validator.js#L325

[2022-09-02 15:12] alanosullivancs commented on #325
@awwright here is an example is the case sensitivity flag which should be observed but is overwritten in the RegExp constructor:
`validate('cAsEsenSitIve', {'type': 'string', 'pattern': /casesensitive/i});`
this returns an error that is incorrect: 'instance does not match pattern "/casesensitive/i"'

[2022-10-21 09:05] Khanon opened #377 "Deeper arrays are not being validated"
Hello, second level arrays are not being validated:

Schema:
[code]

`parameters` and `attachments` arrays data types and requirements are not being validated, no error is thrown.

[2022-10-21 09:49] #377 closed

[2022-10-21 09:49] Khanon commented on #377
Sorry it was a mistake in my json. I don't find the way to remove the issue.

[2022-10-26 09:53] joe-hilling opened #378 "Validation errors in firefox not constructing properly"
In `helpers.js`

[code]

`Error.captureStackTrace` is not available in Firefox.

[2022-10-27 16:40] jonbaxt opened #379 "Nested Schema in the definitions object unsupported attribute when allowUnknownAttributes is set to true"
When attempting to make validation strict and not allow any extra attributes on the object I'm validating allowUnknownAttributes set to true works as expected until you are having a ref to an additional schema and accessed in the definitions object on the Schema object.

Example
`
interface Nested {
    fullName: string;
    isValid: boolean;
    nested: PostNewUser[];
}
`
translating this  typesc

[2022-11-01 00:43] awwright commented on #378
Browsers aren't formally supported, but this is an easy enough fix, fixed in 8211fff

[2022-11-01 00:43] #378 closed

[2022-11-01 20:02] awwright commented on #352
I believe this is fixed, but please file a new issue if not.

[2022-11-01 20:02] #352 closed

[2022-11-01 20:04] awwright commented on #326
I can't reproduce this and I can't tell what might be causing this, please file a new issue with some code that reproduces the issue.

[2022-11-01 20:04] #326 closed

[2022-11-01 20:06] awwright commented on #340
Landed in 5e219db670bb8a57f5af932e21d51e2ccf44e679

[2022-11-01 20:06] #340 closed

[2022-11-02 23:07] awwright commented on #341
The value `2021-03-18T18:00:00+0000` is incorrect because the timezone offset is missing a `:`. In RFC 3339 and ISO 8601, this character is required:

[code]

If you use `2021-03-18T18:00:00+00:00` (note added `:`) then this should be valid.

[2022-11-02 23:07] #341 closed

[2022-11-02 23:13] awwright commented on #339
As noted in https://stackoverflow.com/questions/66272447/json-schema-validation-against-json-object-using-javascript/

You're providing an array to the "items" keyword which isn't the same as providing a schema.

[2022-11-02 23:13] #339 closed

[2022-11-02 23:20] awwright commented on #370
This is a custom extension so that you can use this library with other kinds of data besides objects read from JSON. It's not a standard part of JSON Schema.

[2022-11-02 23:20] #370 closed