[2012-12-13 21:15] tdegrunt opened #13 "Add JSDoc documentation to the source"

[2012-12-15 01:49] awwright opened #14 "Repository lacks tags"
Releases should be tagged in the Git repository, this helps developers using package management tools, and helps software depending on this repository figure out which future releases are compatible (when employing semver semantics).

I tagged all the releases through 0.2.0 in my repository with the lightweight tags, pointing to the commit where package.json was touched. These may be pulled.

[2012-12-15 10:56] #14 closed, assigned to nobody

[2012-12-15 12:17] tdegrunt opened #15 "Object validation vs Date/Array and the JSON Schema spec"
Currently we validate objects using `return (instance && (typeof instance) === 'object');` but this doesn't work for Array and Date validation.
##

We depend on objects with changed `constructor`.  So the above won't work for us. The spec is specifically vague about this:

So technically this should be enough: `return (instance && (typeof instance) === 'object')`

But I see the Date and Array prob

[2012-12-15 18:19] tdegrunt opened #16 "Pass all JSON-Schema Test Suite tests"
See [JSON-Schema Test Suite tests](https://github.com/Julian/JSON-Schema-Test-Suite)

[2012-12-15 18:24] tdegrunt opened #17 "Add extends support"
#5.26.  extends

   The value of this property MUST be another schema which will provide
   a base schema which the current schema will inherit from.  The
   inheritance rules are such that any instance that is valid according
   to the current schema MUST be valid according to the referenced
   schema.  This MAY also be an array, in which case, the instance MUST
   be valid for all the schemas in

[2012-12-15 22:46] #16 closed, assigned to tdegrunt

[2012-12-15 23:26] #17 closed, assigned to nobody

[2012-12-16 13:59] tdegrunt opened #18 "Check/improve browser support"
- Add browser based tests
- Add bower package support

[2012-12-17 12:32] awwright opened #19 "Support 'default' and ability to return modified instance in general"
In my current master I've implemented some cool stuff:
1. return (actually, throw) only the first error, which should be faster than parsing for _every single error_ when doing so is unnecessary.
2. Implement a uniform interface for returning errors
3. Make use of that `options` argument and allow people to define a callback that modifies the value of an instance once it validates, but before it g

[2012-12-18 21:23] #13 closed, assigned to tdegrunt

[2012-12-19 12:49] awwright opened #20 "Add URI resolution support"
Using plain strings and JSON path fragment resolution isn't enough to fully support $ref. Schema references should be able to resolve relative URIs specified with `id` and `$ref` against the parent id or document URI.

Some simple questions need answering, like: Does this require that the entire schema be scanned before it may be used? How can two schemas have the same id? (As specified in the spe

[2012-12-20 18:59] #20 closed, assigned to nobody

[2013-01-14 14:12] phun-ky opened #23 "no such schema. valid schema, offline usage?"
I'm trying to validate a valid JSON string with a valid JSON schema, but I keep getting the "no such schema" error.

Investigation lead me to believe that since I'm using jsonschema with NodeJS, I can't use an URI in the `id` var.

So the question is: How can I run jsonschema with NodeJS?

[2013-01-15 14:37] #23 closed, assigned to nobody

[2013-01-21 15:46] trashstack opened #25 "testAdditionalProperties fails if properties is undefined"

[2013-01-27 00:26] awwright opened #27 "add support for anyOf, allOf, oneOf, not"
Adding support for `anyOf`, `allOf`, `oneOf`, and `not` would implement much of the soon to be published v4 draft.

I'll get on this myself soon, since iirc the "extends" keyword (really "allOf") has funky behavior that needs to be fixed.

[2013-01-28 20:30] awwright opened #28 "Add a method to stringify all the validation errors together"
A ValidatorResult instance contains an `errors` property with a list of validation failures. Returning a list of all the errors to a client can be awkward to piece together and is often repetitive, so add a `errorsToString` or similar method to provide a human-readable summary of validation errors, ideally suitable for returning in a 400 Client Error response.

[2013-02-01 21:58] #28 closed, assigned to nobody

[2013-02-05 01:43] #27 closed, assigned to nobody

[2013-02-06 12:22] awwright opened #30 "addSchema should scan a schema for sub-schemas and incomplete references"
The addSchema function, for adding schemas to the local environment, should recursively pre-parse a schema for sub-schemas with an "id" and add those to the environment, too.

Have some way of listing the referenced schemas that do not end up being defined, so that the application may dereference it and manually define it itself, if it so chooses. Perhaps set the definition of these schemas to `nu

[2013-02-06 23:31] vanthome opened #31 "Support for extends?"
Hi,
I'm currently comparing some JSON Schema validators and would like to know whether you support the extends attribute for schema "inheritance"
Thanks

[2013-02-11 12:50] #25 closed, assigned to nobody

[2013-02-11 13:30] #31 closed, assigned to nobody

[2013-03-16 10:50] #30 closed, assigned to nobody

[2013-03-16 21:20] #19 closed, assigned to nobody

[2013-03-29 15:49] jdarling opened #34 "required fails if used in the global space"
From JSON-schema.org sample:

[code]

If you use this schema and don't pass in a firstName or lastName it still validates.  Looks like the current code base looks for each property to have a required on each.

If this isn't supposed to support the json-schema.org definition then this is something to note some place :)

[2013-03-31 09:49] #34 closed, assigned to nobody

[2013-04-14 13:11] mauritslamers opened #35 "Usage examples are a bit confusing"
Your example shows var v = new Validator(), but it is not clear where this is coming from.

Something like:

[code]

would already help.

[2013-06-22 13:35] davewatts opened #42 "Strings validated against the "date-time" format should not be required to have a millisecond element"
Currently date strings in the format `YYYY-MM-DDT00:00:00Z` are considered invalid as they are missing a millisecond element.

Looking at http://tools.ietf.org/html/draft-zyp-json-schema-03 and http://tools.ietf.org/html/rfc3339#section-5.6 it seems to me that the millisecond element should be optional.

[2013-06-22 14:30] #35 closed, assigned to nobody

[2013-06-22 14:31] #42 closed, assigned to nobody

[2013-07-11 16:00] omissis opened #45 "date-time format"
Hi, I have noticed that the "date-time" validation regexp requires the date-time string to end with ".\d{3}Z".
I haven't been able to find a document where it suggests to append a dot and then three numbers to that, eg:  http://json-schema.org/latest/json-schema-validation.html#anchor108 and http://tools.ietf.org/html/rfc3339#section-5.6
Am I missing something or is it something that can be update

[2013-07-15 09:29] jabclab opened #46 "Publish 0.4.0 to npm"
Please could you publish v0.4.0 to npm?

Thanks :-)

[2013-07-15 09:40] #46 closed, assigned to nobody

[2013-08-01 14:55] Kiessar opened #47 "optional enum"
Hi.
I am trying to create a schema for an value type enum which is optional.
Like: "status": {"type": "string", "enum":["on","off"]}
If i omitt the status i still get an error,  even when required set to false.

[2013-10-23 17:56] rumkin opened #50 "Validation message i18n"
I need to customize messages for translation. But  it [hardcoded into attributes](https://github.com/tdegrunt/jsonschema/blob/master/lib/attribute.js#L303). Is there any way to get attribute error code/id and values to put into validation message?

[2013-11-05 21:20] LukasBombach opened #51 ""required" field of an object definition won't be recognized"
Using the following schema, validation will pass, even when firstName and lastName are not present:

[code]

Using required:true attributes within the definitions of firstName or lastName works though.

[2013-11-05 22:36] inolen opened #52 "validating against undefined / null objects"
What's the purpose behind _not_ errorring when validating schemas against undefined objects?

My very first unit test around the controller that'll be validating a schema involved passing it an undefined object, but it seems due to this:
https://github.com/tdegrunt/jsonschema/blob/master/lib/attribute.js#L141

that undefined objects won't actually error out (and null objects will throw TypeErrors)

[2013-11-07 09:12] hazkiel opened #53 "Number validation accepts NaN"
When validating a number field, NaN shouldn't be accepted as a valid value but it currently is.

[2013-11-27 08:55] sgronblo opened #55 "Add support for ignoring required"
Would it make sense to add a way to disable checking of required instance properties for partial updates?

[2013-12-11 02:27] jksdua opened #56 "Custom types"
Hey guys,

Awesome library, it's great for enforcing schema structures for JS objects, not just JSON. This isn't an issue but I thought I would add it here in case someone like me comes looking for it.

For those looking to add custom types, it can be done like this:

[code]

Custom properties can also be added for all validator instances if required.

[code]

[2013-12-19 11:24] lexagosto opened #57 "How to enforce additionalProperties to be false for nested schemas?"
Hi,

first off thanks for this great library it is really saving a lot of time to me implementing a  REST http interface for input validation.

I've searched through the source code and other issues but didn't find an answer to my question: is there a way to enforce the additionalProperties to be false for all nested schemas? By default it accepts additional properties and by setting that property

[2013-12-26 23:28] fdeandao opened #58 "Custom error messages"
Hi,

I want to uses another language when the validator fails, but the message are in hard code, could I validate error messages but these may change in the future.
Maybe returning a code error or being able to extend message strings

Regards

[2014-01-09 15:38] jkryl opened #60 "invalid schema with a property set to "undefined" causes TypeError exception during validation"
I got following exception when using jsonschema:

[code]

It took me a day until I figured out that the error is caused by invalid JSON schema where definition of one of the properties is set to undefined. I.e.

[code]

for loop iterating over schema properties in attribute.js:validators.properties() will yield attribute "b" (although it is set to undefined) and undefined value is then passed to c

[2014-01-16 08:07] burhanfarooq opened #61 "nested object issue"
Hi,
I have a question, the error message I am getting in case of wrong property name or mismatch type value of property is not exactly pin pointing the property it just say something like that:

**************************************************************************************************
[code]
**************************************************************************************************

[2014-01-31 11:27] #47 closed, assigned to nobody

[2014-02-20 14:04] monteslu opened #71 "backslash escaping in pattern matching"
The spec says that the value of pattern must be a string:  http://json-schema.org/latest/json-schema-validation.html#anchor33

So the output of validate seems a bit inconsistent:

[code]

The last one is a correctly escaped javascript string for a backslash, but the regexp pattern output should probably just be a single backslah.
I understand wanting to avoid the ugliness that could occur for want

[2014-02-25 14:43] jkryl opened #72 "validation with "not" in schema fails with TypeError"
[code]

the problem is in validators.not() definition:

[code]

[2014-03-13 13:33] douglascvas opened #74 "Tag"
Could you create a release of the current version, please?

[2014-04-09 19:36] deleteman opened #75 "How to deal with field called "refName""
Hey, I'm trying to validate a json object, that contains a field called "refName", the validator is treating it like a "$ref" field and throwing an exception because it can't find the schema.

How should I deal with this and still be able to validate the json correctly?

[2014-04-10 01:27] #75 closed, assigned to nobody

[2014-05-23 12:17] bergeroy opened #76 "Validation of external sub-schema"
Hi,

I’m using Frisby to test my REST API.  Frisby is using jsonschema to validate the JSONs returned by a URL.

The JSON schema I use to validate my JSON is referencing an external sub-schema via $ref.  In that situation, it seems that the jsonschema validation is always failing with a message similar to:

[code]

I tried a simple script to check if it’s really the problem with the following code

[2014-07-19 11:02] #74 closed, assigned to nobody

[2014-08-02 12:15] awwright opened #81 "Method to coerce instance into validation"
A useful feature for many applications would be a function that takes a possibly non-validating instance, and "coerces" it into validation. Strings would be parsed into integers, if the property is specified as an integer; values would be placed into arrays, if the property is specified as an array; missing properties would be given their default values; and so on.

There's many possible use cases

[2014-08-02 12:32] #71 closed, assigned to nobody

[2014-08-02 12:35] #51 closed, assigned to nobody

[2014-08-02 12:58] #56 closed, assigned to nobody

[2014-08-02 13:12] #45 closed, assigned to nobody

[2014-08-04 12:17] #72 closed, assigned to nobody

[2014-08-06 08:51] MrScruffyish opened #85 "Accepts missing required"
Hi.
I have this schema

[code]

and this data

[code]

which should fail due to the required "z" is missing (and I've verified it failing here https://json-schema-validator.herokuapp.com/)

but this code gives me no error

[code]

Any ideas on what is the problem?

[2014-08-06 18:02] #85 closed, assigned to nobody

[2014-09-15 04:51] #55 closed, assigned to nobody

[2014-09-15 04:52] #57 closed, assigned to nobody

[2014-09-15 04:52] #76 closed, assigned to nobody

[2014-09-24 07:50] FezVrasta opened #86 "delete me pls"
Hello, thanks for your great module.

I'd like to submit some PR to improve it:
1. **regex validator** (I think should be included by default in the module because with it everything is easier)
2. **strings support for minimum and maximum** to make it works even for strings.

What do you think? If you agree I can prepare the PRs.

[2014-09-25 10:04] #86 closed, assigned to nobody

[2014-10-03 12:42] pilerou opened #87 "Allow adding formats and auto replace formated string in target object type"
Standard formats are interesting but it could be great to allow developers to add custom formats.
Moreover, as said in #68 task, when I validate a structure, I would like to auto replace properties with "date-time" format by a Date.
#68 issue suggests a solution in which developers declare explicitly on each property whether they want to cast an object to another, I think that all string with date

[2014-10-09 13:04] PauloASilva opened #89 "subSchemas"
Hi,
I was testing how to describe a required JSON property which is a subSchema.
I was expecting something like

    var subSchema = {
        "id": "/subSchema",
        "type": "object",
        "properties": {
            "prop1": { "type": "string", "required": true },
            "prop2": { "type": "string", "required": true }
        }
    };

    var schema = {
        "id": "/schema",

[2014-11-04 04:52] siboulet opened #91 "Setting "uniqueItems: false" to array"
Currently using "uniqueItem: false" to an array doesn't seems to skip unique validation of array items.

[2014-11-17 04:06] Acubed opened #93 ""instance is not all from [object Object]" isn't descriptive enough"
I would think that it makes more sense to list off the errors against a schema referenced in allOf, instead of just opaquely saying "This object didn't validate against something in this huge list".

Instead of seeing:

    0: instance is not all from [object Object]

Maybe show the details:

    0: instance is not all from [object Object] (1 error)
    1: instance.foo is not of type string

[2014-11-21 11:26] chrisdew opened #94 "How to validate against a definition within a schema?"
I want to have a single schema file with many definitions.

I then want to validate messages against different definitions _within_ that schema.

Is there a way of doing this with jsonschema?

(Apologies if this is not logically possible - I'm new to JSON Schema.)

[2014-11-21 15:45] #94 closed, assigned to nobody

[2014-12-17 22:49] awwright opened #96 ""Property $foo does not exist in the schema" is confusing"
This error should say something like: "additionalProperty '$foo' exists in instance when not allowed" or something like that. Any better ideas?

[2014-12-18 09:43] #96 closed, assigned to nobody

[2015-01-02 03:44] #93 closed

[2015-01-05 21:44] Acubed commented on #18
Update: Browserify seems to work pretty well; idk if this is the preferred way, but I just have a simple little script saying `window.JSONSchema=require('jsonschema');` and I compile that, and presto!

Now, is there a preferred way to publish a build like this, that's easier for people to consume?

<http://wzrd.in/standalone/jsonschema@latest> seems to work pretty well; just pull in that script an

[2015-01-05 21:51] tdegrunt commented on #18
Oh wow, that's awesome!

I suggest we just use Bower (http://bower.io) for this. Have never created a package for Bower though, just using them at the moment. We would need to add a bower.json, which points to the built script, which we would then need to commit (in a separate folder?).

[2015-01-05 22:33] laurelnaiad commented on #18
I've been using jsonschema browserified. Two things would make it "better".

1) A whole bunch of replacement code gets compiled in due to use of "url" module in node. I think there is room for a much lighter library or custom code to significantly cut the size of the browserified file.

Here is an angular module that wraps and extends jsonschema:
- https://github.com/marklogic/marklogic-samplestac

[2015-01-05 23:06] Acubed commented on #18
@laurelnaiad Yeah, I noticed that too.

I maintain my own URI/IRI library, idk if it's lighter weight by comparison, but I venture to guess much of the entire thing is necessary because the bulk of the code is URI Reference resolution.

Hmm, I think I added the Error.captureStackTrace call, though I don't remember anything about it. I think the point isn't so much about capturing a stack trace, as

[2015-01-05 23:09] laurelnaiad commented on #18
Re captureStackTrace... right now on FF it's an unhandled error when that line of code is hit, so the original error gets 100% lost unless you've mokeypatched. Shows up when you have invalid and/or malformed schema, making FF a bad place to try to develop your schema. :)

[2015-01-06 00:10] Acubed commented on #18
Should we just skip that line if the function doesn't exist? I don't see what use it's even serving.

[2015-01-06 00:20] laurelnaiad commented on #18
I think it's part of one of the millions of ways people derive from Error. In this case, attempting to maintain the stack trace of the original error. I think that the solution should ensure that the stack traces don't go away, so just skipping that line may not due the trick due to the way SchemaError is implemented. In other words, there's probably another way to accomplish the (a) maintaining t

[2015-01-12 17:48] Prestaul commented on #89
I don't think that `required:true` on a property is a defined feature of json schema... The `required: []` array of required properties is and works fine with this library today although both seem to work under some circumstances.

[2015-01-12 17:51] PauloASilva commented on #89
@Prestaul I do agree. I don't know how I didn't notice the `required: []` at first glance.

[2015-01-12 18:06] Prestaul opened #99 "Add method to clean an object"
I need a mechanism to clean undeclared properties off of an object. I could use [another library](https://www.npmjs.com/package/json-schema-filter) or write my own function, but I'd rather have it as part of this library.

[code]

Even better, I would love to be able to validate and clean an object in a single pass. (syntax is up for debate)

[code]

output:

[code]

Does this feel like something

[2015-01-12 18:12] Prestaul commented on #89
@PauloASilva, you were right that this library seems to support `required:true` in some circumstances and it is demonstrated in the example in the readme. @tdegrunt, would it be wise to not feature this feature in the readme?

[2015-01-12 19:05] Acubed commented on #89
`required:true` is how JSON Schema draft-3 was defined, so it's allowed in the library for historical reasons.

In the next draft, we'll likely be abandoning the keyword altogether and getting "requiredProperties" in addition to the list of optional "properties".

[2015-01-12 19:07] Acubed commented on #89
@PauloASilva Does #100 I merged from @Prestaul fix your issue? If so, feel free to close this. Thanks!

[2015-01-12 19:22] PauloASilva commented on #89
Documentation update is enough to clarify how to deal with `required`. I'm closing this issue.
Thanks,

[2015-01-12 19:22] #89 closed

[2015-01-13 20:05] tdegrunt opened #103 "Add yourself to the contributors, if you want :)"
You have been doing so much lately for this library, seems only fair.
I could do it, but have no idea how you want to be mentioned and whether you want to.

[2015-01-14 07:19] Acubed commented on #103
Oh sure, I guess :)
"Austin Wright" is sufficient, which are the relevant files do you think?

[2015-01-14 10:34] tdegrunt commented on #103
package.json takes a contributors key (array) and in README.md we can just make a section contributors.

[2015-01-21 15:13] grindfuk opened #105 "ValidationError not instanceof Error"
Hi!
Great package. I'm  new to node.js and I am using this package all the time now.

So, if you do:

[code]

Just wondering if this is by design or in the plans for changing or if I am missing something somewhere (Sorry if this is the case).

[2015-01-21 15:22] Acubed commented on #105
A ValidationError isn't an object that's thrown, it just contains details about a particular problem with your instance. There could be several of them all at once, they're all returned in a ValidatorResult object.

I suppose one might find a reason to throw a ValidationError, is that what you want to do?

Does that answer your question?

[2015-01-21 15:35] grindfuk commented on #105
Oh I see! Thanks for answering so quickly.

The ValidationError is added to the ValidatorResult but if the option `{throwError: true}` is set, the first
ValidationError is thrown but not as an Error Object. Would it be worth it to add an option to the constructor to initialize it as an object?
[code]
I'm asking mainly because using promise/deferred methods usually catch `instanceof Error`. I think

[2015-01-28 00:26] martinib77 commented on #50
+1

[2015-01-29 15:47] mershal opened #106 "Re: Custom error messages"
This library was the best I've ever used, but unfortunately I had to stop using it because it didn't support custom error messages. It would be nice if such a critical feature existed. I'm pretty sure it can help lots of people.

[revalidator] (https://github.com/flatiron/revalidator) has this feature but it lacks some awesome draft 4 support that jsonschema has

Thanks!

[2015-01-29 16:05] mershal commented on #50
+1!

I've created an issue about this topic

[2015-01-29 20:05] Acubed commented on #50
There's also #58
Unfortunately there's no option for a status code in most Error messages, though I suppose we could add one since we're using a custom ValidationError object. How's that sound?

[2015-01-30 09:44] rumkin commented on #50
ValidationError is strict and proper. So it looks like a solution.

[2015-01-31 08:33] Muscula opened #107 "When running jsonschema against the official JSON-schema test suite it causes side-effects. It alters the data."
When running jsonschema against the official JSON-schema test suite, running the tests:
- `multiple dependencies subschema, valid`
- `multiple dependencies subschema, wrong type`
- `multiple dependencies subschema, wrong type other`
- `multiple dependencies subschema, wrong type both`

has side-effects on the data. The data is altered by jsonschema.

https://github.com/Muscula/json-schema-benchmar

[2015-01-31 19:56] jRiest commented on #107
Just ran into this issue. This also means we cannot validate immutable (frozen) objects.

Running this:

    var jsonschema = require('jsonschema');
    var deepFreeze = require('deep-freeze');

    var data = {
      x: [
        {
          id: 1
        }
      ]
    };

    deepFreeze(data);

    jsonschema.validate(data, {
      type: 'object',
      properties: {
        x: {
          type:

[2015-02-01 07:26] mershal commented on #50
I think that a status and a property name / path would really help developers. Each validation message checks something different than the others, so it should be pretty simple.
Thanks a lot!

[2015-02-02 10:22] Acubed commented on #107
Yeah, the passed instance shouldn't be modified under any circumstances. Well... mostly. We do offer the "rewrite" option, which right now modifies the passed-in instance, IF the rewrite rule makes any change. It looks like arrays don't test for a modification, though.

(Perhaps "rewrite" should make a copy, but there's some questions around what if a property is matched against multiple sub-schem

[2015-02-02 18:25] Muscula commented on #107
It looks like you are still adding an `id`-property to every schema

https://github.com/Muscula/json-schema-benchmark/blob/master/reports/json-model-side-effects.md

[2015-02-02 18:38] Muscula commented on #107
I still have this side-effect:
[code]

`../jsonschema` contains a fork I just did (you did not publish this fix to npm did you?)

More tests here: https://github.com/Muscula/json-schema-benchmark/blob/master/reports/jsonschema-side-effects.md

[2015-02-02 22:49] Acubed commented on #107
@Muscula Oh there's another fix required too... This time I added a test, fix is in Git at b61cc4a7decb6357059ad294a9d07e9bfeb793d1. Can you verify this again?

[2015-02-03 04:54] Muscula commented on #107
Yes the problem seems fixed in the latest master.

[2015-02-03 13:10] #107 closed

[2015-02-26 19:08] steowens opened #109 "Json schma fails to validate perfectly good URL"
The following is an error report my service generates using the validation result provided by jsonschema but re-organized for better readability.  The validation fails on a url that is well formed because the schema validator thinks the URL is not well formed.

[code]

[2015-02-26 19:40] Acubed commented on #109
You're probably looking for the `uri` format, JSON Schema doesn't provide for a "url" format. I'll take a look at why it seems there is one, though.

[2015-02-26 19:45] tdegrunt commented on #109
Can you provide me with the original schema and object you validated?

[2015-02-26 19:46] Acubed commented on #109
it should be right there in the "errors" list:

{
        "schema": {
          "type": "string",
          "description": "The link for onboarding onto this feature.",
          "format": "url"
        }
        "instance": "http://getStartedWithAce.com/go"
}

It looks like validating against a format that doesn't exist always fails.

[2015-02-26 19:50] tdegrunt commented on #109
Ah missed that, I'm on mobile. It's the url vs uri thing alright. We should probably error out on an invalid format then ... :)

[2015-02-27 11:35] tdegrunt commented on #109
Reading here: http://json-schema.org/latest/json-schema-validation.html#anchor105

    "The value of this keyword is called a format attribute. It MUST be a string. A format attribute can generally only validate a given set of instance types. If the type of the instance to validate is not in this set, validation for this format attribute and instance SHOULD succeed."

Should we just say it's valid

[2015-02-27 11:46] #103 closed

[2015-02-27 23:20] Acubed commented on #109
Yeah, it should probably normally succeed, same as unknown properties.

I'll make a PR for this as a test to the official test suite over the weekend, to formally run this behavior by other implementations.

[2015-03-01 20:13] tdegrunt commented on #109
I think I have this fixed with the following (in develop branch):
https://github.com/tdegrunt/jsonschema/commit/14a8429e43349005e8f0781a8b184718d9afca15

[2015-03-03 14:07] blackrabbit99 opened #110 "Undefined is validated as object"
As I see in your tests ```undefined``` validates as ```object```.
Do you have some explanation about it because I'm a little confused about this.
https://github.com/tdegrunt/jsonschema/blob/master/test/objects.js#L20

[code]

``` validation.valid === true ```

[2015-03-03 14:08] blackrabbit99 opened #111 "Undefined is validated as object"
As I see in your tests ```undefined``` validates as ```object```.
Do you have some explanation about it because I'm a little confused about this.
https://github.com/tdegrunt/jsonschema/blob/master/test/objects.js#L20

[code]

``` validation.valid === true ```

[2015-03-03 14:09] #111 closed

[2015-03-03 22:09] steowens opened #112 "Json scheam validator fails to honor REGEX"
Json schema validator fails on patterns such as this:
[code]

Per the regex specification this pattern should only match if the leading and trailing characters are non blank and in the character set [A-Za-z0-9-_ ]*, and allow any string with a leading and trailing non blank character that has middle characters i the character set: [A-Za-z0-9-_ ]*

Yet the error message that gets passed back when p

[2015-03-04 02:36] Acubed commented on #112
Can you provide a regression? I'm not seeing this behavior:

[code]

[2015-03-21 09:56] tdegrunt commented on #112
@steowens Anything? Otherwise I'll close for inactivity...

[2015-03-31 22:45] jeffthompson1971 opened #116 "Any examples of 'pattern' usage? Not working for me but not documented"
thanks.. i want to verify that a field is a 'number' between 14 and 16 characters in length .. tried a regexp pattern but always fails...  any docs?

[2015-03-31 23:54] Acubed commented on #116
Can you please list what you're trying and what you expect?

This should work:

    {"pattern": "^\d{14,16}$"}

[2015-03-31 23:55] Acubed commented on #116
No special docs, it's the same as in http://json-schema.org/ e.g. http://json-schema.org/example2.html

[2015-04-04 16:17] torarvid opened #117 "Long time since last release.."
Hey. Do you have any plans to do a new release soonish?

(Just asking since current master has fixed several issues, and for us npm users, a new release would be super nice)

[2015-04-04 16:43] tdegrunt commented on #117
Hi, We've just released 1.0.1 16 days ago. Is there anything missing in there?

[2015-04-04 16:47] torarvid commented on #117
Oh, I'm sorry.. I just saw here on the github releases page, that v1.0.0 from July, 2014 was the latest release.

I see now that on npm, 1.0.1 is actually the latest one. Thanks!

(Just curious, am I seeing something wrong on the github releases page, or is there another reason 1.0.0 is the latest one?)

[2015-04-04 16:49] tdegrunt commented on #117
No need to be sorry! I think I messed up the release on github there, just pushed to npm. I'll get that sorted, thank you for reporting this!

[2015-04-06 16:30] torarvid commented on #117
Well, it's there now, so I'll close the issue. Thanks for the swift response :+1:

[2015-04-06 16:30] #117 closed

[2015-04-06 16:38] torarvid opened #118 "Question about semantic 'format' validation"
This may or may not be right, but as I understood the json schema standard, it should be ok for me to define my own custom 'format' specifiers. So I might say

    ...
    {
        "type": "string",
        "format": "image-as-base-64"
    }

and it seems to me that if that format doesn't exist in your validator, the default should be successful validation. But currently it gives an error, right?

[2015-04-22 10:36] chris-t-reilly opened #119 "validate() and throwError: true"
I have a unit test designed to fail if a valid schema is rejected:

Instance of "node":

[code]

Schema of "node":

[code]

Schema of displayBlock

[code]

If the "width" property is not a number, or if it is a string, but it doesn't match the pattern, the errors are in the error array. Using mocha, I would like validate to throwErrors.

When running `validate(instance, nodeSchema)` no errors are

[2015-04-23 04:01] steowens commented on #112
I guess closing it is the appropriate thing to do at this point.  I was able to craft a different Regex that meet my needs.  I no longer have the repro steps for this.  Sorry for that.

[2015-04-24 20:16] #112 closed

[2015-05-02 08:09] romeovs commented on #50
:+1:

[2015-05-02 20:24] ARAtlas opened #120 ""null" is validated for a required email property"
I recently updated from an older version and this issue appeared. One of the properties in my schema is a required email. undefined and "" fail the validation as expected, but null passes the validation.

Specifically, these fail, as expected:

require('jsonschema').validate(undefined, { format: 'email', required: true })
require('jsonschema').validate('', { format: 'email', required: true })

How

[2015-05-03 06:57] Acubed commented on #120
The "format" keyword has some interesting semantics. From the v4 draft:

So since the email format validates strings, non-strings will pass validation. If you want non-strings to fail validation, you can add a separate `type:"string"` constraint. Make sense?

Is there some way this could be made more clear?

[2015-05-11 18:55] Acubed opened #121 "An "instance" property proposal"
Right now we are somewhat overloading the "type" property to allow it to contain things like "date". I overload it myself for a MongoDB "ObjectId".

What if instead we just used `{type:"object", instance:"ObjectId"}`? This would be a little bit closer to ECMAScript semantics, without overloading JSON Schema semantics.

For cases where you want to say an object can't be an instance of anything, you

[2015-05-13 08:12] tdegrunt commented on #121
Same here, on the overloading part. What you suggest seems fine, we do need to maintain compatibility for a while though.

[2015-05-13 08:15] Acubed commented on #121
Right, `{type:"date"}` could continue to be supported, I don't think we'd even need to deprecate it; but in my usage it would raise as an invalid JSON Schema against the meta-schema.

[2015-05-13 08:30] tdegrunt commented on #121
:+1:

[2015-05-14 04:42] Acubed commented on #50
#123 was merged. It exposes "name" and "argument" properties on ValidationError objects so you can construct localized messages with the same content as the system error message.

Is there anything else that would be helpful?

[2015-05-14 04:43] Acubed commented on #61
Closing for inactivity. Feel free to post another issue.

[2015-05-14 04:43] #61 closed

[2015-05-14 05:18] Acubed commented on #105
Ah ok. That might be a good excuse to inherit from Error.

Or, create a separate type of object for the error itself, and it contains a ValidationError instance.

I'll take a look.

[2015-05-14 05:20] Acubed commented on #106
@mershal does issue #50 describe your problem? If so you can close this, and take a look at the progress being described over there. Thanks!

[2015-05-14 05:23] Acubed commented on #119
This might be an issue where we're mistakenly calling recursive `validate` with an inherited `throwErrors` value.

* It looks like you're doing everything right
* Probably
* Go for it

[2015-05-14 05:24] Acubed commented on #58
Closing for inactivity, see #50 for progress on this front.

[2015-05-14 05:24] #58 closed

[2015-05-16 09:30] Acubed commented on #120
@ARAtlas Catch all that?

[2015-05-16 09:33] Acubed commented on #118
This seems to have been fixed in development, per discussion at #109

Perhaps this needs to get into the official JSON Schema test suite though.

[2015-05-17 06:52] mershal commented on #106
Yes! This is super awesome! Thanks a lot!

[2015-05-17 06:52] #106 closed

[2015-05-25 17:14] yarax opened #129 "Error: instance is not of a type(s) array"
Hello!
I use:
[code]
And got an error: `Error: instance is not of a type(s) array`
As I understand the problem is that `typeof [] === 'object'` in https://github.com/tdegrunt/jsonschema/blob/master/lib/validator.js#L275

[2015-05-26 09:37] Acubed commented on #129
I can't seem to reproduce this. Can you provide a specific regression? In particular, your code snippet contains three undefined variables, and the schema in the comment refers to another schema that isn't defined.

[2015-05-26 09:47] yarax commented on #129
Sorry, it was my fault. That's ok!

[2015-06-01 19:48] ARAtlas commented on #120
Thank you for the explanation and the tip on constraining it to type string.

[2015-06-01 19:48] #120 closed

[2015-06-11 16:05] divyaAMI opened #130 "referencing other json file"
I have a json schema that refer to another jsonfile properties. How to call addschema function that refers to another file properties? Here is the example:

library.json
[code]

book.json
[code]

reftest.js file
[code]

Here how to add multiple schema references to a file through addSchema statement?

[2015-06-11 21:48] Acubed commented on #130
Let's fix some things here first:
* Can you put the JSON in a code block? Please see GitHub's Markdown documentation
* Do you own "xyz.com"? Use [example.com](http://example.com/) if not
* Why the custom "$schema" property? The jsonschema library doesn't support that. It's supposed to refer the version of the schema you're using.
* `book.json#book` doesn't have a valid JSON property path. You prob

[2015-06-12 16:03] divyaAMI commented on #130
1.  This is the actual schema variable defined in the json. xxxx is some server and i dont own it
"$schema": "http://schemas.dmtf.org/xxxxx/v1/xxxxx-schema.0.96.0"

2. Json format i am using is based on OData JSON format.
http://docs.oasis-open.org/odata/odata-json-format/v4.0/odata-json-format-v4.0.html

3. It has properties as follows
 "properties": {
        "@odata.context": {
            "$re

[2015-06-12 22:52] Acubed commented on #130
@divyaAMI Please fix these things first

* Please read the "syntax highlighting" section of https://guides.github.com/features/mastering-markdown/
* See the correct values for, and use of, the `$schema` keyword at http://json-schema.org/latest/json-schema-core.html#anchor22
* `"$ref": "odata.4.0.0.json#context"` isn't a valid JSON path syntax, please fix it
* Give your JSON Schema an `"id"` keywor

[2015-06-16 14:00] inteloid opened #131 "Enum type attributes"
Hi, it is quite common when an property can have only value from a predefined set of values, for instance: gender, country, os, etc.

If there's a support for that, tell me how to use it, but I didn't find it in docs.

[2015-06-16 20:43] rkaneriya opened #132 "Restrict Additional Properties"
Currently, if an instance contains additional properties beyond those specified in a schema, the instance is still considered valid.

Is it possible to provide a way to specify in the schema whether or not additional properties should be allowed. Maybe this could just be a boolean called "additionalProperties" (like in this schema validator: http://spacetelescope.github.io/understanding-json-schem

[2015-06-16 21:32] Acubed commented on #131
The vocabulary itself is standardized elsewhere: http://json-schema.org/documentation.html

There is an "enum" validator, which is an array: `{"enum":[1, "1", true]}`

[2015-06-17 08:30] tdegrunt commented on #132
jsonschema supports `additionalProperties` allright, have you tried that?

See:
http://json-schema.org/latest/json-schema-validation.html#anchor64

[2015-06-17 13:33] rkaneriya commented on #132
Ahh, I must've missed that. Thanks!

[2015-06-17 13:33] #132 closed

[2015-06-22 12:24] agdevbridge commented on #119
I can confirm, code bellow returns error since 1.0.1:
[code]

[2015-06-25 07:47] inteloid commented on #131
thanks

[2015-06-25 07:47] #131 closed

[2015-06-28 09:13] hagner opened #133 "Resetting errors"
As a way of building my schema (in node.js), I'm writing mocha tests including a whole bunch of negative tests to catch all edge cases. However, it doesn't seem to make any difference if I try to create new instances of validator, it seems to aggregate up errors, i.e. not clear the errors content between run. Ideally, I would like a method which "resets" the validator between runs. Is that possibl

[2015-06-29 05:18] Acubed commented on #133
Can you please provide a regression to run, and show the error?

Errors aren't stored in the validator state, so I'm not sure what the issue could be.

[2015-06-30 23:17] hagner commented on #133
Hi!

While trying to reproduce the thing in a condensed way, then I think I spotted the problem. Looks like node's require caching (combined with non-perfect code by me) messed up the results a bit. I managed to get the tests to behave the way I wanted, so false alarm on this one. Apologies.

Sincerely,

Nils

On 29/06/2015 06:18, Acubed wrote:

Can you please provide a regression to run, and show

[2015-07-01 00:12] #133 closed

[2015-07-17 20:10] davidfells opened #135 "Everything is valid"
I've been submitting all kinds of weird random data against a known good schema, and everything validates. Even submitting something like { "foo" : "bar" } validates. Code looks like this...

[code]

Schema below:

[code]

[2015-07-18 08:18] Acubed commented on #135
Exactly which instances are unexpectedly passing validation?

Can you please provide a specific regression? Include expected and actual output, if you would.

[2015-07-20 16:04] davidfells commented on #135
So, using the schema I posted, I've tried things like:

[code]

And it validates. That's something I would expect to fail

[2015-07-20 20:10] tdegrunt commented on #135
It seems nothing is preventing additional attributes to appear in the document?
See http://json-schema.org/latest/json-schema-validation.html#anchor64

[2015-07-20 23:23] davidfells commented on #135
I guess my question is this: is there a STRICT schema matching method that insists on every required property be present to N-depth and that no additional properties (as in not defined in schema) are present? It was my assumption that this was the default, and obviously that's not the case.

[2015-07-21 02:23] Acubed commented on #135
@davidfells That is a legal instance in your JSON Schema.

The empty JSON Schema, `{}`, means all JSON instances are valid, and adding properties, e.g. `{"type":"string"}` adds constraints on that JSON instance (now only strings are allowed.).

You're probably looking for the `required` property (to require that a property exists), and the `additionalProperties` property (to define the schema for

[2015-07-26 00:30] damoclark opened #136 "validating invalid json"
Hey Tom,

I have created the following schema using http://jsonschema.net

[code]
The following json is being validated

[code]

By the following instructions, when it should fail because ```gamecode``` property is missing.

[code]
output is:
[code]

Am I doing something wrong, or is there a bug?

Thanks guys.

Damo.

[2015-08-08 01:29] rgbkrk opened #137 "License"
What's the license for this project?

[2015-08-08 09:04] Acubed commented on #137
The MIT license, see the tail end of the README:

https://github.com/tdegrunt/jsonschema/blob/master/README.md

If this answers your question you can go ahead and close this issue.

[2015-08-08 15:14] #137 closed

[2015-08-08 15:14] tdegrunt commented on #135
Closing due to inactivity

[2015-08-08 15:14] #135 closed

[2015-08-08 15:15] tdegrunt commented on #130
Closing due to inactivity

[2015-08-08 15:15] #130 closed

[2015-08-16 09:58] moatazelmasry2 opened #139 "Custom error message with properties"
Hi,

I couldn't find a possibility to add a custom error message when a property is invalid, example:

[code]

AFAIK this feature is not part of the schema, but would it be interesting to add it? I can submit a pull request to that

Regards,
Moataz

[2015-08-16 17:29] Acubed commented on #139
Sometimes I add a "label" or "description" property to schemas, but this
isn't exactly the same thing. And they're only for internal usage, since
it's in a single language and not localized.

For this reason, it might be better to expose which schema it is that
failed (returning its URI). Then you can catch the error and map it to an
error message appropriate for the particular user and UI.

We al

[2015-08-17 22:11] lupugabriel1 commented on #118
This problem is still active, in my case I have :
[code]
Since ``uuid`` is not defined as one of the formatting options ( ``FORMAT_REGEXPS`` in [helpers.js](https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js) ), [isFormat](https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js#L152) function is returning false, causing the validation to fail. Instead, I think the module s

[2015-09-24 12:13] ryandac opened #141 "Does not validate against an array of string when null values are present"
For a schema of an array of strings of fixed length, when null or undefined values are entered your Json schema validator does not pick up errors.

e.g.
 arrayOf5Strings: [ '1', , '3', '4', undefined ]
validates successfully agains schema
schema
"arrayOf5Strings": {
                    "id": "arrayOf5Strings",
                    "type": "array",
                    "items": [

[2015-09-25 03:56] Acubed commented on #141
Can you post a specific regression (a short program calling jsonschema), along with expected and actual output?

Also note that `undefined` isn't valid JSON, and presence or absence of a value is handled by the "required" keyword.

[2015-09-30 08:22] i3fox opened #142 "Do not validate date-time"
I have an error to validate a date-time property.
Value of datetime is "2015-09-28T10:40:00+0200".

[2015-09-30 09:20] Acubed commented on #142
Don't forget to post a regression so we can verify what you're talking about.

It should just be a short code sample that replicates the problem that you're talking about, as well as expected and actual output.

[2015-09-30 09:44] i3fox commented on #142
var jsonschema = require("jsonschema");
var validator = new jsonschema.Validator();
var validation = validator.validate("2015-09-28T10:40:00+0200", {'type': 'string', 'format': 'date-time'});
console.log("IsValid: " + validation.valid);

I expected 'validation.valid' true but result is false.

[2015-10-01 15:32] DmitryLapshov commented on #142
@i3fox
It doesn't seem to accept 0200. Use 02:00 instead.
"2015-09-28T10:40:00+02:00" is valid

[2015-10-01 15:46] i3fox commented on #142
I receive this time from another system. That is not under my control.

[2015-10-01 15:52] Acubed commented on #142
Oh, yeah.

The `time-date` format requires an RFC 3339 `date-time` production, including the following:

    date-time       = full-date "T" full-time
    time-numoffset  = ("+" / "-") time-hour ":" time-minute
    time-offset     = "Z" / time-numoffset

So JSON Schema is working exactly right, you're saying you expect a date-time, and you're not getting a valid one. So I don't think there's anyth

[2015-10-01 15:55] tdegrunt commented on #142
It seems the timezone is also allowed without the colon, see:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

I'm thinking to put a ? behind the colon at the end of:
https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js#L115

What do you think?

[2015-10-01 16:00] tdegrunt commented on #142
Weird:
`new Date().toString()`

gives no colon...

[2015-10-01 16:05] tdegrunt commented on #142
One last thought:
http://tools.ietf.org/html/rfc3339#section-5

shows:
`time-numoffset    = ("+" / "-") time-hour [[":"] time-minute]`

So even then, the date-time given is wrong as it's giving 4 digits not two.
We could extend the regex to allow the above?

But how many different RFC 3339 are there? :)

[2015-10-01 16:08] Acubed commented on #142
Date#toString() is defined as:

    Return an implementation-dependent String value that represents tv as a date and time in the current time zone using a convenient, human-readable form.

So it could be anything.

I can't find any way to produce a format that produces a timezone. Date#toISOString() only produces a `Z` suffix.

In any event, you can use a regex for this, since this is used for che

[2015-10-02 08:05] i3fox commented on #142
In my case it would be interesting to also validate the ISO 8601 format.
I think another possible solution is to give the opportunity to do an override of a type (in this case 'date-time') to implement my validation.

What do you think?

[2015-10-02 08:20] tdegrunt commented on #142
You can, but using `pattern`:
See http://json-schema.org/example2.html specifically the "The diskDevice storage type" example.

You can use one of the regexp examples here:
http://stackoverflow.com/questions/12756159/regex-and-iso8601-formated-datetime

[2015-10-02 08:31] i3fox commented on #142
Ok, Thanks

[2015-10-02 08:31] #142 closed

[2015-10-19 22:39] hadesara commented on #18
Any update on this? I would love to see this browserified (cross-browser).

[2015-10-20 02:52] Acubed commented on #18
@hadesara I use 'jsonschema' browserified. If there's any problems for you then open a bug report and I'd be happy to take a look at it.

[2015-10-27 16:58] climaa opened #143 "How I can validate decimals with required param is true"
That's my JSON
[code]
My validations rules:
[code]
outPut Terminal:
[code]

[2015-10-27 20:04] #143 closed

[2015-11-03 22:46] aray12 opened #146 "Custom function validations"
It would be awesome if we could define our own custom validations. Is this something that would be in the scope of this project? As an example:
[code]

[2015-11-03 22:53] aray12 opened #147 "Custom Error Messaging"
I know some people have recommended custom error messaging. Would something like the following make more sense and be easier to declare?

[code]

This would definitely make internationalization easier.

[2015-11-05 13:57] Zilev opened #148 "Properties as Property not working"
Hi, I would like to something like this:
[code]
but this part is not working well:
[code]
Is possible to do this? or is estrictamente prohibido to use those built schema words like: "required", "enum", "properties" as a property inside "properties"?.
Thanks in advance for helping me to understand this part :smile:

[2015-11-05 19:39] Acubed commented on #147
It needs some documentation, maybe a tutorial on how to get it working, but the returned error list contains `name` and `argument` properties, as well as the original failing schema, including the `id` property if any.

The `message` property that's returned is computed from the `name` and `argument` properties, but you can do this yourself in your preferred locale, too.

Is that helpful at all?

[2015-11-05 19:50] Acubed commented on #148
Items inside "properties" (also "items") are themselves JSON Schemas.

What are you actually trying to do with such a property?

[2015-11-05 20:03] Zilev commented on #148
Actually this is the schema I want to validate:
[code]

[2015-11-05 20:04] Zilev commented on #148
I see, sorry, my mistake, I've created wrong the json schema, updating my json schema:
[code]
Is working fine :)

[2015-11-05 20:05] #148 closed

[2015-11-05 23:20] aray12 commented on #146
I now see the is essentially possible using custom attributes. Will play around with these.

[2015-11-05 23:20] #146 closed

[2015-11-19 10:08] lganet commented on #147
Yes, mainly for translation to other language.

[2015-12-05 07:41] acusti commented on #118
Definitely the “correct” solution to this would be to allow people to register their own custom formats. The tv4 package handles this via an [`addFormat` API method](https://github.com/geraintluff/tv4/#addformatformat-validationfunction). That method takes a format name and a formatting validator function, which returns `null` if no error, else a string describing the error that was created.

[2015-12-05 08:06] acusti commented on #109
Seems like @tdegrunt’s fix for this has been orphaned in develop. Regarding whether unrecognized formats should fail or pass, I believe it is correct behavior that it passes, though I couldn’t find a test for it in the [suite](https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft4/optional/format.json). Other validators (like [tv4](https://github.com/geraintluff/tv4/blob/m

[2015-12-10 08:37] bekerov opened #150 "Validation by one property"
Hello. How i can validate by one property, not full schema ?
Do you have exaple with nested objects ?

[2015-12-10 09:07] tdegrunt commented on #150
Can you take a look at the tests and see if those answer your questions?

[2015-12-12 04:22] Sundarasan opened #151 "enum can be supported"
From the doc I can see that **enum** is not supported.
It would be great if this feature is added.

[2015-12-12 22:52] Acubed commented on #151
`enum` should definitely be supported. Does it state otherwise somewhere?

All the relevant JSON Schema test suite tests appear to pass, and I use it myself. I'd say it's supported.

[2015-12-16 00:02] mikestead commented on #136
Should it not be `if (result.valid) ..` ?

[2015-12-17 22:28] KyleCartmell commented on #81
I'd like to have this feature. I agree that an hook or module would probably be best.

What needs to happen to get #68, or something like it, merged? Seems like there was a CI failure but not necessarily related to the changes in the PR.

[2015-12-18 04:57] Acubed commented on #81
Hmm, I'll have to take a closer look at it.

If I recall, validity/type coercion was an idea that we sort of thought would be kind of out of scope, but another library could use a lot of the functionality from this one.

[2015-12-18 14:31] offero commented on #53
This also bit me. NaN should fail validation, but it does not.

[2015-12-18 15:17] offero commented on #53
https://github.com/tdegrunt/jsonschema/pull/152

[2015-12-18 19:20] Acubed commented on #53
@offero Can you provide an example of how?

This shouldn't generally be a problem if you're using JSON.parse() since that's guaranteed to not produce NaN.

That being said, it can produce +-Infinity if you provide it a (perfectly legal) very large number:

    JSON.parse('9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

[2015-12-18 19:28] offero commented on #53
I made a PR for it.

Interesting case. I would not expect it to do so because it's not in the JSON spec. I would think that's an issue with the parse function.

[2015-12-18 19:30] offero commented on #53
In the case that the number is too big to represent as a 64-bit floating point value, what should JSON.parse do? I guess the authors thought it would be best to not error at that point.

[2015-12-18 19:56] offero commented on #53
It's actually the parseFloat implementation.

From MDN:

    parseFloat can also parse and return the value Infinity. You can use the isFinite function to determine if the result is a finite number (not Infinity, -Infinity, or NaN).

[code]

Python loads it fine:
[code]

[2015-12-18 20:27] KyleCartmell commented on #81
I really like the DRYness of being able to specify types in one place and the efficiency of doing the validation and coercion of in a single traversal. I think there might also be some other interesting applications of hooks within jsonschema that allow users to avoid having to duplicate (poorly, most likely) some aspect(s) of the schema/data traversal. To this end, I'd be very interested in takin

[2015-12-20 10:58] Acubed commented on #53
@offero But what's the problem you are facing, exactly?

The problem that this issue poses is that JSON allows arbitrary precision and prohibits NaN and +- Infinity, and that this isn't exactly compatible with how ECMAScript stores numbers.

If you're getting a true JSON document, you will never run into this issue, since JSON.parse does not produce `NaN`.

And we do wish to support implementation

[2015-12-21 13:23] offero commented on #53
My problem is javascript object validation. If you call validate on an object with a NaN or Infinity number value, it will validate without errors. I am preventing invalid objects from being processed by my library by validating them.

I agree that I would simply like to specify that NaN or +- Infinity is not allowed. That would be great, but no where in the JSON schema spec does it allow for thos

[2015-12-22 13:10] tdegrunt commented on #151
Closed due to inactivity

[2015-12-22 13:10] #151 closed

[2015-12-22 13:11] tdegrunt commented on #150
Closed due to inactivity

[2015-12-22 13:11] #150 closed

[2015-12-22 13:11] tdegrunt commented on #141
Closed due to inactivity

[2015-12-22 13:11] #141 closed

[2015-12-22 13:22] #109 closed

[2015-12-22 13:32] tdegrunt commented on #136
Yes indeed, it should be `if (result.valid)`, closing.

[2015-12-22 13:32] #136 closed

[2015-12-28 12:00] Neta-Alon commented on #110
Joining in on the request. Is there a setting I need to tick or should I just check for `undefined` by hand?
Would have be great if I saw some mentioning of this behavior sooner.

[2015-12-28 21:12] Acubed commented on #110
This is one of those cases that is a bit tricky because it's outside the range that JSON Schema itself defines.

I would check for it by hand -- `value && validation.valid` if you're expecting an object.

You can also set `"required": true` which ensures that the value exists. This is harder to do if `required` is an array.

Arguably, though, `undefined` shouldn't validate as an `object`, certainl

[2016-01-05 08:52] jsdevel opened #155 "Schemas are not available in the published npm package. npm publish?"
It would be nice to have `require('jsonschema/schema/draft-04/schema.json')` available.

[2016-01-05 10:29] tdegrunt commented on #53
Hmm, I did merge https://github.com/tdegrunt/jsonschema/commit/7360a235edec38545498b36459bb3d494fa5551b

JSON schema doesn't allow for these restrictions indeed, so after some consideration I'm inclined to take it out. Thoughts?

[2016-01-05 17:08] offero commented on #53
The questions are: Should validate() pass with an object with NaN or +-Infinity values? Should validate() allow values that are not specified in the JSON spec (NaN and +-Infinity are not specified)?

The major problem here is with the JSON parsing. As pointed out above with the number converting to Infinity, there is a difference between validating the JSON text and validating the parsed object.

[2016-01-06 21:30] gabmontes commented on #119
I just saw the same issue. A simplified version of the breaking test case is as follows:

Schema:
[code]

Data:
[code]

Executing `validate(data, schema)` shows no error while `validate(data, schema, { throwError: true })` does.

Any clue on how to fix it?

[2016-01-09 14:12] Acubed commented on #155
@jsdevel v1.0.3 released, try it out and report back

[2016-01-11 22:20] Acubed commented on #119
@gabmontes Can you code a specific regression and provided actual and expected output?

[2016-01-18 02:32] stevage opened #156 "Explain 'id' behaviour"
I've previously used JSON Editor and have not set `id` on any of my schemas. However, `jsonschema` didn't like that.

My situation is a root schema and a number of subschemas, all loaded from the same local directory.

It took a bit of fiddling around to find a combination `jsonschema` would accept:
- `id`: `/rootschema.json` for the root
- `id`: `subschema.json` for the others.

A bit of guidance

[2016-01-18 02:59] Acubed commented on #156
You shouldn't need to do anything too special. Can you give some more specific examples on what you're doing?

Can you elaborate on how the behavior defers from other validators, if possible?

Could you provide something you expected to work that didn't?

Now, "id" works best with a (full, absolute) URI. URI references are resolved relative to that one, so for other places in the document you can

[2016-01-18 05:41] stevage commented on #156
Ok, here's my complete validator code:

[code]

I did not expect to have to manually provide an `id`. However, removing the two `schema.id = ` lines results in this error:

[code]

Ok, here's my editor, built on JSONeditor: http://terria.io/auto-datasourceeditor/

The schema contains no `id` elements: http://terria.io/auto-datasourceeditor/Catalog.json

I think I now understand why the schemas hav

[2016-01-22 23:26] Acubed commented on #155
@jsdevel Can you confirm this fixes your problem?

(Austin Wright here btw, fancy seeing you here!)

[2016-01-22 23:34] jsdevel commented on #155
hey!  I was wondering if it was you!  Let me check real quick...

[2016-01-22 23:35] jsdevel commented on #155
BTW, I got https://github.com/kogosoftwarellc/express-openapi added to [swagger.io integrations page](http://swagger.io/open-source-integrations/).  It's leveraging `jsonschema` to the max.  Check it out if you have time.

[2016-01-22 23:37] jsdevel commented on #155
That did the trick @Acubed !  Thanks!

[2016-01-22 23:37] #155 closed

[2016-01-28 22:21] gabmontes commented on #119
Sure! Which file/suite do you suggest adding the regression test?

[2016-01-29 08:13] Acubed commented on #119
@gabmontes Just paste a small program here that I can run, along with expected and actual output

[2016-01-31 19:03] SteveAtSentosa opened #157 "Is oneOf with $refs supported (see attached example)"
Thanks for a great tool.

I am wanting to create a Schema physDevice which can be one of a Set Tob Box (stb) or Cable Modem (CM) ... yes I work in the cable TV industry.

For the attached file these last two validations fail

[code]

I was expecting these to pass.  I was wondering if your tool supports oneOf in combinations with $ref? ... or do I just have the schema incorrectly defined?

[val-one

[2016-02-04 23:18] TimoRuetten opened #158 "Async custom validation"
Is there any way to add a custom attribute with async validation ?

Something like this:

[code]

[2016-02-06 11:02] jsdevel opened #159 "Support for custom format validators"
Currently 2 issues (#87 and #118) and one PR (#88) are open around this topic.

The validation spec for implementations (found [here](http://json-schema.org/latest/json-schema-validation.html#anchor106)) has the following to say about this subject:

[code]

The portion that leads me to believe it would be acceptable for `jsonschema` to support cusom format options is this: `Implementations MAY add

[2016-02-15 15:34] PauloASilva commented on #157
Hi,
I was having the same issue with `oneOf` but with a little difference: I was testing

[code]

Then I realize that, there was no reason to do not test it as I actually do when I want a `null` or `something`. So

[code]
and it did work.

I did test also your example with few little changes

[code]

and it works, also.

What do you think?

[2016-02-15 16:30] SteveAtSentosa commented on #157
Thanks Paulo, much appreciated !!!

   Steven Saunders
   Founder and Principal
   Sentosa Technology Consultants
   Cell  303.809.8043
   Email  steve@sentosatech.com <mailto:steve@sentosatech.com>
   LinkedIn: click here <https://www.linkedin.com/pub/steven-saunders/5/a35/783>
   Web  www.sentosatech.com <http://www.sentosatech.com/>

[2016-02-15 16:37] PauloASilva commented on #157
@SteveAtSentosa You're welcome ;)

[2016-02-16 12:02] #87 closed

[2016-02-16 12:02] #118 closed

[2016-02-16 12:02] #159 closed

[2016-02-16 12:18] Acubed commented on #157
@SteveAtSentosa, @PauloASilva, do you need exactly one of the alternative schemas, or at least one of them (i.e. the `anyOf` property)?

[2016-02-16 13:38] PauloASilva commented on #157
@Acubed In my use case I want `type` to be `null` or, when defined, to be  _of type_ `subschema`. To answer your question, I would say "at least one of them".

[code]

I did try the `oneOf` first, because I saw it on some StackOverflow thread.
Is the `anyOf` option available/implemented?

[2016-02-16 13:41] Acubed commented on #157
@SteveAtSentosa `anyOf` is implemented, and we claim to have full, 100% JSON Schema support.

I might look at adding `"required"` instead , unless you intend for the empty object `{}` to be a valid instance (or, do both).

[2016-02-16 14:02] PauloASilva commented on #157
@SteveAtSentosa "unless you intend for the empty object {} to be a valid instance" I don't want that.

All my properties are `null` by default.
For a non required property `x`, it can be `null` (if not set) otherwise it has to be  _of type_ `subSchema`.

[2016-03-02 00:42] mpseay commented on #52
Hey Guys, I believe I'm having a similar issue. I'm trying to require some properties of an object in an array. But, it seems as though only my root "required" list is being validated. Passing in pallet object without a quantity, width, heigh, or length isn't throwing any validation error.

[code]
Any ideas?

[2016-03-02 18:43] mpseay commented on #52
Scratch that :) I forgot my top level declarations.

[2016-03-03 06:50] mailto-kkk opened #163 "Numbers starting with zero gets error"
I tried to validate JSON data with the below schema.

ValidateData.PAYMENT_TYPE_JSON_SCHEMA = {
    "id": "/PaymentType",
    type: 'object',
    properties: {
        "purchaseAmount": {
            required: true,
            type: "number",
            pattern:"^[1-9]+[0-9]*$"
        }
    },
    "additionalProperties": false
};

It is working fine. It is accepting only positive numbers, witho

[2016-03-03 06:56] mailto-kkk commented on #163
@Acubed

[2016-03-03 07:55] tdegrunt commented on #163
Error seems in a different library? Kraken-Js?

[2016-03-03 08:04] mailto-kkk commented on #163
yes, that's what I am getting confusion. Before reaching the validation schema validation, kraken-js is throwing me out.

I also noted one more point, if the type of the property is declared as 'String'(instead of number), it is working fine.

[2016-03-03 09:18] tdegrunt commented on #163
Just try this out in jsonschema, like the examples, it works there. The problem is likely with kraken-js.

[2016-03-03 12:29] ianbytchek commented on #157
Also getting this – works without `throwError`, doesn't when it's on. This is labelled with feedback, is this still the case, do you need more info?

[2016-03-03 22:30] Acubed commented on #157
@ianbytchek `throwError` needs to be reworked some. What's your particular issue?

It was marked Feedback because I need to know if `anyOf` or adding `required` fixes the problem here, like it should.

When using `oneOf`, exactly one of the schemas must match, not zero and not two or more.

If you've got a question, feel free to open a new issue and post your regression with code example, and expe

[2016-03-04 20:50] ianbytchek commented on #157
@Acubed I was having a lot of trouble with nested `oneOf`, eventually I overrode the `validate` method with the following in TypeScript, by the way would be awesome to have the official `d.ts` file.

[code]

This must be the general solution. With stuff like `oneOf`, we can't tell if the data is valid or not until we check every single schema with `oneOf` rules, which is what happens with `{throwE

[2016-03-24 20:07] tdegrunt commented on #116
Closing due to inactivity.

[2016-03-24 20:07] #116 closed

[2016-03-24 20:09] #129 closed

[2016-03-24 20:09] tdegrunt commented on #110
Closing due to inactivity.

[2016-03-24 20:09] #110 closed

[2016-03-24 20:11] tdegrunt commented on #52
Closing due to inactivity.

[2016-03-24 20:11] #52 closed

[2016-03-29 20:24] jpSimkins opened #166 "enum is not working as expected"
I am using enum to limit the available values for the API. When I test with bad values, the validation still returns as valid. I am expecting an error due to not being in the enum list.

**My Schema:**
[code]

**My Test:**
[code]

This test returns as valid. I'm not sure why this is happening. Wanted to bring it to the attention of this community as I believe this is a bug.

Thanks

[2016-03-29 20:30] tdegrunt commented on #166
Can you reduce the case to the enum and see if it differs from this test?

https://github.com/tdegrunt/jsonschema/blob/7360a235edec38545498b36459bb3d494fa5551b/test/attributes.js#L266

[2016-03-29 20:49] jpSimkins commented on #166
This is not a bug... user error. I forgot to use await. Closing as this is working as expected now. Thanks for your time.

[2016-03-29 20:49] #166 closed

[2016-03-29 20:59] tdegrunt commented on #166
No problem, we all have this from time to time.

[2016-03-29 21:00] tdegrunt commented on #163
Closing due to inactivity

[2016-03-29 21:00] #163 closed

[2016-03-31 16:46] hbj opened #167 "Optional properties with format validation"
Hi,

how can we define an optional property with format validation?

If I use the following:

[code]

Validating an empty string for `email` would result in a format validation error. Shouldn't the validator only take non empty strings into account?

[2016-03-31 17:20] tdegrunt commented on #167
Hi,

This is what the spec says:
http://json-schema.org/latest/json-schema-validation.html#anchor33

If you want to optionally check if it's an email, you would have to write a regexp yourself and allow for an empty string as well.

Let me know if this answers your question.

Cheers!

[2016-03-31 19:04] Acubed commented on #167
@hbj This is a good question for the JSON Schema mailing list since it's about writing JSON Schemas; but, you're probably looking for the "anyOf" keyword, something like:

[code]

Alternatively, this might work if you use `null` instead:

[code]

For many properties (format included, I believe), instances will be ignored if the instance being compared isn't of the type expected by the keyword (lik

[2016-04-01 07:58] Bnaya opened #168 "Error in the typescript definitions with noImplictAny"
[code]

I hope i will get to it and make a PR

[2016-04-01 07:59] Bnaya commented on #168
#165

[2016-04-04 10:25] n1k0 opened #169 "Add support for the "date-time" type"
JSONSchema defines a [`date-time` type](http://json-schema.org/latest/json-schema-validation.html#anchor108) which doesn't seem to be supported atm by the library (while `date` oddly does):

[code]

I'm using jsonschema v1.0.2.

Also it appears that unknown types from the lib will always pass validation, which sounds a little dangerous if you ask me -- though that's probably another issue.

Could

[2016-04-04 10:34] n1k0 commented on #169
Oh my bad, I've misread the spec, and `date-time` is a *format* and not a type! Closing, sorry for the noise.

[2016-04-04 10:34] #169 closed

[2016-04-06 17:02] cguedes opened #170 "validation of string types with null instance"
The [current code](https://github.com/tdegrunt/jsonschema/blob/master/lib/validator.js#L291) to validate strings is not conforming the [JSON Schema Validation spec](http://json-schema.org/latest/json-schema-validation.html#anchor4).

[code]

We should update this code to

[code]

[2016-04-06 17:09] tdegrunt commented on #170
Are you sure it's just `\x00`, not `"\x00"`?
From that text I'm assuming it's the latter, thereof the test is still correct?

\x00 in itself is invalid JSON:
{"test": \x00}

See http://jsonlint.com

[2016-04-06 17:17] cguedes commented on #170
You are right. The spec is speaking about that character inside of a string.
I've checked the JSON Spec (http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) and strings are:

[2016-04-06 17:18] #170 closed

[2016-04-06 17:31] tdegrunt commented on #170
No problem, thanks for checking!

[2016-04-06 17:33] tdegrunt commented on #168
I have zero experience in Typescript, but seen the added value. It's hard for me to maintain this code, so if you can make a PR for this, I'll be happy to merge. Cheers.

[2016-04-06 17:34] tdegrunt commented on #167
@hbj Any update, can we close this issue?

[2016-04-06 17:44] tdegrunt commented on #158
Not that I'm aware of ... what would be the use-case?

[2016-04-06 18:15] hbj commented on #167
@tdegrunt sorry for the delay.

The spec says:

A regular expression can allow for an empty string, but I don't know whether this is considered 'correct'. IMHO an instance should only be validated if it's not empty, to make sure that, when it has a value, this value has the correct format. Whether it is allowed to be empty or not, should be the role of the `required` validator.

The solution of @A

[2016-04-06 18:30] TimoRuetten commented on #158
I am using the jsonschema for form validation - and sometimes the validation is asnyc. e.g. when doing some geocoding async or other stuff which is necessary for validation.

[2016-04-06 18:34] TimoRuetten commented on #158
Sorry if you read the first comment - I made a mistake by writing this @tdegrunt . I am using jsonschema for writing a package for form validation. In this package (its designed for meteorjs) I want to make it possible defining a custom function which is also async but will return a valid jsonschema error for better error handling. Its possible for me to do a "work around" but it would be more awe

[2016-04-07 01:41] Acubed commented on #158
The primary purpose of JSON Schema is to provide structural validation, only requiring simple computation to verify. This necessarily means no blocking or asynchronous calls.

Of course, JSON Schema can do other stuff, too, like extracting link relationships from an instance. The only thing is this would be outside the scope of the validate() function of most implementations. But there should be _

[2016-04-07 09:31] Bnaya commented on #168
pr: #171

[2016-04-07 16:13] xfg commented on #158
+1 how to do it?

[2016-04-20 11:06] arty-name opened #172 "Throws when parsing the meta-schema of JSON Schema"
I was trying to make sure that my schema is right by validating it against the [official meta-schema](http://json-schema.org/schema). I got following exception:

[code]

Here is the code to reproduce:

[code]

Interestingly enough, things start working if I delete `"id": "http://json-schema.org/draft-04/schema#",` from the meta-schema.

[2016-04-22 00:11] Acubed commented on #172
We don't actually need 'request' here, removing that suffices to reproduce the problem:

[code]

When using `$ref`, it's a better bet to use `Validator`:

[code]

I can't think of any obvious reason your code should fail, though.

[2016-05-10 23:26] mikestead commented on #119
I believe I've run into the same issue. Here's my [example](https://tonicdev.com/56dfc19322d4140c005968f4/57318d5dac945f11009952aa).
[code]
This throws `requires property "age"`.

Change `throwError` to false and no errors returned in the result.

[2016-05-13 11:45] lukewilde opened #173 "options.allowUnknownInstanceAttributes"
Howdy,

I'm working on a project where I need to show validation errors if the model has properties which are not defined in the schema.

I got excited when I saw `options.allowUnknownAttributes`, but this doesn't appear to validate extra properties found on the model.

I can't see a way of making this check without manually checking the instance's properties against those in the schema and then p

[2016-05-18 21:37] dilipkumar2k6 opened #175 "If schema is split into multiple files then getting Uncaught SchemaError: no such schema error"
I am using jsonschema npm module for json schema validation. Recently I was suppose to split my shchema into multiple files however I realized that it didn't work. Same schema works validating using http://www.jsonschemavalidator.net/ however not working using this npm module. Following are more details.

JSON Schema:
[code]

json data:
[code]

I am getting following error:
 Uncaught SchemaError:

[2016-05-18 21:38] awwright commented on #175
This depends on how you're importing the schemas. Can you provide a code sample, and expected and actual output of the program?

[2016-05-18 21:55] dilipkumar2k6 commented on #175
Following is the code I am using.

[code]

[2016-05-18 23:18] dilipkumar2k6 commented on #175
Seems like I need a loader to load the json schema file having reference of other json schema file.

[2016-05-18 23:27] nbering commented on #175
Where are you handling the extra files?

[2016-05-18 23:43] nbering commented on #175
I should probably add to my question above. There are example use cases where there are multiple schema "objects", that are loaded separately into Validator before the final call to `validate()`. They don't reference by URL, though. They just use an ID of sorts, but the reference schema object is already in memory.

I do remember seeing something in the docs about implementing a loader to handle f

[2016-05-19 02:50] awwright commented on #175
@dilipkumar2k6 Take a look at the "Dereferencing schemas" section of the README. You need to tell JSON Schema how to dereference an external schema reference.

And don't forget to provide the expected and actual output of your program that you provided!

[2016-05-21 03:56] mizunashi-mana commented on #168
Suggest:
TypeScript usually manage definitions on http://definitelytyped.org.

We should move typescript definitions to definitely typed repository from this repository.

## Notes

Many supporters fix all definitions.  If typescript is updated and there are some errors, supporter fixes errors.

[2016-05-21 13:49] Bnaya commented on #168
@mizunashi-mana
There's a lot of benefits from bundling d.ts files with the module
Also the typings repo is the more current way to handle definitions
https://github.com/typings/typings
as the tsd tool is deprecated
https://github.com/DefinitelyTyped/tsd/issues/269

[2016-05-21 15:21] mizunashi-mana commented on #168
@Bnaya
`tsd` was deprecated, but https://github.com/DefinitelyTyped/DefinitelyTyped is not.

If this library was written by TypeScript, bundling type definitions file with this library would have been good idea for me.
However, this library is **a JavaScript library**.

I'm a TypeScript user.  But there are some supersets of JavaScript and their users now (e.g. facebook flow/Haxe).
If this library

[2016-05-21 16:49] mizunashi-mana commented on #168
Ah, sorry...

https://github.com/typings/registry was available.
This registry is better than DefinitelyTyped for me.  However, it seems to be not stable.
Maybe, big changes come.
I think most of TypeScripters use DefinitelyTyped yet.

If we use typings registry:
 1. create type repository, `typed-npm-jsonschema`
 2. write README.md/index.d.ts/test.ts like https://github.com/typed-typings/npm-yarg

[2016-05-25 11:45] #168 closed

[2016-05-25 11:46] tdegrunt commented on #175
Any update on this?

[2016-05-25 19:52] dilipkumar2k6 commented on #175
Didn't get time to exlpore referencing schema. Will try to do next week. Will post details on finding

[2016-06-20 11:19] mauritslamers opened #178 "Even with options.throwError false, validation throws when enum is not an array"
When an error is made in the schema, and enum is not an array, the validation throws an error.
It also throws an error when the validation function is called with options.throwError set to false.

[2016-06-20 11:43] mauritslamers opened #179 "Enum validation incorrectly thinks an array is not an array"
In a project I am writing, most of the code runs in a virtual machine under node. From this virtual machine I am trying to validate json schemas, created inside this virtual machine.
This causes the code at https://github.com/tdegrunt/jsonschema/blob/master/lib/attribute.js#L739 to incorrectly determine that the array I put in the schema is not an instance of Array.

See here for the background on

[2016-06-20 12:36] tdegrunt commented on #179
To be sure: #178 is related to this right?

I've just updated this in master as I agree Array.isArray is a better solution, besides we were already using it in the codebase.

Can you check how master works for you and let me know?

[2016-06-20 12:39] mauritslamers commented on #179
I discovered these issues at the same time, but I think they are separate issues. This issue is about using Array.isArray(), the other about the fact that doing a validation throws an error even though the validator has been explicitly configured not to throw.

[2016-06-27 09:32] paltanmoy opened #180 "How to specify require for at least one of two elements?"
My Schema has two array elements (recurring_schedule and specific_date) and I want to have at least one of them (both can also exist) in the schema. How could I achieve this ? Is there some way to require elements conditionally so that at least one element always exist in the schema?
[code]

[2016-06-27 13:39] nbering commented on #180
I think you can manage to do that if you have the object you're validating in an array, and then define multiple types that objects in the array can be. If you have no control over the structure of the data, I would do multiple validation passes and make sure at least one passes, or just add an extra layer of validation logic for the complex rules. Complex dependencies like that aren't usually in

[2016-06-28 18:55] awwright commented on #180
Look for the `anyOf` keyword. You can do something like:

[code]

Aside, it doesn't usually make much sense to split apart the day from the time. Combine it into a single `date` field: `start_date: "2015-06-19T00:00"`. ISO8601 and its subset RFC3339 provide ways to define durations, recurring dates, and timestamps.

[2016-07-01 10:43] MikeTaylor opened #181 "Is there a command-line program using this library?"
On my Unix box, I want to say

And be told whether `obama.json` is valid according to the specified schema.

[2016-07-01 17:04] nbering commented on #181
I only looked briefly for you, but I find it interesting that I did not find one. You could browse [the npm package's dependants list](https://www.npmjs.com/browse/depended/jsonschema) to see all NPM Packages that declare a dependency on this package, but the list is extensive.

There's also [json-schema.org's implementation list](http://json-schema.org/implementations.html), but all the validator

[2016-07-01 17:33] MikeTaylor commented on #181
Thanks for taking a look, and corroborating my sense that this wasn't _just_ me being dumb.

I agree it should be pretty easy to do for someone familiar with the language and the library. Unfortunately I am neither. If someone else is, and wants to write such a driver, I hope it'll be accepted as a pull-request.

[2016-07-07 16:37] paltanmoy commented on #180
Thanks @awwright

[2016-07-07 16:37] #180 closed

[2016-07-15 09:21] raoulus commented on #14
Hi guys,

I am noticing that there are still some missing tags in git. I am using v1.0.3 right now and I would like to check the differences to v1.1.0. @tdegrunt did you forget to create them? Can you create a tag for the current release?

Thanks!

[2016-08-05 13:22] csharbel commented on #175
Hi

I tried adding referenced schemas but ran into the same issue. After some debugging, i found that the reference is perfectly getting added to the schemas collection but still it not able to pick it up. To me it looks like an issue in creating the context at line 141 or so -
new SchemaContext(schema, options, propertyName, base, Object.create(this.schemas).

I think the first parameter to Objec

[2016-08-08 14:16] vladotesanovic opened #182 "Validate object or array of objects"
Is it possible to do something like:

[code]

To validate object or array of objects with same type?

[2016-08-10 06:53] #182 closed

[2016-08-29 20:20] ccorcos opened #184 "Flow Type Definitions"
I'm a little to busy to submit a PR right now, but I got these type definitions to work for me:

[code]

Also, you might want to republish to npm -- the typescript definition file doesnt show up when I npm instal

[2016-08-30 09:18] zongbingwang opened #185 "how to judge json file valid or not in ts?"
This is the interface in ts, there are not have 'valid' property, so how judge valid or not? Can I judge that through errors.length === 0 ?

export interface IJSONSchemaResult {
        errors: Array<IJSONSchemaValidationError>;
        instance: any;
        arguments: Array<{}>;
        propertyPath: string;
        name: string;
        schema: {};
        throwError: any;
        disableFormat

[2016-08-30 10:20] zongbingwang commented on #185
ok, I have add valid:boolean in the interface.

[2016-10-14 06:36] n1k0 opened #187 "Float precision errors with multipleOf"
One cannot use the `multipleOf` constraint with floats as it will fail in many cases due to classic floating point errors:

[code]

Because:

[code]

jsonschema version: 1.1.0

[2016-10-14 18:20] nbering commented on #187
From the [multipleOf JSON schema specification](http://json-schema.org/latest/json-schema-validation.html#anchor14):

Therefore, if any change should be made, I would suggest that the change would be to throw an error or provide a warning if the parameter is a number less than 0, as that is an invalid schema. Is there any case where floating point breaks down with numbers greater than 0?

[2016-11-02 21:16] Gamrix opened #188 "Where's the TravisCI builds?"
It seems like TravisCI has not been running for the past year. What's up with that?

[2016-11-03 07:24] tdegrunt commented on #188
Somehow access got revoked, it's fixed now :)

[2016-11-03 07:24] #188 closed

[2016-11-14 22:53] nickivanov opened #189 "Enhancement or bug?: report "nested" validation errors in cases of oneOf/anyOf"
Currently validations of `oneOf`/`anyOf`/`allOf` return simply a binary state indicating that the validation failed. However, the root causes of one/some/all of nested schemas failing cannot be determined. In a modestly complex schema that makes use of definitions for common groups of elements it's very hard to troubleshoot validation errors if all you get is "there's an error there somewhere".

I

[2016-11-15 01:00] awwright commented on #189
Can you provide some sample output?

`allOf` should pass up and show errors from all sub-schemas.

Unfortunately for the other keywords, there's no single way to determine what needs correction in order to produce a valid schema. `allOf` and `anyOf` both produce situations where there's multiple values you could fix, and you need to change just one value without touching the rest of the document,

[2016-11-15 15:36] nickivanov commented on #189
@awwright you're right, `allOf` does return nested validation failures; `anyOf` and `oneOf` do not. I think it would be OK if in the latter two cases multiple errors were returned; it would still be better than knowing no details at all.

[2016-11-16 00:44] awwright commented on #189
Hmm, lemme examine what other implementations are doing. Right now the errors lists everything that _must_ be fixed.

Changing this for "anyOf" and "oneOf" would mean that it would cause an error to fix all the errors that are returned.

Or maybe I could hide this behind an "options" flag?

[2016-11-16 16:07] nickivanov commented on #189
I understand the concern. The validator cannot really tell _which_ of the failed legs must be fixed, because it doesn't know the semantics of the document it validates. The use case I have deals with the schema describing a sort of event log record; there may be different types of events, they all have a common "header", but the rest of the document differs between various event types. Basically i

[2016-11-17 20:18] nickivanov commented on #189
Looks like I'm not alone and this is a long-standing request (see #98). How about we actually fix this?

[2016-11-17 21:21] tdegrunt commented on #189
So, I'm not entirely up to speed with this issue. But: Is there a pull request which actually fixes this issue? If yes, then let's accept that pull request, if not: we will happily accept pull requests.
Please point me to the pull request for the first case.

[2016-11-18 00:56] nickivanov commented on #189
There's one from 2015 ( #98 ) and there's the one I just created before I saw the other one ( #190 ) -- they do the same thing with minor differences, so you can pick either. In favour of #190, I also updated the readme :)

[2016-11-22 18:43] ebickle commented on #156
This is a bug. The "id" keyword is optional.

http://json-schema.org/latest/json-schema-core.html#rfc.section.8.2

"If present, the value for this keyword..."

[2016-12-06 19:14] ashleyryan commented on #189
Is there any plan to merge this pull request in? I'm looking for the same feature.

[2016-12-11 08:07] tdegrunt commented on #189
Just merged #190. Closing this issue.

[2016-12-11 08:07] #189 closed

[2016-12-11 08:08] #185 closed

[2016-12-12 14:43] nopbyte commented on #173
Hello,
I am having the same issue. In short, I would like to see that the attribute "some" is not expected in the following example. Is there any way to do this with this jsonschema module?
[code]
Thanks,

[2016-12-15 12:54] Brenw10 opened #191 "Can it check reference between two JSON Files?"
Hello !

Is it possible? Can it check reference between two JSON Files?

Example:
[code]

I don't know if is that. How can I check these JSON variables following the example above?

Another question is about if it can check in children of unknown parent, like that:
[code]
Can it check the title of each panel even though I don't know what is the parent name ?

[2016-12-15 16:13] denis-k commented on #191
@Brenw10
You can use this
[code]
or this:
[code]

For second question - you can use `patternProperties`:
[code]

This a good place to read about jsonschema:
https://spacetelescope.github.io/understanding-json-schema/

Also you can play with this online validator:
http://www.jsonschemavalidator.net/
Is not basing on this package, but it is good tool for experiments.

[2016-12-16 12:42] CapivaraBeam commented on #191
Hey @denis-k!

-- **Related to the second question** --

I work with @Brenw10 and tried the code you shared.
I applied the changes in my schema and the result you can find below:

[code]

The input to the JSON schema validation is the one below:

[code]

But when I ran the JSON Schema validation I got the following errors:
[code]

I even tried to change the **additionalProperties** field value to

[2016-12-16 12:54] denis-k commented on #191
Hey @CapivaraBeam
In `additionalProperties` you have to write a regular expression for your properties
See: https://spacetelescope.github.io/understanding-json-schema/reference/object.html#pattern-properties

In your case it should be like this:
[code]

[2016-12-16 14:27] CapivaraBeam commented on #191
Thank you very much @denis-k!!!
Worked fine now :)

[2016-12-19 11:26] aniddan opened #192 "When pattern defined by RegEx#toString() it ruins."
[code]

Do I miss something here?

[2016-12-19 21:49] codmajik commented on #192
I think you want PASSWORD_REGEX.source.toString() not PASSWORD_REGEX.toString()

[code]

note how the first is a literal dump of the js regular expression you specified in source with / pre- and suf-fixes.

[2016-12-19 22:49] aniddan commented on #192
My bad! Thank you so much @codmajik

[2016-12-19 22:49] #192 closed

[2016-12-21 15:35] gregglind opened #193 "doc request: options and how to use throwError"
In the README, throwError is menitoned.  A short example showing how to invoke it Would Be Nice If.

[code]

Justification:
- it took me a while to find a code example.
- it's totally awesome that you have both throw style and list of errors style, and I want to show off your caring attention to detail!

[2016-12-21 18:51] awwright commented on #193
If I recall correctly, throwError isn't well tested (there's some cases
where it does unexpected things or throws when it shouldn't), so I'll
probably try to add some tests around that first.

On Wed, Dec 21, 2016 at 8:35 AM, Gregg Lind <notifications@github.com>
wrote:

[2016-12-24 18:19] tolbahadi opened #194 "Schema typescript definition is missing "$ref""
If I define a schema with `$ref` attribute, I get a typescript error saying `$ref` is not a known attribute. I think `Schema` definition is missing `$ref: string;`

[2016-12-26 12:42] DimitryDushkin commented on #50
@rumkin issue can be closed?

[2016-12-26 14:23] rumkin commented on #50
Yes

[2017-01-09 03:17] planttheidea opened #195 "nestedErrors raises errors that are not errors"
**TL;DR**

When surfacing nested errors in cases of `oneOf` or `anyOf`, if a nested value of one of the types fails then all the other types in the array show an error.

I'm creating a schema that uses `oneOf`, and something like this:

[code]

Will produce these error messages:

[code]

The first and last one are definitely true, however the second one seems like it should not be surfacing. The n

[2017-01-13 00:09] g-liu opened #196 "oneOf not properly supported"
Given this schema `schema`:

[code]

and this JSON `json`:

[code]

calling `validate(json, schema, {throwError: true})` claims that the JSON fails against the schema:

[code]

However the schema clearly states that `id` has to be exactly one of `string` with nonzero length or `null`. `instance.id` is a `string` of nonzero length, and not a `null`. Therefore it should satisfy the schema.

[2017-01-13 00:19] g-liu commented on #196
I may be misunderstanding the purpose of `options.throwError`. When `validate` function throws an error, does it necessarily mean that there is an error with the validation of the data against the schema? In the above case:

[code]

[2017-01-13 15:43] gregglind opened #197 "feature: built library uncoupled from node"
For REASONS*, I would like to have a built version of this that uncouples from node.  As near as I can tell, the only node thing is `URL` .  I attempted to solve this by using `JSV` and `json-schema`, but both have inconsistent `jsonschema v4` support.

I THINK a webpacked  version of the lib would work, but I will my theory to the test :)

*(Using it inside Firefox addons, but there are probably

[2017-01-17 21:10] gregglind opened #199 "cross-frame json validation (instanceOf is problematic)"
When using `jsonschema` cross-frame, problems emerge because of all the 'instanceOf' calls.

I don't have a great solution.  I am not keen on the ones in the linked articles.

http://perfectionkills.com/instanceof-considered-harmful-or-how-to-write-a-robust-isarray/
https://blog.celogeek.com/201210/220/javascript-cross-frame-instanceof/

[2017-01-20 19:00] gmcnaught opened #200 "Support "uri-reference" format"
The uri specification seems to expect fully qualified URLs, wheras a URI can be relative path, and can also be not parsable by node's url library.
Looking at the regular expression below, there seems to be a lot of assumption as to what type of URI might be matched.

https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js#L123

For a better URI regular expression, this appears to generat

[2017-01-22 05:13] awwright commented on #200
Can you please provide some test cases?

[JSON Schema Validation](https://datatracker.ietf.org/doc/draft-wright-json-schema-validation/) references the `URI` production of RFC3986, which is:

    URI         = scheme ":" hier-part [ "?" query ] [ "#" fragment ]

The kind that allows relative references is called a URI Reference, which is the "uriref" format in JSON Schema. The syntax for a URI Ref

[2017-01-25 07:15] gkorland opened #201 "required property not following V5 draft"
According to the code required is also supported as part of the property ([attribute.js:478](https://github.com/tdegrunt/jsonschema/blob/master/lib/attribute.js#L478)) as a boolean property.

According to the V5 draft [requried](http://json-schema.org/latest/json-schema-validation.html#rfc.section.5.15) must be an array.

[2017-01-25 21:45] awwright commented on #201
@gkorland JSON Schema validators are allowed to support additional features as desired.

In the case of boolean "required", this is to support JSON Schema documents written against older drafts that had a boolean "required" keyword.

[2017-01-25 21:47] gkorland commented on #201
Thanks, are you going to keep this feature or follow v5 and drop it?

On Wed, 25 Jan 2017, 23:45 Austin Wright, <notifications@github.com> wrote:

[2017-01-25 22:08] awwright commented on #201
@gkorland There's an interest in preserving backwards-compatibility, especially if it's not too difficult. Is there any compelling reason to drop it?

[2017-01-26 05:46] gkorland commented on #201
We were using other tools which utilize the same schemas and got errors on
those attributes

On Thu, 26 Jan 2017, 0:08 Austin Wright, <notifications@github.com> wrote:

[2017-01-26 07:26] leibale commented on #201
@awwright at least throw depreciation error

[2017-01-26 20:47] awwright commented on #201
@gkorland @leibale Can you give some use-cases or examples of what you're running into?

[2017-01-26 20:50] leibale commented on #201
https://github.com/json-schema-faker/json-schema-faker/issues/237

On Thu, Jan 26, 2017, 22:47 Austin Wright <notifications@github.com> wrote:

[2017-01-26 22:25] thatisuday opened #202 "Formatting error messages"
Is there any way I can change the format of the error messages?

[2017-01-26 22:35] awwright commented on #202
@thatisuday What sort of format are you looking for?

The message is just a simple developer-readable sentence, on the ValidationError object there's other properties (like `name`) so you can localize or format a custom response.

[2017-01-26 22:44] thatisuday commented on #202
Ok

[2017-01-26 22:44] #202 closed

[2017-02-06 07:10] awwright commented on #201
Lacking a compelling reason to remove reverse-compatibility support, I'll close this out.

The authority on what makes a valid schema is the JSON Schema documents, see <http://json-schema.org/>.

[2017-02-06 07:10] #201 closed

[2017-02-08 08:46] freeart opened #204 "JSON Pointer($ref) doesn't work with # symbol"
[https://spacetelescope.github.io/understanding-json-schema/structuring.html](https://spacetelescope.github.io/understanding-json-schema/structuring.html)

[code]

[2017-02-08 09:24] awwright commented on #204
@freeart Validator#addSchema needs to be provided an absolute URI (non-relative without a fragment... I suppose you can still include a fragment, but the behavior is undefined). Try that and let me know what the result is.

I suppose there should be an error message to this effect.

[2017-02-08 10:55] freeart commented on #204
@awwright without # works fine, addSchema accept '/definitions/Test' Also I tried to add big leaf "/definitions/A", "/definitions/B". etc. with ~10 elements and it works.

[2017-02-08 11:16] awwright commented on #204
@freeart If it's working in some cases without an absolute URI, then you've just run into a fluke. addSchema expects an absolute URI, such as `http://example.com/schema/Test.json`.

The relative URI provided in the $ref only makes sense if there's a base URI established somewhere else, for example:

[code]

This would be the same as saying `{"$ref": "http://example.com/schema/Test.json"}`.

[2017-02-09 07:11] #204 closed

[2017-02-09 10:46] awwright opened #205 "Verify Validator#addSchema has absolute URI"
Validator#addSchema should verify that the second argument, or identified URI if any, is absolute (not relative, and no fragment (possibly)).

See #204

[2017-02-17 10:39] n1k0 opened #206 "Typed array validation containing undefined values succeeds"
[code]

No errors. It seems the lib treats `undefined` as a possible integer, which is strange and highly surprising to me. It sounds like a bug, but I'm not sure if the JSON schema spec would just allow that.

FWIW, [jsonvalidator.net](http://www.jsonschemavalidator.net/) raises a validation error with this example:

![](http://i.imgur.com/FyzGFgG.png)

It may be because `undefined` doesn't exist

[2017-02-20 15:37] carlnordenfelt commented on #173
Sounds like you are looking for `additionalProperties: false` which is part of the [JSON Schema Spec](http://json-schema.org/latest/json-schema-validation.html#rfc.section.5.18)

Basically:

`
var schema = {
    "id": "/SimplePerson",
    "type": "object",
   "additionalProperties": false,
    "properties": {
      "name": {"type": "string"},
      "votes": {"type": "integer", "minimum": 1}
    }

[2017-02-20 15:42] #173 closed

[2017-02-28 17:41] dadambickford opened #207 "Verifying that an object does _not_ have a certain property?"
I wasn't able to find anything in the docs about this, is it possible? or is there a better way to think about this?

I was thinking something like:
[code]

Main issue I'm trying to extra double check is accidental nesting

making sure:
[code]
isn't accidentally:
[code]

Thanks in advance

[2017-03-01 23:19] wvanvugt-speedline commented on #194
I ran into this issue too

[2017-03-08 19:55] mdikov opened #208 "Can the module strictly validate instance?"
Can I detect if the instance has additional properties that are not included in the schema?

[2017-03-20 03:59] edweip3 commented on #208
i'm curious about this too.  Would love to have this feature.

[2017-03-20 04:03] mdikov commented on #208
@edweip3 I implemented my own checks. Basically you iterate over the instance and find if there is a property definition for it in the schema. Work well and it rather simple to implement outside of jsonschema.

[2017-03-22 14:16] dantman opened #209 "jsonschema fails to validate objects from a different scope"
In the `properties` handler `instanceof Object` is used.

This fails if the object does not inherit from `Object`.

The classic case where this will fail is in a browser when the object comes from another frame or in v8/node where multiple vms/contexts are used. However there are other cases where this can fail.

* Node.js' querystring.parse returns objects that do not inherit from `Object`
* Obje

[2017-04-12 19:16] core-process commented on #208
https://github.com/tdegrunt/jsonschema/blob/master/examples/all.js#L102

[2017-04-13 21:23] awwright commented on #208
@mdikov Is this different than the "additionalProperties" keyword?

[2017-04-13 21:25] awwright commented on #193
Multiple people are having this issue, I'll close this as a duplicate of #119

[2017-04-13 21:25] #193 closed

[2017-04-13 21:26] awwright commented on #178
This seems to be a duplicate of #119.
Please let us know if your situation differs!

[2017-04-13 21:26] #178 closed

[2017-04-13 21:37] awwright commented on #209
@dantman I'll take a look at this for sure.

But please note that the library is only tested against JSON (i.e. a string of bytes, not a javascript object literal), and is only guaranteed to work correctly for literals that are serializable to JSON.

Also note it's not difficult to construct schemas that consume excessive system resources to validate, such as [regular expressions](https://en.wikip

[2017-04-13 21:39] awwright commented on #196
This seems to be an issue with throwError which is largely experimental. I'll close this as a duplicate of #119, but feel free to provide additional information and feedback.

[2017-04-13 21:39] #196 closed

[2017-04-20 05:06] martinp999 commented on #195
While I actually have a problem in the same area, I don't see that the example you gave is a problem.

Firstly, OBJECT is of type 'object' with a single property of type 'null', so it matches neither the first schema in your oneOf or the second one.

Secondly, as per the documentation -

You have specifically set nestedErrors to true, so you're telling the validator to report them, which it is doi

[2017-04-20 05:43] martinp999 commented on #195
The problem that I am having is that setting nestedErrors to **false** has no effect.

Due to the fact that I am running jsonschema in mocha, I need the validator to throw errors when it _properly fails_, which is why I am setting options.throwError to true.

The problem is that it is throwing errors even though it is _not properly failing_.  By that I mean -

[code]
both OBJECT1 and OBJECT2 will

[2017-04-20 21:03] martinp999 opened #210 "oneOf, anyOf and nestedErrors not behaving as expected"
The problem that I am having is that oneOf and anyOf do not absorb errors for what should be "under the hood" comparisons of their schema collection.

Also, setting nestedErrors to **false** has no effect when throwErrors is **true**, but I'm not sure that matters - the advertised behaviour would be to silence _all_ errors, which would negate the act of validating in the first place.

Due to the f

[2017-05-01 18:07] pschwyter commented on #210
I am running into the same problem!

[2017-05-01 22:00] martinp999 commented on #210
Without doing a pull request (apologies, I did look at the code but wasn't confident enough to make changes), I can only think to do it manually (n.b. not tested yet) -

[code]

So, if you were doing this as part of a larger schema, you'd leave out the bits about validating the collections, validate everything else and then use the brute force approach above for the collections separately.

[2017-05-08 01:54] handrews commented on #200
@gmcnaught The latest draft of JSON Schema, released a few weeks ago, adds the `"uri-reference"` format for the use case you want here.

[2017-05-17 22:12] dugword opened #211 "`undefined` validates against all schemas."
I would expect the code below to throw, but `undefined` seems to be a valid object when validated against all schemas. When other falsy values are passed [null, false, NaN, '', 0] the validator correctly rejects them.

const assert = require('assert');
const jsonSchema = require('jsonschema');
const validator = new jsonSchema.Validator();

const validationResult = validator.validate(undefined, {

[2017-05-18 02:16] awwright commented on #211
This is a tricky case because `undefined` isn't a JSON value of any kind. This package assumes that `{key: undefined}` means the same thing as not existing `{}`, so in the absence of `required: true`, it won't throw anything.

Perhaps the solution is to prohibit `undefined` as a value at all.

[2017-06-02 07:43] Tiliavir commented on #181
For others: https://github.com/fmahnke/jsonschema-cli

[2017-06-03 03:28] awwright commented on #181
Oh wow, I'll add that to the README if not merge it in (I haven't kept up to date on best practices, if it's a good idea to ship a program and library together in the same package.)

[2017-06-05 19:28] RoboPhred commented on #209
Just got bit by this, due to having sandboxed code generating the objects inside a v8 context.

Interestingly, the failure ends up indicating that the object is valid.  If it detected it was a non-object, shouldn't it indicate a failure?
The specific line pointed to is in validators.properties, but I also have a "required": [] validator in there, which should probably be the thing to reject it (as

[2017-06-05 19:34] awwright commented on #209
@RoboPhred Noted, thanks!

[2017-06-07 16:37] jzrchilel opened #212 "Add custom error messages"
So I'm using jsonschema module, and everythings is working great. I just have the question if there's a way to add custom errors.
`
  apiBase: {
     type: 'string',
     minLength: 0,
     required: true,
     _minLength: 'The Api base should not be empty',
     _required: 'Api base is required'
},
`

[2017-06-07 20:16] nbering commented on #212
Would that pass validation as a JSON-schema document? Just curious if they allow for extension, or if JSON-schema is of the opinion that additional fields are invalid.

[2017-06-09 01:30] awwright commented on #212
@isafrus5 The suggested way to handle errors is to check for the keyword that failed validation and present an appropriate error message. This way, you can appropriate localize the error message too.

@nbering It is valid (unknown properties are ignored).

[2017-06-09 12:15] SanjeevMurthy opened #213 "Schema <[object Object]> already exists with different definition"
Getting ``Schema <[object Object]> already exists with different definition`` error while trying to refer 2 schemas in one.

Please correct me if am doing something wrong:

[code]

[code]

Am referencing above defined schemas in **Discounts Schema**
[code]

and getting the below error
[code]

[2017-06-09 12:33] nbering commented on #213
[code]

Your definitions have the right IDs in them, but you're registering them under the same ID. Try:

[code]

[2017-06-09 13:55] SanjeevMurthy commented on #213
Did the changes as suggested, but still am facing the same issue...

I have referencing the same "Rewards" schema in another schema, in "Lineitems" schema. Is this causing issue ??

[code]

[2017-06-09 14:44] nbering commented on #213
If you were sharing an instance of validator, that would seem to be possible, but it doesn't look like you are.

Is the stack trace exactly the same? Did you rebuild before running again?

[2017-06-09 14:48] nbering commented on #213
Oh. I think I see it. 3 of your schemas have a subschema with an id of `/items`, but they are all different. Try changing the ids for the subschemas to something unique.

[2017-06-14 21:53] adamvoss commented on #181
https://github.com/wandroll/jsonschema-commandline has more recent activity, not that that strictly means anything.

[2017-06-16 15:24] mavarazy opened #215 "JSONSchema `required` validation should specify propertyPath correctly when validating Object"
Here is a simple test to reproduce

      describe('object with required properties', function () {
          it('should specify path of invalid field', function () {
            var validation = this.validator.validate(
              { done: false },
              {
                type: "object",
                required: ["name"],
                properties: {
                  name: { type: "s

[2017-06-21 19:22] skellertor commented on #182
Was there any resolution to this?  I want to pass the `validate` function an array of objects, and validate the objects in that array.  Is there a way to do this? Thanks!

[2017-06-26 10:00] MohammadShojaeinia opened #216 "required field in JSONSchema"
Is it necessary to have required field in JSONSchema when defining a schema? when I defined my JSONSchema, always valid() method returned true, but after I added "required", it was correct! What was the problem? I asked it because in examples in Readme, "required" was not mentioned.
Thanks!

[2017-06-26 11:23] nbering commented on #216
It's not required to set required fields, but according to the json-schema specification fields are optional unless specified as required. It would still be possible to get a result of invalid without if, for example, there were a type mismatch or you had a pattern requirement on a string that failed.

[2017-06-26 11:28] MohammadShojaeinia commented on #216
Thanks a lot! I'll check it again, but now I'm done and thanks about your
useful library!

Regards
Shojaeinia

On Mon, Jun 26, 2017 at 3:53 PM, Nicholas Bering <notifications@github.com>
wrote:

[2017-06-27 14:07] tbouron opened #217 "No validation for arrays with referenced mixed types"
Hi There.

I have a schema that requires an array of different types, defined by other schemas:
[code]

However, with the following JSON and schemas, I was expecting item 2 and 3 to be invalid but the validation returns no errors:
[code]

If I change the `items` array definition by `items: { "$ref": "/Bom/Item/Classpath" }` or `items: { "$ref": "/Bom/Item/Inline" }`, it then works as expected.

Am

[2017-06-27 15:05] tbouron commented on #217
Scratch that, I found what was wrong in my schema, I should have
[code]

instead of
[code]

Now, it works as expected 👍

[2017-06-27 15:05] #217 closed

[2017-06-27 19:07] jphilipstevens commented on #194
any update on this? Its getting me as well

[2017-06-27 19:09] awwright commented on #194
I'll have to look into how to add `$ref` since it's not really a JSON Schema keyword as such, but I suppose we could add it as one since it's (as of draft-05) only supposed to be found where a schema is expected.

[2017-07-05 21:54] rweigel opened #220 "Uncaught exception when type=[null] is used"
In the following schema,`null` was used in the type array (this is not a valid JSON schema - `"null"` should have been used).  This causes an uncaught exception when attempting to validate in jsonschema 1.1.1 using node v4.2.6:

[code]

[code]

[2017-07-11 21:33] awwright commented on #220
What would be the expected behavior, do you think?
They only thing I can think of doing would be throwing a slightly different
exception.

On Jul 5, 2017 14:54, "Bob Weigel" <notifications@github.com> wrote:

[2017-07-12 01:27] rweigel commented on #220
An "invalid schema" error and an indication of the offending location would be ideal.  Perhaps one could validate the input schema against a meta-schema (https://github.com/json-schema-org/json-schema-spec)?

[2017-07-17 21:44] ljharb commented on #157
I think this is the cause of my issue: I'm refactoring a top-level object schema to be a "oneOf" schema, so that i can support both an object, and an object containing an array of objects. However, the validation message ceases to be useful when I convert to `oneOf` (even with only the same single schema). Is this something that can be fixed? Should I file a new issue?

[2017-07-17 21:52] ljharb commented on #157
oops, nvm, just discovered the `nestedErrors` option.

[2017-07-18 14:23] jasonkarns opened #221 "Be useful with core assert module"
The ValidationError objects that get thrown (or returned as part of the ValidationResult) do not contain a useful `.message` property, because the message omits the property that was checked. Clearly this was noticed and worked around because `.toString` is overridden to include the `.property` prefixed to the `.message`. However, when using the core `assert` module:

[code]

The error that is thr

[2017-07-26 17:49] paltanmoy opened #222 "minimum value inter-dependencies"
We have a schema as below -
[code]
Now we want to specify the minimum value of threshold to be 0 if metric_type is memoryutil and to be 1 if metric_type is responsetime

What would be the best way to achieve this ?

[2017-07-26 20:53] agrishkan opened #223 "Please document options that can be passed to the validate function"
The current README file mentions options such as throwError and nestedErrors. Others, unfortunately, can be learned only by looking at the source code.

Please add the options and their descriptions to the README.

The others I found:
- propertyName
- base
- skipAttributes
- allowUnknownAttributes
- rewrite
- disableFormat

[2017-07-28 22:53] awwright commented on #223
Some of these are internal and subject to change...

I'll begin working on fixing some of the issues around them, then
documenting them though.

On Jul 26, 2017 13:53, "Anna G." <notifications@github.com> wrote:

[2017-08-02 13:34] manahga commented on #187
+1  I am running into this issue myself attempting to validate randomly generated numbers (floats) within a schema that are a multiple of 0.015.  I would suggest scaling the floating values to their integer equivalents when performing the check for "multipleOf/DivisibleBy" like so:

[code]

[2017-08-02 18:27] tdegrunt commented on #187
Hmm, understood, but the standard also says:
"A numeric instance is valid only if division by this keyword's value results in an integer."

http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.1

So how should we go about fixing this, given the IEEE 754 quirk (it's not just JS)?

[2017-08-02 19:11] manahga commented on #187
Correct. Both examples I gave, if calculated correctly by JavaScript, would result in integer values with no remainders if the floating point quirks weren't there.

Hence, that is why I made the suggestion above.  Integer operations do not have those quirks.  So if you can find a solid implementation of converting the floats into their integer equivalents, that should alleviate having to deal with

[2017-08-03 14:08] manahga commented on #187
So this is what I have come up with after researching last night.  It appears that using string parsing is the most full proof way of determining the decimal precision of a number.  I tried to find a mathematical way to achieve it but all of those solutions were not 100% accurate (all subject to the rounding errors).  The following function is what I have derived to find the number of decimal plac

[2017-08-05 16:50] jasonkarns commented on #172
Minimal test case:

[code]

[2017-08-05 17:03] jasonkarns commented on #221
A more useful improvement to the library would have the `validator.validate` function return a falsy value when the validation is successful. Thus allowing a truthy value to represent a failed validation. This would allow:

[code]

[2017-08-07 13:32] manahga commented on #187
Ok...after more testing, I did find some issues with the original code.  However, they were easily sorted and I believe the final solution comes down to this:
[code]

[code]
The above would need to be implemented in the 'divisibleBy' method as well.

[2017-08-08 09:39] meza opened #226 "Weird validation issue"
Hello,

I'm facing a weird behaviour which I can't really explain. I'm using version `1.1.1`.

This is my schema:
[code]
Nothing fancy.
Here's the object I'm feeding it:

[code]
The validation comes back as valid even though the response_type is not within the enum parameters, and the client_id is not an integer.

Now the weird part is, that I've added this case to the test suite of the lib, and i

[2017-08-09 22:11] meza commented on #226
I made it work. I need - for some reason - `JSON.parse(JSON.stringify(...));` my incoming data. Then it works as intended. All humanly readable debugging lead me nowhere.

[2017-08-09 22:11] #226 closed

[2017-08-16 10:37] boyandimitrov opened #227 "I need properties from date type to pass json schema validation"
I know it's against the json specification but is there an option to provide entirely custom validation.

My case is following:

I have very simple schema to validate data before storing it in mongodb

    "title": "ticket",
    "type": "object",
    "properties": {
        "_id"    : {"type": "string"},
        "created": {"type": "string", "format": "date-time"}
    },
    "additionalProperties"

[2017-08-17 14:41] spacebaboon commented on #187
@manahga I'm also hoping for a fix to this. Your approach looks good to me. Are you planning on making a PR out of it soon? Or if you don't have time, do you mind if I submit a PR based on your code?

[2017-08-17 15:06] tdegrunt commented on #187
Yes please!

I'm all for this, but really pushed for time. If you create a pull request and include some tests showing the code works as intended, I will happily merge this in.

[2017-08-17 16:07] spacebaboon commented on #187
submitted PR #228

[2017-08-17 16:14] spacebaboon commented on #187
I also wrote a PR to cover this case in the JSON-Schema-Test-Suite that you use, but I think it'll be rejected as the owner argued that the floating point problems with multipleOf are the correct behaviour, as JSON specs say that JSON can be deserialised to floats ¯\_(ツ)_/¯

[2017-08-18 09:56] spacebaboon commented on #187
@tdegrunt no pressure or anything :smile: but do you have any idea if and when this PR might get merged, and when the next npm release might be made? I'm hoping to get this change included in a PR for react-jsonschema-form, as it's causing an issue in the product we're writing. but if not going to happen soon, I can make do with a workaround.

[2017-08-18 10:00] #187 closed

[2017-08-18 10:10] tdegrunt commented on #187
Like I said, busy :)
It's published as v1.2.0.

Thank you both for your efforts!

[2017-08-18 10:53] spacebaboon commented on #187
wonderful, thank you! hope you have a less busy weekend :smile:

[2017-08-24 09:39] sojimon opened #230 "Null is not validated when type is string"
I am trying to validate `username`.It is passed as " ". And I declared `username` of type `string`.And there is validation message.I need to allow " " as an invalid value .
`
 var statusSchema = {
        "id": "/status",
        "type": "object",
        "properties": {
          "username": {"type": "string",
            "not": {"type":  "null"}
            },
          "password": {"type": "str

[2017-09-10 19:19] dominique-mueller commented on #208
`additionalProperties` set to `false` works like a charm!

[2017-09-11 03:21] khusamov opened #231 "Extend with custom keyword to support nullable based on Open API 3 Specification"
We use internaly Swagger aka Open API. The schema differs from the JSON Schema defintion.

Eg. the type can only be one type instead of an array of types line
[code]
To support nullable values you must define
[code]

I tried to do this, but I did not get a working code:
[code]
How can I extend the existing type checking to prevent errors, when the value is null, based on the new nullable keyword?

[2017-09-25 14:34] isychev opened #233 "Empty string is a required field"
Hello
Now there is such code

[code]
If I send an empty string to the validation, the validator will return that the line is valid.

Can I make a change?
` if(instance[n]===undefined && instance[n]===''){`

[2017-09-25 18:17] awwright commented on #233
@isychev Please provide an example program, with expected and actual output.

I don't think `instance[n]===undefined && instance[n]===''` will do anything, that will always evaluate `false`.

[2017-09-26 08:41] isychev commented on #233
@awwright Sorry, this is of course a typo
`instance[n]===undefined || instance[n]===''`
Please see my example [https://jsfiddle.net/aqa75j15/](https://jsfiddle.net/aqa75j15/)
Value in empty input can't be undefined,  it is always empty string
If we send an empty string to the validation, we get a valid form

[2017-09-26 08:57] awwright commented on #233
@isychev An empty string is still a defined value in JSON Schema. You're probably looking for the `minLength` keyword?

[2017-09-26 09:57] isychev commented on #233
@awwright  For string fields may not seem an error "Required field" will always error "minLength"?

[2017-09-26 10:02] isychev commented on #233
@awwright or if the field exists in the data object it is it will always pass the validation `required`

[2017-09-28 06:18] #233 closed

[2017-10-04 09:44] goldytech opened #234 "Returning invalid results"
Hi

Below is my sample code. My expectations this should return me false. But it is returning true.
My requirements are that the instance should not have any unknown attributes which are not defined in schema also it should validate the type of data. The instance should not contain a string value for the attribute when the required type should be integer.

[code]

[2017-10-04 17:17] nbering commented on #234
It's not very well documented, but here's a comment that might explain things.
https://github.com/tdegrunt/jsonschema/blob/6d304da6d12146247fca55d33ad1fea2b77f1ceb/lib/validator.js#L212-L215

Also, unknown properties on the object being valid are acceptable according to the JSON schema specification. I believe the latest draft has some proposed validator options to turn that on or off. I believe t

[2017-10-04 22:34] pszabop commented on #223
thanks for when this is fixed.  It took me 10 minutes to find `allowUnknownAttributes` which is a very important option for my use case (or anyone who wants to be resistant to storing data they didn't validate... which should be everyone using a JSON store...)

[2017-10-05 03:39] awwright commented on #234
Hi @goldytech, @nbering hit the nail on the head.

"attributes" are better known as schema keywords. Setting `allowUnknownAttributes: false` just causes the validator to throw on an unknown schema keyword, instead of ignoring it; and this is different than an instance property. For prohibiting unknown instance properties, look at the `additionalProperties: false` keyword (which you would provide i

[2017-10-21 18:33] tdegrunt commented on #234
Seems resolved, closing this issue

[2017-10-21 18:33] #234 closed

[2017-10-26 12:40] eavdmeer opened #235 "oneOf with required fields does not work correctly."
I want to validate that a simple object contains an Underlying field that either has an InstrumentISIN or an InstrumentLEI field. This is the schema:

[code]

The object I'm validating is:

[code]

This result in the following error:

`instance.Underlying requires property "InstrumentLEI"
`

Changing the record to include an InstrumentLEI instead of an InstrumentISIN predictably results in:

`inst

[2017-11-04 22:06] awwright commented on #231
Hmm, I've been in a handful of discussions with Swagger about JSON Schema but I wasn't aware they were doing it like this. Let me see what their thinking is.

[2017-11-08 10:31] CyrineBS opened #236 "Type validation"
Hello,
Trying to validate my request params I decided to use jsonschema. The problem is that it does not validate the type and I'm not sure where I'm missing.

I have installed jsonschema with npm : `npm install jsonschema --save`
and I've got ` "jsonschema": "^1.2.0",` in my package.json.

I'm still using the schema from the documentation:
`var schema = {
  "type": "object",
  "properties": {

[2017-11-12 18:43] NeoN0x commented on #235
I got the same issue.

This is related to this pull request #174 .

Hope it will be merged.

[2017-11-12 19:26] tdegrunt commented on #235
I’m for merging, though I saw that the pull request has merge conflicts/issues. If those get resolved I’ll merge and push a new version.

I can’t spend time on this myself right now due to personal situation.

Cheers,
Tom

On 12 November 2017 at 19:43:29, NeoN0x (notifications@github.com(mailto:notifications@github.com)) wrote:

[2017-11-17 01:24] kevinliu6102 commented on #119
Any updates on merging #174? Experiencing the same issue as gabmontes.

[2017-11-25 19:11] roccomuso commented on #230
did you find a workaround?

[2017-11-26 23:37] awwright commented on #230
@sojimon That looks like a job for regular expressions using the "pattern" keyword, and maybe the "not" keyword.

This would be a good question for a general JSON Schema forum.

[2017-11-27 06:51] sean256 opened #237 "Is there a way to manually validate against apiDoc?"
I have some code which is fetching an object from an external source and the object matches something I already defined in my apiDoc definitions.

Instead of redefining it with jsonschema, is there a way to run it through the existing validator?

[2017-11-27 06:51] #237 closed

[2017-11-27 06:51] sean256 commented on #237
wrong repo, sorry!

[2017-12-12 03:09] Dahaden opened #241 "Make jsonschema compatible with swagger-schema-official"
Currently, swagger-schema-official is at v7 while jsonschema is at v4

The main issue I have is the types are not compatible.

While I do understand that it is primarily used for v4 (as stated) I would like to add the ability to at least be compatible with swagger-schema-official (while still working with v4)

[2017-12-12 03:28] awwright commented on #241
Can you provide some details on what you're looking for please?

On Dec 11, 2017 20:09, "Dahaden" <notifications@github.com> wrote:

[2017-12-19 14:08] kevingilbert100 opened #242 "Multiple types?"
I cannot find in the configuration where multiple types can be allowed during validation @ latest version.

Thoughts?

[2018-01-23 06:37] razzdasari commented on #227
Add this code at end of the file  /bin/validator.js
types.date = function testDate(instance) {
  return helpers.FORMAT_REGEXPS.date.test(instance);
};

And then mention properties
"properties": {
    "_id"    : {"type": "string"},
    "created": {"type": "date"}
}

[2018-01-25 07:58] sanketrelfor opened #244 "Issues in Date Validation"
[code]

Above code is giving provided date as valid one, please look into this.

[2018-01-26 19:27] nbering commented on #244
You are correct, this is invalid according to the [JSON schema specification](http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3.1), which takes it's date format from [RFC3339 section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).

The fault lies with the regular expression, here:
https://github.com/tdegrunt/jsonschema/blob/038fc524548ae19fd6fa5fb88bb08b9fea087ab6/li

[2018-01-29 11:30] #230 closed

[2018-01-29 11:30] #236 closed

[2018-01-29 11:30] #242 closed

[2018-01-29 11:31] #241 closed

[2018-01-29 11:31] #227 closed

[2018-01-29 11:31] #216 closed

[2018-02-08 14:01] sagarch88 commented on #182
Any update on this? Even I am facing the same issue. @tdegrunt

[2018-02-09 09:54] sagarch88 commented on #182
I have figured out the solution.

For those wondering how to use:

`{
    "id": "\partner_detail",
    "type": "array",
    "items": {
        "type": "object",
        "properties": {
            // Individual properties here.
        }
    }
}`

`items` is the key, which was needed.

[2018-02-22 06:39] mikbur commented on #213
The same message with relay-compiler 1.5.0 and the schema-file in the source-folder. Downgrading to 1.4.1  solved the problem or moving the schema out of source folder.

[2018-02-22 10:36] awwright commented on #213
I'll take a look at this. The error message should be a little bit more descriptive than just `<[Object object]>`.

I would guess, however, the issue is that multiple schemas with the same URI are being defined. In this case, <`/items`>

[2018-03-08 16:35] IPessers opened #247 "Fail with recursive reference of schema"
Hi,

I'm using jsonschema validate a complex structure with goes as follow:

ET -> Action (recursive model) -> TargetValue (recursive model too)

When I'm describing the schema by [recursivity] https://github.com/tdegrunt/jsonschema/files/1793912/recursive.txt), it's seems that it gets in an [infinit loop](https://github.com/tdegrunt/jsonschema/files/1793892/testsResults.txt) .

But not when I jus

[2018-03-09 18:50] #119 closed

[2018-03-15 01:13] awwright commented on #247
@IPessers Recursive schemas should work, as long as the object you're passing is serializable to JSON.

Can you please post an example, along with expected and actual behavior?

[2018-03-15 01:39] awwright commented on #244
@sanfords This should be fixed in master branch. Which version are you using, can you tell?

[2018-03-15 01:44] awwright commented on #235
@eavdmeer I can't reproduce this, can you test this against master branch?

[code]

This produces `instance.Underlying is not exactly one from [subschema 0],[subschema 1]`

[code]
This validates

[2018-03-15 02:00] sanfords commented on #244
@awwright, Me?

[2018-03-15 04:08] awwright commented on #244
Wait what, I'm sorry

[2018-03-15 04:15] awwright commented on #220
Ok.
Some basic schema validation could be implemented during the scanning phase, probably. I'll note it as a feature request, since technically this is a user error.

[2018-03-15 04:29] awwright commented on #53
Ok, re-looking at this now.

NaN isn't a legal JSON value, so on next major version release, how about a configurable option on how to handle it:

* number - treat as a number (current behavior)
* invalid - always invalid
* null - treat same as `null` (which is what JSON.stringify converts NaN to)
* undefined - treat same as undefined
* other value - e.g. treat as zero

[2018-03-15 10:15] IPessers commented on #247
@awwright Thank you for helping \o/

Here is my code within context, I'm using jsonschema '^1.2.2' and mocha '^5.0.4'
https://gist.github.com/IPessers/fb11647cce897b288f54cf12a136eb74

Do you need additional data?

[2018-03-15 19:46] awwright commented on #53
It looks like NaN no longer validates as a number, I'll open a new issue to deal with configuring the behavior.

[2018-03-15 19:46] #53 closed

[2018-03-15 19:52] awwright opened #248 "Configure behavior of non-JSON instances like NaN"
Since we validate objects, the library allows many values not possible with JSON by itself.

Perhaps add a configurable option to specify how these values are handled.

Numbers (NaN, -/+Inf):
* invalid - always invalid (current behavior)
* number - treat as a number
* null - treat same as null (which is what JSON.stringify converts NaN to)
* other given value

[2018-03-15 20:19] awwright commented on #156
I can't reproduce this, without a stack trace or example schema.

My apologies for not getting to this sooner.

[2018-03-15 20:23] awwright commented on #221
I'm going to change the title from "Be useful with core assert module" to something more descriptive, "Populate 'message' property of ValidationError for more descriptive error messages"

[2018-03-15 20:27] awwright commented on #157
@SteveAtSentosa Did this issue get resolved for you?

[2018-03-15 20:29] awwright commented on #184
@ccorcos We should have Typescript definitions in now, does that seem to work for you?

[2018-03-15 20:31] awwright commented on #91
As far as I can tell we're following the standard behavior of JSON Schema, if this is still an issue, please file a new issue along with a simple test, and expected and actual output, and I'd be happy to look at it. Thanks!

[2018-03-15 20:31] #91 closed

[2018-03-15 20:37] awwright commented on #191
@Brenw10 I hope I'm understanding your issue correctly.

JSON Schema doesn't have any way to verify the consistency of data, for example, verifying that some value names a property in an object found somewhere else, or that a user ID exists. JSON Schema is considering ways to do this, but it's mostly outside the scope for structural validation.

I'll close this out for inactivity, but feel free to

[2018-03-15 20:37] #191 closed

[2018-03-16 10:56] resh03 commented on #166
@jpSimkins sorry I didn't get the fix you used. I'm also facing exact same issue.

[2018-03-16 14:52] jpSimkins commented on #166
My fix was to do this:
[code]

[2018-03-22 08:04] awwright commented on #247
Alright, I can recreate some sort of stack overflow. I'll take a look at it!
If you can simplify down the example a bit though, that'd be really helpful.

[2018-03-22 10:11] IPessers commented on #247
@awwright Thank you \o/

Here, I reduced the most I could the code and the example: it's seems that the bug is generated by the recursive call of 'valueOf' in TargetValue, as I can't delete it to without preventing the bug from happening.

Here is the data model of the reduced version, hope it helps \o/
https://gist.github.com/IPessers/99d7d31b1c9fcc6a85ce657785e9bad7

![data model](https://user-i

[2018-03-28 17:21] lennygran opened #250 "Fails to load JSON Schema draft-7 meta-schema"
Fails to load JSON Schema draft-7 meta-schema at http://json-schema.org/draft-07/schema

The error is:
[code]

The code:
[code]
Debugging note: looks like tool does not recognize `$id` defined by *draft-7*.

[2018-03-30 03:27] awwright commented on #250
Yeah it's probably related to "$id" support, I'll fix that pretty soon here.

[2018-03-30 05:16] awwright commented on #247
I had to `mv validateET.js validatorET.js` but otherwise that still reproduces it, thanks for cutting it down! Still taking a look.

[2018-03-30 06:03] awwright commented on #247
The validator is getting caught up because "valueOf" is always defined on objects in ECMAScript, as a function.

Here's a minimal test case:

[code]

I'll consider adding this to the JSON Schema Test Suite, and try to fix a few other problems.

[2018-03-30 06:16] awwright commented on #247
@IPessers I just pushed out a commit to master branch that should fix your problem, can you pull it and test it for me?

[2018-03-30 07:58] IPessers commented on #247
@awwright It works \o/
I used the last version of master and ran my full code as descibed in the first post and it works perfectly \o/
Many thanks for your time and your help \o/

http://s2.quickmeme.com/img/be/be121b5083222db005c900544ce4e34af9907bcfa6cf6d2cf1c70f75b5d67b5f.jpg

[2018-03-30 13:50] IPessers commented on #247
@awwright I forgot to ask, do you know when would it be updated on npm?
Thanks again for the great support \o/

[2018-04-01 03:03] awwright commented on #247
@IPessers Done. If this seems to work for you please close out the issue, thanks!

[2018-04-02 15:12] mpareja opened #251 "bug: `required` fields array option does not produce errors"
This change appears to have broken the existing behaviour:

https://github.com/tdegrunt/jsonschema/commit/107ac1afe7cd18fa55e25f1a70d28f1adaab8dc7#diff-aa61954d23c3708bb1b5cafc3163069dR490

When a required property is explicitly set to `undefined` on an instance, the `required` fields array option is not respected correctly.

[code]

[2018-04-03 03:46] awwright commented on #251
@mpareja Makes sense.
Are you able to write a test for this behavior?
Otherwise I'll see what I can do.

[2018-04-03 06:08] intelliot opened #252 "Missing release tags"
It's difficult to compare between versions because there have been no tagged releases since v1.0.1. See https://github.com/tdegrunt/jsonschema/releases

[2018-04-03 06:13] intelliot opened #253 "SchemaError: no such schema </tag>"
v1.2.3 introduced changes that break a library called ripple-lib. See https://github.com/ripple/ripple-lib/issues/880

Based on when the version in package.json was incremented, these are the changes between v1.2.2 and v1.2.3 -
https://github.com/tdegrunt/jsonschema/compare/7cb42c455e93a87d8d86c43e56ac695819164fca...93d5b88927392faec9e87f8a750fb488b5f3d7c7

I don't see `SchemaError: no such schema

[2018-04-03 06:52] #247 closed

[2018-04-03 17:39] mpareja commented on #251
@awwright Check out the PR #254.

[2018-04-03 22:33] awwright commented on #253
That error was already in the library, but the code that scans for schemas was updated to handle the test suite better. It's possible some nonstandardized cases might work differently, though none of the officially supported tests broke.

I'm taking a look at how ripple-lib imports schemas right now.

Are you assigning an (full, absolute) URI to schemas anywhere? `/tag` isn't a valid URI.

[2018-04-03 23:11] awwright commented on #253
Hey @intelliot,

It looks like the quick fix is to import the schemas with a valid URI. Instead of `'/'`, try `'vnd.jsonschema:///'`, or something more suitable.

I'll add a feature to allow a default URI base when you use a URI Reference to import schemas like you are, but explicitly setting is the scalable long-term solution in any event.

[2018-04-04 01:46] awwright commented on #251
@mpareja Does the master branch work for you?

[2018-04-04 03:09] mpareja commented on #251
Yes, master makes our service's tests pass :D.

[2018-04-04 04:03] awwright commented on #252
I pushed out two tags that seem to have gotten lost in a `git push`. I didn't make the other releases, I don't think. I'll look at tagging them.

[2018-04-04 04:05] awwright commented on #251
@mpareja Published 1.2.4. Test that and close out this issue if that works for you. Thanks!

[2018-04-04 04:06] intelliot commented on #252
If you have the tags locally, you can try something like:

`git push origin --tags`

See “Sharing Tags” at https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2018-04-04 04:09] awwright commented on #252
@intelliot Yeah, that's what I just did. I believe @tdegrunt has the other tags held captive somewhere, though ;)

[2018-04-04 04:13] awwright commented on #253
@intelliot Should `./schemas/objects/private-key.json` be in ripple-lib repository? I had to comment that line out to get it to work.

[2018-04-04 17:48] mpareja commented on #251
Published package is working as expected.

[2018-04-04 17:48] #251 closed

[2018-04-11 21:45] awwright commented on #253
@intelliot @pefish I need your feedback, please.

[2018-05-01 02:05] awwright commented on #253
@intelliot @pefish I'm going to close this issue for inactivity. If you can provide any more information, feel free to drop a comment, reopen the issue, or open a new issue.

[2018-05-01 02:05] #253 closed

[2018-05-21 09:32] sudoapt123 opened #255 "$Ref is not working"
Ref Schema:
VType.json
[code]
Code:
[code]
Here, I am getting error for $ref.
Error:  no such schema </user/abc/schema/VType.json>. I am sure that the path is correct for the VType.json schema.

[2018-05-22 17:03] romgrk opened #256 "Version 1.2.3 should have been semver major"
Commit https://github.com/tdegrunt/jsonschema/commit/0aee236f2e6ea9e08ac6cb9729451a5af65cfc81 throws an error when two schemas have the same ID, which wasn't the case previously.
When `1.2.3` is installed instead of previous `1.x` versions, the following error is thrown: `Schema <[object Object]> already exists with different definition`.

[2018-05-22 21:41] tdegrunt commented on #256
Sorry for the inconvenience, but not something we can change anymore.

[2018-05-22 21:41] #256 closed

[2018-05-23 02:27] romgrk commented on #256
Fair enough

[2018-05-23 08:45] awwright commented on #255
@sudoapt123 What is the path relative to? There's no "id" in that document to anchor the relative reference `/user/abc/schema/VType.json` so it could be resolving to anything.

This could/should be indicated with a clearer error message, so I'll take a look at that too.

[2018-05-24 11:42] andrewm42 opened #257 "Regex to validate `time` format appears incomplete"
After reading through the [json schema spec, section 7.3.1](http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3.1) and `RFC 3339`, specifically sections [4.1](https://tools.ietf.org/html/rfc3339#section-4.1) and [5.6](https://tools.ietf.org/html/rfc3339#section-5.6) it seems to me that `time` format validation is incomplete. For example, it does not support `time-offest`. Whi

[2018-05-25 04:37] sudoapt123 commented on #255
Hello, the error message is: **no such schema </user/abc/schema/VType.json>** . And, I don't think "id" is necessary in the document. The given schemas are also correct to the best of my knowledge.

[2018-05-25 16:37] awwright commented on #255
@sudoapt123 Also, you probably need to import the schemas. Check https://github.com/tdegrunt/jsonschema#dereferencing-schemas for more information. Apologies for not catching that earlier.

[2018-06-06 23:24] enozero opened #259 "Crash when type is number but validation is expecting integer"
jsonschema version `1.2.4`
Node version `9.3.0`

Sample JSON:
[code]

Swagger Schema:
[code]

Code:
[code]

Error:
[code]

My expectation is that it shouldn't crash. Rather, it should return the `ValidatorResult` and the `errors` array should contain an error.

[2018-06-06 23:47] enozero commented on #259
This was completely our bad... `jsonschema` is doing the right thing. We had `null` as a type instead of `"null"`. That was the root issue.

[2018-06-06 23:47] #259 closed

[2018-06-07 05:26] awwright commented on #256
@romgrk Can you open an issue that demonstrates the problem? The version number isn't something we can really change, but if you can provide a sample of code with expected and actual output, I can take a look at that.

[2018-06-07 17:04] romgrk commented on #256
This isn't an issue, the new behavior is more correct than the older one.
The problem was that doing a fresh install would fetch the newest 1.x version, which would not work with the schemas that I was using, because of the semver incompatibility.

[2018-06-08 13:22] dkMorlok opened #260 "validator cant find schema by name"
in version 1.2.2 i have code:

[code]

then i use like this:

[code]

i current version (1.2.4) it not works. I have error "SchemaError: no such schema &lt;/Group&gt;"

[2018-06-08 20:19] awwright commented on #260
@dkMorlok `/Group` isn't a valid URI, does it work when you use a full URI like `http://example.com/Group`?

[2018-06-08 21:10] dkMorlok commented on #260
thx, it works.
[code]

[2018-06-13 19:23] jasonpincin commented on #256
`1.2.3` should have been semver major for this change as well:
https://github.com/tdegrunt/jsonschema/commit/107ac1afe7cd18fa55e25f1a70d28f1adaab8dc7#diff-aa61954d23c3708bb1b5cafc3163069dR198

Previously, JSONSchema would pass if a property was inherited from a prototype. After `1.2.3`, prototype chain is not considered and errors are thrown.

[2018-06-13 19:32] awwright commented on #256
@jasonpincin If something broke in a release then please file a bug report, that would be considered a bug.

As far as I can tell, though, that was part of a bugfix for the problem that certain properties like "hasOwnProperty" would always be considered present. Because of a side-effect of the behavior you describe:

[code]

There's just no good way to fix this, except breaking a completely undocu

[2018-06-13 20:02] jasonpincin commented on #256
I'll create a bug shortly, but to address your latter point, in that case, `o['hasOwnProperty']` being considered to be present seems to be the right course of action. If you want the other behavour you can be explicit:

[code]

[2018-06-13 20:12] awwright commented on #256
@jasonpincin Cool, we'll see if we can work something out there.

Note though, `JSON.parse` creates objects with a prototype, which is the bulk of how this module is already used.

[2018-06-13 20:36] jasonpincin opened #261 "Version 1.2.3 introduced breaking change affecting prototypes"
We've been using jsonschema to validate JavaScript objects that inherit properties from prototype chain.

https://github.com/tdegrunt/jsonschema/commit/107ac1afe7cd18fa55e25f1a70d28f1adaab8dc7#diff-aa61954d23c3708bb1b5cafc3163069dR198

^ The change made here broke support for this and caused code of ours to fail by doing a patch version upgrade (`1.2.2` -> `1.2.3`).

This change removes the abilit

[2018-06-13 20:37] jasonpincin commented on #256
Bug created here: https://github.com/tdegrunt/jsonschema/issues/261

[2018-06-13 20:53] tdegrunt commented on #256
My 2 cents: you are more or less depending on internal behaviour.

To drag semver (which is just a tool and problematic in itself) in here and discuss semantics:
=> Software using Semantic Versioning MUST declare a public API
We do this, this library is documented in test and in readme. We did not break API, I doubt we broke our tests.

So, in my opinion: it's not a bug.

Having said this, if @aww

[2018-06-15 00:06] awwright commented on #261
What I see the `Object.create(null)` workaround doing is telling people "If you want JSON Schema to work like it's documented, you have to add/change how you're parsing JSON into an object." I don't see that as being very accessible to the vast majority of usage.

And a lot of tutorials ship with the caveat, "use hasOwnProperty inside `for(var key in object)` otherwise you might see unexpected beh

[2018-06-15 13:39] jasonpincin commented on #261
Agree with your sentiments on not interfering with native JSON parsing. 👍 I was approaching it from the opposite angle for demonstrative purposes.

On your list of considerations, #1 and #4 are interesting. I think relying on `enumerable` would be a sensible default, but should be configurable. Checking for the existence of non-enumerable properties (functioned defined on prototype) is something w

[2018-06-20 08:44] tomergo1 opened #262 "Add validation for UUID"
Please add validation for UUID (all types)

[2018-06-20 09:15] #262 closed

[2018-06-28 11:00] franey opened #263 "ValidationError.prototype.instance does not allow falsy values"
Usually, the specific value that fails validation is reported as the `instance` property of a `ValidationError` object. However, when the failing value is not truthy, the ValidationError object will not have an instance property at all, as the constructor only adds one for truthy values:

[code]

([Source](https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js).)

It would be good if fa

[2018-07-18 19:30] landau commented on #261
Bump

[2018-07-18 19:32] landau opened #264 "Introduce ValidatorResultError that extends Error"
This causes problems when using [`ava`](https://github.com/avajs/ava) for testing errors. `ava` is of the opinion that only values of type `Error` should be thrown. Specifically, when using `t.throws`.

Is there a reason that it doesn't "extend" `Error`?

Line: https://github.com/tdegrunt/jsonschema/blob/master/lib/helpers.js#L5

Ava test for asserting it must be an error. https://github.com/avajs

[2018-07-20 00:11] ddurschlag6river opened #265 "Dependency support"
This is listed as not possible in typescript, but it is. I don't fully understand how the AST is used, so I don't have a PR ready, but here's a couple examples of property implication (i.e. one property implies the presence of another) in TS:

[code]

http://www.typescriptlang.org/play/#src=type%20abc%20%3D%20%7B%0D%0A%20%20%20%20a%3F%3A%20string%3B%0D%0A%20%20%20%20b%3F%3A%20boolean%3B%0D%0A%20%2

[2018-07-20 00:26] ddurschlag6river commented on #265
Just double-checked this and it's slightly off. Implies should rather be:
[code]
The requirement of "being a type with an implication" does indeed require *being that type!*

[2018-07-20 00:29] ddurschlag6river commented on #265
Welp... just noticed I filed this in jsonschema and not json-schema-to-typescript. Sorry.

[2018-07-20 00:29] #265 closed

[2018-07-20 01:35] awwright commented on #264
@landau I don't think I considered the possibility that we'd want to throw a ValidationError. Throwing errors when there's a validation problem is a poorly supported feature.

But I don't see why we can't do that.

[2018-07-20 10:46] landau commented on #264
Throwing an error on validation is a feature of this lib. 😄

Line: https://github.com/tdegrunt/jsonschema/blob/038fc524548ae19fd6fa5fb88bb08b9fea087ab6/lib/helpers.js#L51-L53

[code]

[2018-07-21 16:35] awwright commented on #264
@landau Right, but it's poorly implemented.

[2018-07-23 12:32] landau commented on #264
@awwright I don't understand how a poor implementation of throwing a `ValidationError` is relevant to `ValidationError` not being a "subclass" of `Error`

[2018-07-25 04:14] awwright commented on #264
@landau It's poorly implemented, as in, the code wasn't designed to support throwing validation errors. So there's been a lot of problems with trying to use the feature, through we've been fixing them. One of the things missing is, as is pointed out, ValidationError isn't derived from Error.

[2018-07-25 11:20] landau commented on #264
Thank you for the explanation.

It seems to me that the code, specifically this line https://github.com/tdegrunt/jsonschema/blob/038fc524548ae19fd6fa5fb88bb08b9fea087ab6/lib/helpers.js#L51-L53, _is_ designed to throw `ValidationError` since there is an argument for doing so and the code does throw `ValidationError`. Perhaps there is something I'm missing around the "poorly implemented" bit.

Getti

[2018-07-26 10:44] amotzte opened #266 "Not validating undefined inside array correctly"
Reproduce
[code]

[2018-08-02 14:46] toryadams opened #267 "addSchema bug"
So I have spent the last 3 hours debugging this.

I have the following code in a class.

[code]

I traced this all the way to `validator.js` and the function `Validator.prototype.addSchema`.
Now I don't have a lot of context, but to me it appears that the schema is never set with `ourUri` but at the end of the function it returns `this.schemas[ourUri]` shouldn't it be set before returning?

I have

[2018-08-02 14:50] toryadams commented on #267
Note: I am using webpack with babel.

The addSchema works in one of the my branches, but I added babel commonjs plugin and that's when stuff started breaking, so this may not be an issue with your package.

Sorry ahead of time.

[2018-08-02 14:54] toryadams commented on #267
It just fixed itself, nevermind i am closing this.

[2018-08-02 14:54] #267 closed

[2018-08-14 00:14] intelliot commented on #253
@awwright Sorry for the delay, I'm just getting around to looking at this again.

I'm not sure what you mean. Yes, `./schemas/objects/private-key.json` is in the ripple-lib repository.

https://github.com/ripple/ripple-lib/blob/dc623cd0490ab2050e0940145293907c2245fa70/src/common/schemas/objects/private-key.json#L3

I tried using `'vnd.jsonschema:///' + schemaName` on the two lines you mentioned, b

[2018-08-14 00:15] intelliot commented on #253
Looks like I don't have permission to reopen this issue.

[2018-09-15 03:19] abohannon opened #269 "'cannot read property [type] of undefined' error when running coercion hook"
I'm attempting to run the pre-validation coercion hook as detailed in the README and in [this issue](https://github.com/tdegrunt/jsonschema/pull/68 ), however I'm getting a `Cannot read property 'string' of undefined` error.

I guess this should be expected since there doesn't seem to be a `coercions` property in the lib index file or anywhere else in the repo? Can someone point me in the right di

[2018-09-19 14:54] stefaanv opened #270 "validate function is case insensitive"
validate function returns "true" for the below data and schema.  It should return false because "sample**d**ata" should be "sample**D**ata"
[code]

[code]

[2018-10-25 15:42] grubeeric opened #271 "`const` does not appear as a valid property on `Schema` in index.d.ts"
The types file `index.d.ts` does not expose the `const` property in any meaningful way on the `Schema` interface [here](https://github.com/tdegrunt/jsonschema/blob/master/lib/index.d.ts#L49). As a result, if trying to create a validator with a schema which uses `const`, it will give a type error complaining that the schema does not match `Schema`. Would a pull request adding `const?: any` to the `

[2018-11-02 23:13] awwright commented on #222
@paltanmoy Sorry for the delay, you might have better luck about schema authoring on a more generic JSON Schema mailing list, check http://json-schema.org/ for help.

Your best bet would be using the `oneOf` keyword, at least until there's if/then support.

I'll close this out because it doesn't seem to be a bug or feature request, but feel free to comment, re-open, or file a new issue.

[2018-11-02 23:13] #222 closed

[2018-11-27 21:56] littlebee opened #272 "missing property "name", but which "name" if nested"
I have a schema with nested "required"s like this:
[code]
when I validate JSON missing just one of the two required 'name' attributes, like this:
[code]
The error is 'requires property "name"'

Is there anyway to indicate which of the two "name"s are missing?

[2018-12-07 18:08] SebastianG77 opened #273 "Set JSON specification for validation schema"
Hello,

I would like to validate a JSON Object against a validation schema which is compatible to JSON specification draft-06. However, in your documentation I did not find anything about how to set the JSON specification a validation schema bases on. Could you please add a simple function where one can set the version of the JSON specification? I already tried to use the addSchema() function for

[2018-12-07 18:15] SebastianG77 opened #274 "Fix minimum/exclusiveMinimum and maximum/exclusiveMaximum error messages"
When validating against a schema that uses the property exclusiveMinimum, an inappropriate error message occurs. For the following example I get the error message: "instance must have a minimum value of 5". However, the validation error should be something like: "instance must have a minimum value greater than 5"

[code]

[2018-12-07 18:38] littlebee commented on #272
nevermind.   It looks like the `stack` attribute on the errors returned has a more complete error message.

Thank you for this awesome lib!

[2018-12-07 18:38] #272 closed

[2018-12-16 19:34] i-break-codes opened #275 "Any way to validate the validation schema?"
For example, consider the following

[code]

And I've the following validation object...

[code]

The above happily passes the validation, though, it's an issue with the schema rules. Is there any way to validate the validation object itself?

[2019-01-22 13:09] Vinay328 opened #276 "How to add a default value to the existing object if the key is not present"
const validate = require('jsonschema').validate;

var schema = {
    "type": "object",
    "properties": {
        "age": { "type": "number" },
        "bar": { "type": "string", "default": "baz"}
    },
    "required": [ "foo", "bar" ]
};

var obj = { "age": 15 };

const schemaValidation = validate(obj,schema);
console.log(schemaValidation.errors);
console.log(obj);  // o/p -> {"age": "15"}
//wha

[2019-01-22 13:39] tdegrunt commented on #276
jsonschema will not add a default, in fact it will report a validation error as it should according to the specification.

Fixing the incoming json is outside the scope of this project.
But checking the validation errors for entries with name 'required' in combination with the schema gives you information you can use to add it.

Tom

[2019-01-22 13:39] #276 closed

[2019-01-23 04:57] Vinay328 commented on #276
Thank you tom for your quick reply.

[2019-02-12 21:29] dskvr commented on #273
It appears it's not supported, you'll have to use a python version that is maintained and has full spec support for drafts 4-7 -> https://github.com/Julian/jsonschema

[2019-02-13 19:47] SebastianG77 commented on #273
Hi,

thanks for your reply. It will be a pitty, if there is no support for current JSON specifications, as I prefer the valdiation messages of this JSON validator over the ones I have seen by others. Anyway, for now I can stick to draft-04, but maybe in the future I will need new validation features. So I hope support for current validation schemas will be added soon.

[2019-02-13 20:25] awwright commented on #273
@SebastianG77 Which features are you looking for specifically? I could take a look at it for you

[2019-02-13 21:23] SebastianG77 commented on #273
When looking at i.e. ajv (https://github.com/epoberezkin/ajv), it offers the following function to set the meta schema for the used validation schema: ajv.addMetaSchema(require('ajv/lib/refs/json-schema-draft-06.json'));

So to allow using new validation features with jsonschema, I think it will be very useful if it also offers a function, where the user can set the meta schema accordingly.

It wi

[2019-02-13 21:54] awwright commented on #273
@SebastianG77 But what does that let you do, that you can't do otherwise? There shouldn't be a need for that in typical validation applications.

[2019-02-14 20:15] SebastianG77 commented on #273
Hi,

I think that i.e. the "if","then","else" feature of draft-07 can be very helpful in some situations for creating flexible JSON schemas that are easy to understand.

However, my actual use case is much simpler:  There was a design decision at the beginning of the project to create a JSON schema based on draft-07. Hence, I wanted to validate a JSON file against a draft-07 based validation schem

[2019-02-15 08:26] ra100 opened #277 "Using key `comment` can't be sent empty"
I have schema:
[code]

and then I'm trying to validate:
[code]

which throws error:
[code]

But it doesn't make sense, it behaves like some default validation, anything I do to `comment` definition doesn't change the outcome, even when I omit `comment` completely from schema. Nothin I do changes the outcome of validation.  When I omit `comment` from payload, it's ok, when it's at least one letter,

[2019-02-20 09:07] ra100 commented on #277
Problem was somewhere completely else, in different place.

[2019-02-20 09:07] #277 closed

[2019-03-28 21:41] EdoElgx opened #278 "Trim property before validation"
Hi,

Is there a way to trim a string property right before validation?

I need space/tab strings to be considered as empty strings, so it doesn't pass a minLength: 1 rule.

Thanks.

[2019-04-02 00:32] awwright commented on #278
@EdoElgx No, JSON Schema (either the specification or this implementation) doesn't offer any way to perform operations on the data as such; however you can use a regular expression to accomplish that, or (my personal recommendation) you can write a function in your application that normalizes the values first.
`pattern: "\S"` should suffice (this match the first non-whitespace character, or fail v

[2019-04-02 18:00] EdoElgx commented on #278
@awwright Thanks. That will do.

[2019-04-02 18:00] #278 closed

[2019-04-16 10:37] jabhishek opened #279 "Is this project still maintained?"
Just wondering if this project is still maintained. I see that there are lots of useful PRs still waiting to be merged for a long time.

[2019-04-24 23:29] webarthur commented on #81
I need some method like this too. The AJV has coercion just by using `var ajv = new Ajv({ coerceTypes: true })`... there is some module to add coerce types to jsonschema? Or some complete function that can do it?

Btw, the example in the README is missing the top of the function code.

[2019-04-25 20:21] webarthur commented on #81
Guys, the example code in the README seems to be WRONG! There is no "this.attributes" even with `.bind(validator)`, it is always a empty object `{}`.

[2019-04-26 05:20] awwright commented on #81
@webarthur I'm not quite sure what you're trying to do, exactly, can you please open a new issue about the README?

[2019-04-26 13:18] webarthur commented on #81
@awwright "Method to coerce instance into validation"... that's just it. Coerce types in AJV module: https://github.com/epoberezkin/ajv#coercing-data-types

I just need a good function to coerce types. I have researching but I found nothing for jsonschema module.

[2019-04-26 15:38] webarthur commented on #270
Try to add `additionalProperties: false` in the schema:

[code]

[2019-04-26 22:07] webarthur opened #280 "Add attributes globally"
Not constructive.

[2019-04-26 23:16] webarthur opened #281 "How can I return custom error messages for custom formats"
Not constructive.

[2019-04-26 23:23] webarthur commented on #281
The implementation (/lib/attributes.js:542):

[code]

[2019-04-27 00:14] webarthur opened #282 "Missing name and argument for custom properties errors"
Not constructive.

[2019-04-29 16:24] webarthur opened #283 "There is no documentation for options.rewrite function"
Not constructive.

[2019-05-02 10:09] awwright commented on #270
The correct behavior is that strings are case-sensitive. JSON Schema does not specify case-insensitive comparison like ABNF does.

Unfortunately I don't really have a good answer for how to avoid typos with incorrect character case. You can add `additionalProperties: false`, but this makes forward compatibility more difficult (the best practice for Internet protocols is to ignore fields that aren'

[2019-05-02 10:09] #270 closed

[2019-05-08 14:23] tdegrunt commented on #279
Closing, not constructive, nor helpful

[2019-05-08 14:23] #279 closed

[2019-05-08 14:28] webarthur commented on #279
I think questions without answers are not constructive...

[2019-05-08 21:17] webarthur commented on #279
+1

=/

[2019-05-08 21:17] webarthur commented on #279
There is some maintained module that is based on jsonchema?

[2019-05-09 20:09] #283 closed

[2019-05-09 20:10] #282 closed

[2019-05-09 20:10] #281 closed

[2019-05-09 20:10] #280 closed

[2019-05-21 05:07] AMEYCHAVAN opened #285 "date time issue for months less than 31 ex:30 February"
[code]
Date-time doesnt check dates in months ,like 30 feb, 31 april/june/aug/oct

`ValidatorResult {
  instance: '2019-02-31T09:22:46.000Z',
  schema: { type: 'string', format: 'date-time' },
  propertyPath: 'instance',
  errors: [],
  throwError: undefined,
  disableFormat: false }
`

[2019-05-24 12:14] nbering commented on #285
Appears to be a duplicate of #244.

[2019-05-24 19:32] awwright commented on #285
This does seem like a duplicate of #244. But here's some background:

While there's an algorithm for detecting leap days that will work well into the future, there's no such algorithm for leap seconds. There's no way to deterministically verify if `2112-04-20T09:22:60.000Z` is a valid date (on a leap second, the 61st second of a date minute) or not.

So because of this, right now I'm inclined to s

[2019-05-24 21:16] nbering commented on #285
I don't know... not validating days in a month because you can't validate leap seconds seems a little like throwing the baby out with the bath water. But I'm also not going to take my time to write a PR, either so... 🤷‍♂?

[2019-05-24 21:28] awwright commented on #285
I'm not trying to say it's not an issue, just that JSON Schema isn't intended to be the final say in if a document is valid—just an early one.

I'll still look into this, it's fairly low-hanging fruit, after all.

[2019-07-31 17:14] jaredh159 opened #286 "1.2.4 release does not contain update to type definition"
1.2.4 is missing this commit: 5e51b8236c5d7b04f799990af5bade5ee0e1e270

See: https://github.com/tdegrunt/jsonschema/blob/9abc4f5d0420759c5606b597bae954f47a13e1ac/lib/index.d.ts

(9abc4f5d is the commit pointed at by the `1.2.4` release)

Any chance we could get a 1.2.5 release?  I'm not sure why 1.2.4 doesn't have that commit, it seems to have been tagged _after_ the commit that added the `stack:

[2019-08-04 16:22] inallib commented on #207
I was even trying to get a way if we can can validate an expected prop / key exist. Like

let expectedJson = {
id:1,
name: "xxx",
salary: 22
}

let actualJson = {
id:1,
name: "xxx",
sal: 22
}

so , the validation should fail since in actual key is "sal" where is expection was "salary"

[2019-08-05 01:56] nbering commented on #207
@inallib If "salary" is not a required field, then "sal" would pass validation, since in the v4 draft of jsonSchema (which this library states as the support level in the README), the specification suggests that properties not part of the schema should just be ignored.

[2019-08-08 23:00] awwright commented on #286
Hmmm, I'll take a look at it

[2019-08-09 11:34] SalmaTofaily commented on #193
Yes, it did not work with me.
Documentation about options is sparse, took time just to figure out the code exmaple.

[2019-08-23 09:40] NSLog0 opened #288 "enum not working properly"
I've defined a scheme which to check data is containing any value by holding value in enum

[code]

When I run validator I got empty result instead of thrown any error

[2019-08-29 18:10] douglasramiro opened #289 "Required Reference is not working"
Hi,

Given the following scenario:

`var addressSchema = {
    "id": "/SimpleAddress",
    "type": "object",
    "properties": {
      "city": {"type": "string"},
      "country": {"type": "string", "required": true}
    },
  };`

and

`var schema = {
    "id": "/SimplePerson",
    "type": "object",
    "properties": {
      "name": {
          "type": "string",
          "required": true
       }

[2019-10-04 13:00] DonMehdi commented on #255
Have you found any solution for that ?

[2019-10-25 12:05] BradPrit09 opened #290 "Improve error message for invalid (undefined) schema"
[code]
When ever I try to get this **schema** from NoSql DB preferred :+1: mongoDB  ,the validator is throwing error statementing that Cannot read property of _id is .

[code]

But :+1: When I parse the Json data of that document into respective Json Schema and passing it into var **schema** ,its working but when I fetch the schema(string) that I saved in the sub-sub document and passing as **str*

[2019-11-13 03:25] awwright commented on #290
Yeah I would say this sort of error should never happen. I'll take a look at this. Are you able to reduce this to a test case?

[2019-11-27 20:26] stevenpetryk commented on #275
I know it's a year later, but you could validate your schema against a JSON schema meta-schema (a schema for schemas).

https://json-schema.org/specification.html#meta-schemas

[2019-11-28 07:00] amerrit2 opened #291 "typescript: required should be {required?: string[] | boolean}"
This is only an issue with the Typescript type definitions in index.d.ts

https://github.com/tdegrunt/jsonschema/blob/9cb2cf847a33abb76b694c6ed4d8d12ef2037201/lib/index.d.ts#L71

It looks like the required property should accept a boolean

[2019-11-29 16:36] avg0043 opened #292 "Apply different validations according to value"
Hi,

I have the following json:

[code]
The checklist array contains different `type` elements.
I would like to apply different validation according to the type value. For example:

- if `type = group`: I would like to apply that `shortText`is required and bla bla bla..
- if `type = list`: I would like to apply that `animals` and `food` are required and bla bla bla...

It's possible to apply diffe

[2019-12-20 18:10] chaeron opened #294 "Plans to support latest JSON Schema 2019-09 version?"
Do you have any plans to support the latest JSON Schema 2019-09 version?

[2019-12-23 09:36] anthonyjlmorel commented on #289
I have a similar issue where when using "$ref", all other properties seems discarded.

I would expect a kind of merge such as this:
[code]

Any thoughts on this ?

[2019-12-23 12:53] awwright commented on #289
This is a change in behavior in some of the recent updates of JSON Schema. It used to be the case that objects with `$ref` were not considered JSON Schemas, but were actually a feature defined in a different specification. This is no longer the case, and this should get fixed.

[2019-12-28 21:41] #195 closed

[2020-02-13 17:17] sid786 opened #296 "csp policy blocking script"
Error compiling schema, function code: var refVal1 = refVal[1]; var validate = function(data, dataPath, parentData, parentDataProperty, rootData) { 'use strict';  var vErrors = null;  var errors = 0;            var errs_1 = errors;    var errs_2 = errors; if ((typeof data !== "number" || (data % 1) || data !== data)) {  var err =  { keyword: 'type' , dataPath: (dataPath || '') + "" , schemaPath: '

[2020-02-13 17:32] awwright commented on #296
Are you sure you're using the "jsonschema" package? We don't use eval.

On Thu, Feb 13, 2020, 10:17 sid786 <notifications@github.com> wrote:

[2020-02-19 19:03] tdegrunt commented on #296
The text above mentions AJV - https://github.com/epoberezkin/ajv. Closing.

[2020-02-19 19:03] #296 closed

[2020-03-03 20:32] Mike96Angelo commented on #211
The issue here is **not** when `instance = {key: undefined}` but when `instance = undefined`.

If `instance` is not a valid JSON type it should be invalid.

[2020-03-03 23:12] awwright commented on #211
This behavior isn't intuitive—There should be some mechanism to prevent this from happening unintentionally, but it isn't wrong because of two things:

First, JSON Schema is permissive, it permits all values unless there's a rule making a value invalid.

Second, "undefined" is not well formed JSON, so how JSON Schema handles this is itself undefined.

Third, common usage in ECMAScript/JavaScript,

[2020-03-04 01:32] awwright commented on #211
@Mike96Angelo Actually maybe I misunderstood your point... JSON Schema doesn't make a distinction between `instance = null` and `instance = {key: null}` so in the same manner, it wouldn't make any distinction between `instance = undefined` and `instance = {key: undefined}`.

Is there a difference to you, if you used `null` instead?

[2020-03-04 15:33] Mike96Angelo commented on #211
Yes there is a big difference and in my case I can't use `{ required: true }`.

Example:
[code]

I understand that properties can be optional, but it seem wrong that the **root value** is optional.

Also where in the **JSON Schema Spec** is `{ required: true }` allowed, I can't seem to find it.  From what I understand a schema of `{ type: 'object' }` can specify an array of required properties (`{

[2020-03-05 00:22] awwright commented on #211
@Mike96Angelo "required" used to be boolean, and this form is supported as a historical artifact, from draft-03 I believe.

The validator works recursively, and doesn't make a distinction between properties and root values. Consider this:

[code]

When it encounters the "a" property, it will recursively call jsonschema.validate:

[code]

which is the same as `jsonschema.validate(undefined, {type:"

[2020-03-05 02:47] Mike96Angelo commented on #211
That seems fair, and the work arounds work fine.  I just found it non-intuitive (felt like a bug), but I guess its just how it was designed.  Thanks for taking the time to help me understand the problem.

[2020-03-06 11:24] favasconcelos commented on #231
Is there any updates on this?

[2020-03-11 00:59] awwright commented on #231
We've been moving to have OpenAPI use native JSON Schema keywords. It's not really feasible to implement this because instead of representing a restriction on an instance, it represents a value that's allowed in addition to the "type" keyword. As a general rule, all keywords in JSON Schema add limitations.

Some minor postprocessing of the OpenAPI description should turn it into a standard JSON Sc

[2020-03-11 23:21] favasconcelos commented on #231
Your proposal was something that in the end I finally managed to implement. But to give some context the goal behind everything was to validate the result of an API call against the swagger JSON schema using the lib without the need to modify the schema itself.

[2020-03-24 11:41] rkschamer opened #299 "`uniqueItems: false` has no effect for array validation"
# Problem

Even though setting `uniqueItems` to false the uniqueness validation seems not to be skipped. Consider the following example code:

[code]

The output is:

[code]

This matter was already mentioned by #91. The closing comment asked for a simple test, which is hereby provided

# Mitigation

If  `uniqueItems` is removed from the schema, the validation result does not contain the duplicate

[2020-04-01 00:37] #291 closed

[2020-04-10 16:49] ntregillus opened #300 "Pattern Regex are ignored"
https://github.com/tdegrunt/jsonschema/blob/b49eefa200ce0b8146f00ee8dc6153580573de19/examples/all.js#L59

I have been attempting to test a json schema's string property, but the Validator.Validate seems to ignore my type definitions "pattern" value entirely:
https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6.3.3

[code]
when I run this through validate
[code]
I am expe

[2020-04-11 05:53] awwright commented on #300
@ntregillus You should specify the regular expression as a string — the schema object should be compatible with a JSON Schema document parsed with `JSON.parse`.

Maybe as a future extension this should support a RegExp instance—or at the very least, it should error out if the value is an unexpected type.

[2020-04-13 20:45] ntregillus commented on #300
I tried both as a regular expression, and a string wrapper (like below):
[code]

however it still does not work. I did notice though if my type was in an array definition, it was correctly validating my regex statement. It just appears the verification on an object property does not work.

[2020-06-22 12:36] parmarmitesh opened #303 "ENOENT: no such file or directory, scandir 'test/suite/tests/draft3'"
I am using  npm version:- 6.13.4 and node version:- 12.16.1

Following is the error I am getting while executing **npm test**,so can you help me please in this or suggest me if I missing something.

jsonschema@1.2.6 test /jsonschema

internal/fs/utils.js:230
    throw err;
    ^

Error: **ENOENT: no such file or directory, scandir 'test/suite/tests/draft3'**
    at Object.readdirSync (fs.js:871:3)

[2020-06-23 22:50] awwright commented on #303
@parmarmitesh Try initializing the git submodules; `git submodule update --init`

Let me know how that works for you.

[2020-06-24 09:59] parmarmitesh commented on #303
@awwright  Thanks, now its working by initializing the git submodules which you had mentioned.

[2020-06-24 09:59] #303 closed

[2020-07-12 11:35] sromano88-svc opened #304 "Dependencies for nested object properties"
I need to use the `dependencies` validation, but currently it works for a property that depends on another property.
Example, if a is present, then b must be present.
[code]
I need to make a dependency with a nested property.
Example, if a is present, then c property inside b object must be present.
[code]
**The question I have if it is something that you consider could be useful.**

I know where

[2020-07-18 22:22] sromano88-svc commented on #304
Hi awwright, I see you assigned this issue to yourself.
Is there something I can help with?

[2020-07-20 00:46] awwright commented on #304
@sromano88-svc "dependencies" can accept a map of schemas, like

[code]

I think this is the closest you're going to get, because you're asking for a feature for the JSON Schema spec itself, and if you provided a value like `"b.c"` that already means something, it means you have to have a property named that: `{"b.c": true}` or whatever.

[2020-07-29 09:42] sromano88-svc commented on #304
Thanks for your comments.

[2020-07-29 22:56] awwright commented on #304
@sromano88-svc I'll close this out since this seems to be a suggestion for the JSON Schema spec itself, but check out https://json-schema.org/ if you have any further questions or suggestions. Or comment here if you think there's something I missed.

[2020-07-29 22:56] #304 closed

[2020-08-02 13:24] greemi01 opened #305 "{ type: : 'string, null' } excepts anything"
[code]

The first example fails schema validation ... which is as expected.

The second example passes schema validation ... which is not as expected.

[2020-08-11 03:00] xyz-mtl opened #306 "Generate schema from JSON Data"
Hi,

Do you know if this module can generate a schema from JSON data ?

Thx

[2020-08-11 05:56] tdegrunt commented on #306
It doesn’t, sorry.

[2020-08-11 05:56] #306 closed

[2020-08-15 04:10] xyz-mtl commented on #306
It's possible with this Library.  👍

Package: NJsonSchema
Type: NJsonSchema.Generation.SampleJsonSchemaGenerator
The SampleJsonSchemaGenerator generates a JSON Schema from sample JSON data.

var schema = JsonSchema.FromSampleJson("...");
var schemaJson = schema.ToJson();

[2020-08-15 05:30] awwright commented on #306
Also check out https://json-schema.org/implementations.html#generators-from-schemas on the official JSON Schema website

[2020-08-27 01:30] awwright commented on #206
This seems to be a duplicate of #211, if you have any further questions feel free to comment there, or open a new issue.

[2020-08-27 01:30] #206 closed

[2020-09-04 22:13] awwright commented on #294
@chaeron Yes!

[2020-09-04 22:13] #294 closed

[2020-09-04 22:18] awwright commented on #207
You can also do something like:

[code]

[2020-09-04 22:18] #207 closed

[2020-09-04 22:29] awwright commented on #294
@chaeron Good question... It's one of the next things I'm working on. If you have a specific feature you're looking for, thumb up or drop a comment in an issue, or file a new issue if necessary, and I can look at that first.

[2020-09-09 07:47] Bosch-Eli-Black opened #307 "if/then/else support"
Hello! :)

It looks like dynamically marking fields as required based off of the result of an "if/then" statement isn't supported, which I think may be a bug.

**JSON**
[code]

**Schema**
[code]

When I validate, I expected an error to be returned saying that `fieldB` is required, but no error is returned.

The Newtonsoft validator (https://www.jsonschemavalidator.net/) throws an error for the abo

[2020-09-20 23:38] b-jsshapiro opened #308 "nestedErrors property missing in lib/index.d.ts Options interface"
One line change  - the property definition just isn't there.

[2020-09-25 14:13] hicksjduk opened #309 "Error messages when validating nested schemas using oneOf"
This might be already covered by another issue, but I can't tell from the descriptions.

When I specify that a property is oneOf two nested schemas (referenced by $ref), if it doesn't match either schema then the validation fails correctly, but the only message issues says that it doesn't match exactly one of the schemas. This is correct, but to be helpful the errors raised when validating the nes

[2020-09-25 21:53] awwright commented on #286
@jaredh159 If you missed it, this should be in since `v1.2.5`. I'm closing this out now, but please file a new issue if there's anything else missing.

[2020-09-25 21:53] #286 closed

[2020-09-25 22:01] awwright commented on #271
872935b4a856a0f69d0363d5f52e1c47789725d5 should resolve this, and will be available in the next release.

[2020-09-25 22:01] #271 closed

[2020-09-25 22:08] awwright commented on #288
@NSLog0 Can you submit a minimal test case?

I think this is an error with your schema. Your `targetSchema` specifies `type: "array"` but uses the "properties" keyword, which only makes sense with `type: "object"`. Perhaps you intended to use the "items" keyword?

[2020-09-25 22:08] #288 closed

[2020-09-25 22:10] awwright commented on #194
It appears the TypeScript index.d.ts file now includes a "$ref" property. I'll close this out, but please open a new issue if there's anything missing from the TypeScript definitions.

[2020-09-25 22:10] #194 closed

[2020-09-25 22:14] awwright commented on #231
OpenAPI no longer uses "nullable" but instead follows the JSON Schema "type" keyword exactly.

Some news on this:
* https://github.com/OAI/OpenAPI-Specification/releases/tag/3.1.0-rc0
* https://twitter.com/apisyouwonthate/status/1266298393577443331

Feel free to let me know any comments or other thoughts on this.

[2020-09-25 22:14] #231 closed

[2020-09-25 22:44] awwright commented on #172
I can't seem to reproduce this anymore, using the `json-metaschema` package like so:

[code]

If this is still causing any trouble, please open a new issue with a minimal test case.

[2020-09-25 22:44] #172 closed

[2020-09-25 23:10] awwright commented on #156
Some of how "id" is used has changed over the past few releases. If anyone has any problems still, please open a new issue and I'll take another look.

I will note, you should use a _full_, absolute URI like so:

[code]

This will probably fix most problems that people have with "id".

[2020-09-25 23:10] #156 closed

[2020-09-25 23:12] #260 closed

[2020-09-25 23:21] awwright commented on #299
This should be fixed with `8274e72044fc353d62a2d3fc425c7ed3e21b2f86` and available in the next release.

[2020-09-25 23:21] #299 closed

[2020-09-26 03:49] awwright commented on #179
The library does not use `instanceof Array` anymore so I'm going to close this out.

[2020-09-26 03:49] #179 closed

[2020-09-26 03:51] awwright commented on #184
The package should be exporting TypeScript definitions now. If this has problems, or isn't sufficient for whatever reason, please open a new issue.

[2020-09-26 03:51] #184 closed

[2020-09-26 03:55] awwright commented on #308
I just fixed this in 4b0584fe537b0858c2364be3c8fda35829f96b87 — this should be available in the next release.

Please let me know if you have any further feedback.

[2020-09-26 03:55] #308 closed

[2020-09-26 04:00] awwright commented on #307
Yes that's correct, if/then/else support is on the todo list. I'm gonna rename this issue accordingly.

As a workaround, consider using the "dependencies" keyword, which is an object with a property name as the key, and the schema to test if that property exists.

[2020-09-26 04:06] awwright commented on #300
@ntregillus Can you provide a minimal test case? I cannot reproduce this.

[code]

[2020-09-26 04:09] awwright commented on #263
Fixed in bb770f6f876ef72f3df0421008d77a52218774e8 and should be available in the next release, please let me know if you have any further issues.

[2020-09-26 04:09] #263 closed

[2020-09-26 04:42] awwright commented on #255
This issue typically happens when the schema URI is not a full, valid URI.

In order to work predictably, it must be a full URI such as `http://example.com/schema.json`. #205 intends to provide a more descriptive error message for exactly these cases.

If you have tried this and you are still having problems, please open a new issue and provide the code you are using along with expected and actual

[2020-09-26 04:42] #255 closed

[2020-09-26 04:49] awwright commented on #235
Closing for inactivity. If this is still causing a problem, please feel free to file a new issue. Please include sample code with expected and actual output.

[2020-09-26 04:49] #235 closed

[2020-09-26 05:02] awwright commented on #292
I believe this should be included as part of #307.

Additionally, take a look at the "dependencies" and "oneOf" keywords, and [this post about discriminator properties](https://stackoverflow.com/questions/61224526/how-to-represent-union-types-in-json-schema-validator/61225670#61225670).

I'm closing this out because this isn't really in the scope of this library — see https://json-schema.org/ for

[2020-09-26 05:02] #292 closed

[2020-09-26 05:05] awwright commented on #290
This error is probably happening because you're passing `undefined` as the schema.

[2020-09-26 05:11] awwright commented on #274
I'll work on this as a part of the next minor update adding number-form exclusiveMinimum/exclusiveMaximum support.

[2020-09-26 05:14] awwright commented on #199
I'm closing this out because we're now using `Array.isArray` for differentiating between objects and arrays; for other things, please open a new issue and provide a code sample illustrating what you're trying to do.

[2020-09-26 05:14] #199 closed

[2020-09-26 05:16] awwright commented on #212
I think the best way to handle this is to treat the `name` property of the `ValidationError` as an untranslated string, and perform localization the same way you would in other parts of your application. I'll leave this open so I can add that example.

[2020-09-26 05:19] awwright commented on #50
I'm closing this out because `ValidationError` should provide enough information to construct your own responses, see the `name` and `argument` properties. See also #212

If that is confusing at all, or if there's any additional features that can be added, please open a new issue.

[2020-09-26 05:19] #50 closed

[2020-09-26 05:22] awwright commented on #211
This is a common enough issue that it's worth solving... In the next breaking change I'll add an option called `required`, which will default to true (whereas right now, the instance is not "required"). Set it to `false` for the v1 behavior.

Very few people should be impacted by this, but it's technically a breaking change so I'm scheduling it for the next major update, which should be 2.

[2020-09-26 05:24] awwright commented on #266
Technically, `undefined` is not a valid JSON value; so the behavior is undefined. What should the behavior be?

[2020-09-26 05:30] awwright commented on #175
This seems to be a problem with how the schemas are imported, so I'm going to close this out. If there's any problems, don't hesitate to open a new issue. Please include a code sample with expected and actual output.

[2020-09-26 05:30] #175 closed

[2020-09-26 05:51] awwright commented on #215
With the "required" keyword, it's testing that the object has or does not have a property in it.
The `ValidationError#argument` property will have the name of the missing property. The `propertyPath` is supposed to point to a path that exists, so I don't think it makes much sense to change this.

Let me know if you have any further comments or feedback.

[2020-09-26 05:51] #215 closed

[2020-09-26 05:54] awwright commented on #99
I don't think it should be in the scope of this package to transform instances. I think this would make more sense as a separate package.

[2020-09-26 05:54] #99 closed

[2020-09-26 06:00] awwright commented on #147
Merging this with #212

[2020-09-26 06:00] #147 closed

[2020-09-30 04:26] awwright commented on #223
Progress:

- [ ] skipAttributes?: string[];
- [ ] allowUnknownAttributes?: boolean;
- [ ] rewrite?: RewriteFunction;
- [ ] propertyName?: string;
- [ ] base?: string;
- [ ] throwError?: boolean;
- [ ] nestedErrors?: boolean;

[2020-09-30 04:42] awwright commented on #167
This appears to have the correct behavior:

[code]
This isn't a bug with how the JSON Schema spec is implemented so I'm going to close this.

My two suggestions for doing this are:

1. Have your application read an empty value as `undefined` or `null`.

2. Use the `"oneOf"` keyword to say e.g. "permit an empty value, OR a string with a valid email address"

[2020-09-30 04:42] #167 closed

[2020-09-30 04:45] awwright commented on #208
Closing because "additionalProperties" seems to be the keyword to use for this.

For additional help on writing schemas, check out the resources on https://json-schema.org/

[2020-09-30 04:45] #208 closed

[2020-09-30 05:02] awwright opened #310 "Get property path as an array"
It doesn't make much sense to only provide the property path as a `.`-separated string. It should also be available as an array.

In this form, it would be an empty array for root-level values. Properties in an object would have a string, items in an array would have a number representing the index/offset.

[2020-09-30 05:04] awwright commented on #309
@hicksjduk Can you suggest a better message? Maybe something like

[2020-09-30 05:15] awwright commented on #275
You can validate against the meta-schema, but there really ought to be a built-in way to ensure the schema is valid, before you start testing values against it. I'll leave this open to track that.

[2020-09-30 13:51] jmsaucier opened #311 "@1.2.7 Invalid regular expression"
We had regex that was validating a UUID. When upgrading to 1.2.7, that is now broken saying "Invalid escape". I think this is the commit that causes the issue: 35db08dac87a627f6e0ebcaaf72c15bfb4cf3fde

`SyntaxError: Invalid regular expression: /[0-9a-f]{8}\-[0-9a-f]{4}\-[0-9a-f]{4}\-[0-9a-f]{4}\-[0-9a-f]{12}/: Invalid escape`

And here is where we're referencing it:

`module.exports = {
  id: 'UUI

[2020-09-30 14:44] hicksjduk commented on #309
The existing message is fine, but that wasn't what I was talking about. What I said was that the messages from the validation of the subschemas should also be included.

[2020-09-30 18:45] awwright commented on #309
@hicksjduk How well does the "nestedErrors" option work for you?

[2020-09-30 22:29] awwright commented on #311
@jmsaucier I'm able to reproduce this, and I'm sort of suprised... I wasn't aware, but it appears the "u" flag not only enables Unicode characters (matching full code points instead of surrogate pairs), but it also enables some additional strict behavior, like not permitting unnecessary escapes...

The `\-` sequence you're using is an unnecessary escape, the backslash doesn't need to be escaped. Y

[2020-09-30 23:04] jmsaucier commented on #311
@awwright Updated with that regex, and it is working. Thank you very much!

This was validation in our DB layer and we had not set the version number of `jsonschema` to be fixed, so tests and builds started failing with the newly published version.

I find it odd that it starts validating differently if it's unicode or not.

I will go ahead and close this issue since my problem has been resolved.

[2020-09-30 23:04] #311 closed

[2020-10-01 00:51] awwright commented on #223
All of these keywords should now be mentioned in the README as of fbd9e2bebcfa9a8379929efe1434f24e5d829419

Please open a new issue if there's anything missing!

[2020-10-01 00:51] #223 closed

[2020-10-01 00:58] awwright commented on #212
I added a paragraph on this in 9193f9d7aab0bbbed45d1db103eada148aee6b08

If anyone has any additional questions or comments, please open an issue so we can look into it.

[2020-10-01 00:58] #212 closed

[2020-10-01 08:29] hicksjduk commented on #309
What is the "nestedErrors" option? Where is it documented? How is it used?

[2020-10-01 18:37] awwright commented on #309
@hasansaghir It's described in a (somewhat short) passage in the README. You set it to true, and the output will include the errors will produced within. They are normally suppressed because it would _also_ be an error to fix all of them.

How about you play around with it, see what the output looks like, and let me know if how think the README.md can be improved.

[2020-10-01 19:34] awwright commented on #210
I believe this was fixed in a recent release. I just added a test in 8c4f5ca4d2c073194cc979bbf9f76a1184c495a3.

If you think the behavior still needs to be changed, please open a new issue.

[2020-10-01 19:34] #210 closed

[2020-10-01 19:40] awwright opened #312 "Add "required" option"
As a side effect of how validation is processed, `validate(undefined, false)` is valid: An `undefined` instance is always considered valid. This doesn't violate JSON Schema because `undefined` isn't actually in the JSON value space.

Nonetheless, this is confusing.

A "required" flag should adjust this behavior to not permit "undefined" as a valid value.

In a major version, this should default to

[2020-10-01 19:49] awwright commented on #264
I think the best way to go about this is adding a new interface, maybe `ValidatorResultError`, which has a similar interface to `ValidatorResult` except that it extends from `Error`. It would contain the first error as the `message`, and contain the rest of the errors under the `errors` property.

[2020-10-01 19:51] awwright commented on #300
I'm going to close this since this appears to have the correct behavior. Please try the latest release, `1.2.7`, and open a new issue if you encounter any further problems.

[2020-10-01 19:51] #300 closed

[2020-10-01 19:54] awwright commented on #157
I'm going to close this out for inactivity. Please, feel free to open a new issue if there's any further problems.

[2020-10-01 19:54] #157 closed

[2020-10-02 02:45] awwright commented on #213
I added a test and fixed the error message in 03ca6827027fcc9bf75afa14cf11220bf9e4e67c.

To avoid problems with importing, use a full URI like `http://example.com/schema.json`.

I can't tell for sure if this solves the problem; if you run into this after the next release, please file a new issue.

[2020-10-02 02:45] #213 closed

[2020-10-02 03:30] awwright commented on #290
Passing an invalid schema (anything but object/boolean) now throws a cleaner error, as of 7e1ace0559249b4bba018803c9eae46e75dbfdbd.

Please open a new issue if you have any further problems, and if possible, provide a code sample with expected and actual output.

[2020-10-02 03:30] #290 closed

[2020-10-02 03:35] awwright commented on #209
We're not using `instanceof Object` anymore, so I'm going to close this out. If this is still a problem, please file a new issue with a code sample so I can take a closer look.

[2020-10-02 03:35] #209 closed

[2020-10-02 03:47] awwright commented on #261
I took another look at this.

The reason we have to use `Object.hasOwnProperty.call` is because of this:

[code]

Using the `in` keyword would cause the following to be valid:

[code]

But maybe a flag to configure this behavior would work. There's a few different ways to do that though.

[2020-10-02 08:43] tomwyatt opened #313 "Valid pattern throws syntax error now that RegExp uses unicode flag"
There has been a recent change to include the unicode flag when creating a RegExp from a provided valid pattern and validating this expression. With the new flag added, the pattern is no longer acceptable as a pattern input.
`var expr = new RegExp(pattern, 'u');`

Input pattern:
`.{0.5}`

Output:
`SyntaxError: Invalid regular expression: /.{0.5}/: Incomplete quantifier`

[2020-10-02 09:47] hicksjduk commented on #309
The nestedErrors option does exactly what I want, thanks.

The main thing that is missing from the README is how to set the option: I had to look in the code to find out. It would also be good to have something which lists all the supported options. And thenestedErrors option should be referenced from the examples which show how to use anyOf, allOf or oneOf.

[2020-10-02 20:35] awwright commented on #313
@tomwyatt Can you please explain what you are trying to do with the regular expression?

Is it possible you mean to use `{0,5}` with a comma? I don't recognize a period there as a valid regular expression.

[2020-10-02 20:38] awwright commented on #309
I'll spin that into a paragraph and add an example then.

[2020-10-02 20:39] awwright commented on #261
This should be fixed with b247d8c34c9c06c9d15c9f530cb12df05800e48a

I figured out a way to write a function that's equivalent to `for(key in object)` that doesn't seem to have any performance hit.

[2020-10-02 20:50] awwright commented on #309
Added an example and rewrote some of the text in 320464812ed401500dcae231b13c998f32dbe957. Please let me know how you think that works.

[2020-10-02 20:50] #309 closed

[2020-10-02 20:57] #261 closed

[2020-10-02 21:01] awwright commented on #261
@jasonpincin @xavdid @landau I release 1.2.8, which should fix this issue. No code changes should be necessary.

Please open a new issue if you have any further problems.

[2020-10-04 09:19] hicksjduk commented on #309
Thanks Austin, that looks great. Thank you for your help with this.

[2020-10-05 09:44] tomwyatt commented on #313
@awwright I am using 'jsonschema.validate' to validate some value against the provided pattern.
You are right that **.{0,5}** would make more sense to use than **.{0.5}**. When no unicode flag is present, the javascript regex engine may be interpreting the pattern as literal characters.

In version 1.2.6, **.{0.5}** (using a dot, rather than comma) worked as a valid pattern.
`var expr = new RegExp

[2020-10-05 23:37] awwright commented on #313
@tomwyatt What is the pattern trying to match? Any 5 characters? Something else?

As far as I can tell, `.{0.5}` never matches anything.

[2020-10-06 01:01] awwright commented on #197
I'm going to close this as a duplicate of #18 — I think this issue would be resolved by #18, but please let me know if that's not the case.

[2020-10-06 01:01] #197 closed

[2020-10-06 01:40] awwright commented on #244
I'm going to fix this as a part of #257

[2020-10-06 01:40] #244 closed

[2020-10-06 14:24] tomwyatt commented on #313
**a{0a5}** would match this pattern. The 0,5 and {} are interpreted as literal characters when using the **.{0.5}** regex. It may not be the best pattern; a test was using it unintentionally and began failing with the new version, as the line which creates the RegExp throws with this pattern and the unicode flag.

[2020-10-06 21:23] awwright commented on #313
@tomwyatt Alright you convinced me, I just fixed this in 01fb6f857b52f517ec70037c581c9922ea43a1eb and dropped 1.2.9

[2020-10-06 21:23] #313 closed

[2020-10-06 21:32] awwright commented on #139
This seems like a duplicate of #212 and some other issues about localizing error messages, so I'm going to close this out.

If you have any further questions, please feel free to comment or open a new issue.

[2020-10-06 21:32] #139 closed

[2020-10-06 21:53] awwright commented on #269
I'm not sure what this was supposed to be doing, actually. I'll try to fix the example so it does something useful though.

[2020-10-06 21:57] awwright commented on #81
I'm going to close this because it's out of scope. Performing this is surprisingly complicated and better suited as a separate library. Feel free to link to those here.

[2020-10-06 21:57] #81 closed

[2020-10-07 02:58] pjunlin opened #314 "Cannot find name 'function' after upgrade to 1.2.9"
Hi,
We meet npm run build error when upgrade this library to version 1.2.9, any idea about this? There is no issue for 1.2.7

node_modules/jsonschema/lib/index.d.ts:98:27 - error TS2304: Cannot find name 'function'.

98     preValidateProperty?: function;

[2020-10-07 03:01] pjunlin commented on #314
@awwright , seems related to your submit in https://github.com/tdegrunt/jsonschema/commit/4ae86101f63627b2d7f9d8f56b5fa548d0b292a4.
Thank you!

[2020-10-07 06:08] awwright commented on #314
@pjunlin What is giving you the error? I'm not sure how to write a test for this

[2020-10-07 06:40] pjunlin commented on #314
@awwright does this
preValidateProperty?: function syntax related to specific node version , my node -v returns v12.18.0,
and my project has dev dependency on your latest 1.2.9 version jsonschema, and it just failed when run
npm run build